incubator/maven/xmlbeans/moduleconfig-xmlbeans/src/main/xsd/moduleconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.nav.no/pensjonsprogrammet/wpsconfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" type="wps:configurationType" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
  <xs:complexType name="activationspecificationsType">
    <xs:sequence>
      <xs:element type="wps:activationspecificationType" name="activationspecification" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="activationspecificationType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:byte" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="wps:securityType" name="security" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:webservicesType" name="webservices" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:runtimeType" name="runtime" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endpointType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:anyURI" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="securityType">
    <xs:sequence>
      <xs:element type="wps:authenticationType" name="authentication" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endpointsType">
    <xs:sequence>
      <xs:element type="wps:endpointType" name="endpoint" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="runtimeType">
    <xs:sequence>
      <xs:element type="wps:activationspecificationsType" name="activationspecifications" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webservicesType">
    <xs:sequence>
      <xs:element type="wps:endpointsType" name="endpoints" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authenticationType">
    <xs:sequence>
      <xs:element type="xs:string" name="requiresltpatoken"/>
      <xs:element type="xs:string" name="requiresusernametoken"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>