incubator/oppgave-poc/AvklareIdentitet.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="InnhenteDNummer" targetNamespace="http://oppgave-poc/AvklareIdentitet" xmlns:bons0="http://oppgave-poc/InnhenteDNummer" xmlns:tns="http://oppgave-poc/AvklareIdentitet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://oppgave-poc/AvklareIdentitet" xmlns:bons0="http://oppgave-poc/AvklareIdentitet">
      <xsd:element name="avklarIdentitet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="navn" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="avklarIdentitetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fnr" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="avklarIdentitetRequestMsg">
    <wsdl:part element="tns:avklarIdentitet" name="avklarIdentitetParameters"/>
  </wsdl:message>
    <wsdl:message name="avklarIdentitetResponseMsg">
    <wsdl:part element="tns:avklarIdentitetResponse" name="avklarIdentitetResult"/>
  </wsdl:message>
    <wsdl:portType name="AvklareIdentitet">
    <wsdl:operation name="avklarIdentitet">
      <wsdl:input message="tns:avklarIdentitetRequestMsg" name="avklarIdentitetRequest"/>
      <wsdl:output message="tns:avklarIdentitetResponseMsg" name="avklarIdentitetResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>