incubator/oppgave-poc/FnrUtil.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="FnrUtil" targetNamespace="http://oppgave-poc/FnrUtil" xmlns:tns="http://oppgave-poc/FnrUtil" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://oppgave-poc/FnrUtil">
      <xsd:element name="hentFodselsdato">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fnr" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentFodselsdatoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fodselsdato" nillable="true" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentFodselsdatoRequestMsg">
    <wsdl:part element="tns:hentFodselsdato" name="hentFodselsdatoParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFodselsdatoResponseMsg">
    <wsdl:part element="tns:hentFodselsdatoResponse" name="hentFodselsdatoResult"/>
  </wsdl:message>
    <wsdl:portType name="FnrUtil">
    <wsdl:operation name="hentFodselsdato">
      <wsdl:input message="tns:hentFodselsdatoRequestMsg" name="hentFodselsdatoRequest"/>
      <wsdl:output message="tns:hentFodselsdatoResponseMsg" name="hentFodselsdatoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>