incubator/oppgave-poc/IdentitetAvklaring.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SED" targetNamespace="http://oppgave-poc/Person" xmlns:bons0="http://oppgave-poc/SED" xmlns:bons1="http://oppgave-poc" xmlns:tns="http://oppgave-poc/Person" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://oppgave-poc/Person" xmlns:bons0="http://oppgave-poc/Person">
            <xsd:import namespace="http://oppgave-poc" schemaLocation="MinIDSetWithPIN.xsd"/>
            <xsd:element name="avklarIdentitet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="minIDSetWithPin" nillable="true" type="bons1:MinIDSetWithPIN"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="avklarIdentitetResponse">
        <xsd:complexType>
          <xsd:sequence>
                        <xsd:element name="norskPIN" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentIdDataFraSEDFault1_idIkkeFunnet" nillable="true" type="xsd:string"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="avklarIdentitetRequestMsg">
    <wsdl:part element="tns:avklarIdentitet" name="avklarIdentitetParameters"/>
  </wsdl:message>
    <wsdl:message name="avklarIdentitetResponseMsg">
    <wsdl:part element="tns:avklarIdentitetResponse" name="avklarIdentitetResult"/>
  </wsdl:message>
    <wsdl:message name="avklarIdentitet_norskIdIkkeFunnetMsg">
    <wsdl:part element="tns:hentIdDataFraSEDFault1_idIkkeFunnet" name="norskIdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="IdentitetAvklaring">
    <wsdl:operation name="avklarIdentitet">
      <wsdl:input message="tns:avklarIdentitetRequestMsg" name="avklarIdentitetRequest"/>
            <wsdl:output message="tns:avklarIdentitetResponseMsg" name="avklarIdentitetResponse"/>
            <wsdl:fault message="tns:avklarIdentitet_norskIdIkkeFunnetMsg" name="norskIdIkkeFunnet"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>