incubator/oppgave-poc/InnhentDNummer.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="InnhentDNummer" targetNamespace="http://oppgave-poc/InnhentDNummer" xmlns:tns="http://oppgave-poc/InnhentDNummer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://oppgave-poc/InnhentDNummer">
      <xsd:element name="innhentDNummer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="navn" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="innhentDNummerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dnr" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="innhentDNummerRequestMsg">
    <wsdl:part element="tns:innhentDNummer" name="innhentDNummerParameters"/>
  </wsdl:message>
    <wsdl:message name="innhentDNummerResponseMsg">
    <wsdl:part element="tns:innhentDNummerResponse" name="innhentDNummerResult"/>
  </wsdl:message>
    <wsdl:portType name="InnhentDNummer">
    <wsdl:operation name="innhentDNummer">
      <wsdl:input message="tns:innhentDNummerRequestMsg" name="innhentDNummerRequest"/>
      <wsdl:output message="tns:innhentDNummerResponseMsg" name="innhentDNummerResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>