incubator/oppgave-poc/ValiderPIN.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ValiderPIN" targetNamespace="http://oppgave-poc/ValiderPIN" xmlns:bons1="http://oppgave-poc" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:tns="http://oppgave-poc/ValiderPIN" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://oppgave-poc/ValiderPIN">
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="no/nav/lib/frg/gbo/GBOPerson.xsd"/>
            <xsd:import namespace="http://oppgave-poc" schemaLocation="MinIDSetWithPIN.xsd"/>
            <xsd:element name="validerPIN">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="norskPIN" nillable="true" type="bons2:GBOPerson"/>
                        <xsd:element name="minIDSetWithPIN" nillable="true" type="bons1:MinIDSetWithPIN"/>
                        <xsd:element name="fodselsdato" type="xsd:date"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validerPINResponse">
        <xsd:complexType>
          <xsd:sequence>
                        <xsd:element name="gyldig" nillable="true" type="xsd:boolean"/>
                        <xsd:element name="pin" nillable="true" type="xsd:string"/>
                        <xsd:element name="melding" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="validerPINRequestMsg">
    <wsdl:part element="tns:validerPIN" name="validerPINParameters"/>
  </wsdl:message>
    <wsdl:message name="validerPINResponseMsg">
    <wsdl:part element="tns:validerPINResponse" name="validerPINResult"/>
  </wsdl:message>
    <wsdl:portType name="ValiderPIN">
    <wsdl:operation name="validerPIN">
            <wsdl:input message="tns:validerPINRequestMsg" name="validerPINRequest"/>
            <wsdl:output message="tns:validerPINResponseMsg" name="validerPINResponse"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>