incubator/stelvio-example/stelvio-example-person/stelvio-example-person-provider-lib/no/stelvio/example/person/provider/V2/FindPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.stelvio.no/example/person/provider/V2"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://www.stelvio.no/example/person/provider/V2">

	<xsd:include schemaLocation="PersonList.xsd"></xsd:include>

	<xsd:complexType name="FindPersonResponse">
		<xsd:sequence>


			<xsd:element minOccurs="0" name="personList"
				type="bons1:PersonList">
			</xsd:element>
			<xsd:element minOccurs="1" name="totalHits"
				type="xsd:int">
			</xsd:element>
			<xsd:any maxOccurs="unbounded" minOccurs="0"
				namespace="##any" processContents="lax">
			</xsd:any>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>