incubator/stelvio-example/stelvio-example-person/stelvio-example-person-provider-lib/no/stelvio/example/person/provider/V2/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="PersonService" targetNamespace="http://www.stelvio.no/example/person/provider/V2/PersonService" xmlns:bons0="http://www.stelvio.no/example/person/V1/PersonService" xmlns:bons2="http://www.stelvio.no/example/person/provider/V1" xmlns:bons4="http://www.stelvio.no/example/person/provider/V2" xmlns:tns="http://www.stelvio.no/example/person/provider/V2/PersonService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.stelvio.no/example/person/provider/V2/PersonService" xmlns:bons0="http://www.stelvio.no/example/person/provider/V1" xmlns:bons3="http://www.stelvio.no/example/person/provider/V2/PersonService">
            <xsd:import namespace="http://www.stelvio.no/example/person/provider/V1" schemaLocation="../V1/FindPersonRequest.xsd"/>
            <xsd:import namespace="http://www.stelvio.no/example/person/provider/V1" schemaLocation="../V1/GetPersonRequest.xsd"/>
            <xsd:import namespace="http://www.stelvio.no/example/person/provider/V1" schemaLocation="../V1/GetPersonResponse.xsd"/>
            <xsd:import namespace="http://www.stelvio.no/example/person/provider/V1" schemaLocation="../V1/PersonNotFoundFault.xsd"/>
            <xsd:import namespace="http://www.stelvio.no/example/person/provider/V2" schemaLocation="FindPersonResponse.xsd"/>
      <xsd:element name="getPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getPersonRequest" nillable="true" type="bons0:GetPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getPersonResponse" nillable="true" type="bons0:GetPersonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPersonFault1_getPersonPersonNotFoundFault" nillable="true" type="bons0:PersonNotFoundFault"/>
            <xsd:element name="findPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="findPersonRequest" nillable="true" type="bons0:FindPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="findPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="findPersonResponse" nillable="true" type="bons4:FindPersonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="getPersonRequestMsg">
    <wsdl:part element="tns:getPerson" name="getPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="getPersonResponseMsg">
    <wsdl:part element="tns:getPersonResponse" name="getPersonResult"/>
  </wsdl:message>
    <wsdl:message name="getPerson_getPersonPersonNotFoundFaultMsg">
    <wsdl:part element="tns:getPersonFault1_getPersonPersonNotFoundFault" name="getPersonPersonNotFoundFault"/>
  </wsdl:message>
    <wsdl:message name="findPersonRequestMsg">
    <wsdl:part element="tns:findPerson" name="findPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="findPersonResponseMsg">
    <wsdl:part element="tns:findPersonResponse" name="findPersonResult"/>
  </wsdl:message>
    <wsdl:portType name="PersonService">
    <wsdl:operation name="getPerson">
      <wsdl:input message="tns:getPersonRequestMsg" name="getPersonRequest"/>
      <wsdl:output message="tns:getPersonResponseMsg" name="getPersonResponse"/>
      <wsdl:fault message="tns:getPerson_getPersonPersonNotFoundFaultMsg" name="getPersonPersonNotFoundFault"/>
    </wsdl:operation>
        <wsdl:operation name="findPerson">
      <wsdl:input message="tns:findPersonRequestMsg" name="findPersonRequest"/>
      <wsdl:output message="tns:findPersonResponseMsg" name="findPersonResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>