incubator/trace-poc/nav-tjeneste-person-trace/no/nav/inf/TPSPerson.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="TPSPerson" targetNamespace="http://nav-tjeneste-person/no/nav/inf/TPSPerson" xmlns:bons1="http://nav-tjeneste-person/no/nav/asbo" xmlns:tns="http://nav-tjeneste-person/no/nav/inf/TPSPerson" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://nav-tjeneste-person/no/nav/asbo">
            <xsd:include schemaLocation="../asbo/tpsPersonDataReq.xsd"/>
            <xsd:include schemaLocation="../asbo/tpsPersonDataRes.xsd"/>
        </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://nav-tjeneste-person/no/nav/inf/TPSPerson" xmlns:bons2="http://nav-tjeneste-person/no/nav/asbo">
            <xsd:import namespace="http://nav-tjeneste-person/no/nav/asbo" schemaLocation="../asbo/tpsPersonDataReq.xsd"/>
            <xsd:import namespace="http://nav-tjeneste-person/no/nav/asbo" schemaLocation="../asbo/tpsPersonDataRes.xsd"/>
            <xsd:import namespace="http://nav-tjeneste-person/no/nav/asbo"/>
      <xsd:element name="hentTPSData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTPSDataInput" type="bons2:tpsPersonDataReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTPSDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTPSDataOutput" type="bons2:tpsPersonDataRes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentTPSDataRequestMsg">
    <wsdl:part element="tns:hentTPSData" name="hentTPSDataParameters"/>
  </wsdl:message>
  <wsdl:message name="hentTPSDataResponseMsg">
    <wsdl:part element="tns:hentTPSDataResponse" name="hentTPSDataResult"/>
  </wsdl:message>
  <wsdl:portType name="TPSPerson">
    <wsdl:operation name="hentTPSData">
      <wsdl:input message="tns:hentTPSDataRequestMsg" name="hentTPSDataRequest"/>
      <wsdl:output message="tns:hentTPSDataResponseMsg" name="hentTPSDataResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>