incubator/stelvio-example/stelvio-example-order/stelvio-example-order-design/order/V1/UpdateOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1" version="1.1" xmlns:order="http://www.stelvio.no/example/order/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="OrderLineItemSpecification.xsd"/>
  <xsd:complexType name="UpdateOrderRequest">
    <xsd:sequence>
      <xsd:element name="orderId" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="orderLineItemSpecification" type="order:OrderLineItemSpecification"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>