int/maven/plugins/maven-service-registry-updater-plugin/src/test/resources/nav-opptjening-tjeneste-1.1.2-alpha003-wsdlif/no/nav/virksomhet/tjenester/opptjening/opptjening.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/opptjening/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="opptjening" targetNamespace="http://nav.no/virksomhet/tjenester/opptjening/v1">
  <wsdl:types>
    <xsd:schema xmlns:feil="http://nav.no/virksomhet/tjenester/opptjening/feil/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/opptjening/meldinger/v1" targetNamespace="http://nav.no/virksomhet/tjenester/opptjening/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/opptjening/meldinger/v1" schemaLocation="Meldinger/Meldinger.xsd" />
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/opptjening/feil/v1" schemaLocation="Feil/Feil.xsd" />
      <xsd:element name="hentBeholdningListePersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="hentBeholdningListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentBeholdningListeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBeholdningListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentBeholdningsListeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInntektListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentInntektListeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInntektListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentInntektListeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOpptjeningsgrunnlagPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="hentOpptjeningsgrunnlag">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentOpptjeningsgrunnlagRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOpptjeningsgrunnlagResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentOpptjeningsgrunnlagResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPensjonspoengListePersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="hentPensjonspoengListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentPensjonspoengListeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPensjonspoengListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentPensjonspoengListeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRestpensjonListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentRestpensjonListeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRestpensjonListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentRestpensjonListeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreDagpenger">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:lagreDagpengerRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreDagpengerResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreDagpengerOpptjeningEksistererAllerede" type="feil:OpptjeningEksistererAllerede" />
      <xsd:element name="lagreDagpengerOpptjeningEksistererIkke" type="feil:OpptjeningEksistererIkke" />
      <xsd:element name="lagreDagpengerPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="lagreDagpengerUgyldigDagpenger" type="feil:UgyldigDagpenger" />
      <xsd:element name="lagreDagpengerUgyldigOpptjeningsgrunnlag" type="feil:UgyldigOpptjeningsgrunnlag" />
      <xsd:element name="lagreForstegangstjeneste">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:lagreForstegangstjenesteRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreForstegangstjenesteResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreForstegangstjenesteOpptjeningEksistererIkke" type="feil:OpptjeningEksistererIkke" />
      <xsd:element name="lagreForstegangstjenestePersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="lagreForstegangstjenesteUgyldigForstegangstjeneste" type="feil:UgyldigForstegangstjeneste" />
      <xsd:element name="lagreForstegangstjenesteUgyldigOpptjeningsgrunnlag" type="feil:UgyldigOpptjeningsgrunnlag" />
      <xsd:element name="lagreInntekt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:lagreInntektRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreInntektResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreInntektPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="lagreOmsorgBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:lagreOmsorgBolkRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOmsorgBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOmsorgBolkPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="overforOmsorgBolk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:overforOmsorgBolkRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="overforOmsorgBolkResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="overforOmsorgBolkOpptjeningEksistererIkke" type="feil:OpptjeningEksistererIkke" />
      <xsd:element name="overforOmsorgBolkPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="slettInntekt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:slettInntektRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettInntektResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettInntektOpptjeningEksistererIkke" type="feil:OpptjeningEksistererIkke" />
      <xsd:element name="slettInntektPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="slettDagpenger">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:slettDagpengerRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettDagpengerResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettDagpengerOpptjeningEksistererIkke" type="feil:OpptjeningEksistererIkke" />
      <xsd:element name="slettDagpengerPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="slettForstegangstjeneste">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:slettForstegangstjenesteRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettForstegangstjenesteResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettForstegangstjenesteOpptjeningEksistererIkke" type="feil:OpptjeningEksistererIkke" />
      <xsd:element name="slettForstegangstjenestePersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="slettOmsorg">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:slettOmsorgRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettOmsorgResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettOmsorgOpptjeningEksistererIkke" type="feil:OpptjeningEksistererIkke" />
      <xsd:element name="slettOmsorgPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="hentOpptjeningsgrunnlagHistorikkPersonEksistererIkke" type="feil:PersonEksistererIkke" />
      <xsd:element name="hentOpptjeningsgrunnlagHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:hentOpptjeningsgrunnlagHistorikkRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOpptjeningsgrunnlagHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:hentOpptjeningsgrunnlagHistorikkResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="overforOmsorgBolkRequest">
    <wsdl:part name="parameters" element="tns:overforOmsorgBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettOmsorgRequest">
    <wsdl:part name="parameters" element="tns:slettOmsorg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreInntektRequest">
    <wsdl:part name="parameters" element="tns:lagreInntekt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOpptjeningsgrunnlagHistorikkResponse">
    <wsdl:part name="parameters" element="tns:hentOpptjeningsgrunnlagHistorikkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettInntektRequest">
    <wsdl:part name="parameters" element="tns:slettInntekt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettForstegangstjeneste_OpptjeningEksistererIkke">
    <wsdl:part name="OpptjeningEksistererIkke" element="tns:slettForstegangstjenesteOpptjeningEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForstegangstjenesteResponse">
    <wsdl:part name="parameters" element="tns:lagreForstegangstjenesteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettDagpengerRequest">
    <wsdl:part name="parameters" element="tns:slettDagpenger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForstegangstjeneste_UgyldigForstegangstjeneste">
    <wsdl:part name="UgyldigForstegangstjeneste" element="tns:lagreForstegangstjenesteUgyldigForstegangstjeneste">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPensjonspoengListe_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:hentPensjonspoengListePersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForstegangstjeneste_UgyldigOpptjeningsgrunnlag">
    <wsdl:part name="UgyldigOpptjeningsgrunnlag" element="tns:lagreForstegangstjenesteUgyldigOpptjeningsgrunnlag">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOpptjeningsgrunnlag_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:hentOpptjeningsgrunnlagPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettForstegangstjenesteRequest">
    <wsdl:part name="parameters" element="tns:slettForstegangstjeneste">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForstegangstjeneste_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:lagreForstegangstjenestePersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettInntekt_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:slettInntektPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettOmsorgResponse">
    <wsdl:part name="parameters" element="tns:slettOmsorgResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForstegangstjenesteRequest">
    <wsdl:part name="parameters" element="tns:lagreForstegangstjeneste">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOpptjeningsgrunnlagResponse">
    <wsdl:part name="parameters" element="tns:hentOpptjeningsgrunnlagResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPensjonspoengListeRequest">
    <wsdl:part name="parameters" element="tns:hentPensjonspoengListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettDagpenger_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:slettDagpengerPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreInntekt_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:lagreInntektPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOmsorgBolkResponse">
    <wsdl:part name="parameters" element="tns:lagreOmsorgBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentInntektListeRequest">
    <wsdl:part name="parameters" element="tns:hentInntektListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="overforOmsorgBolk_OpptjeningEksistererIkke">
    <wsdl:part name="OpptjeningEksistererIkke" element="tns:overforOmsorgBolkOpptjeningEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPensjonspoengListeResponse">
    <wsdl:part name="parameters" element="tns:hentPensjonspoengListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettOmsorg_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:slettOmsorgPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettOmsorg_OpptjeningEksistererIkke">
    <wsdl:part name="OpptjeningEksistererIkke" element="tns:slettOmsorgOpptjeningEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreDagpenger_OpptjeningEksistererIkke">
    <wsdl:part name="OpptjeningEksistererIkke" element="tns:lagreDagpengerOpptjeningEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreInntektResponse">
    <wsdl:part name="parameters" element="tns:lagreInntektResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettInntektResponse">
    <wsdl:part name="parameters" element="tns:slettInntektResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettForstegangstjeneste_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:slettForstegangstjenestePersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreDagpengerResponse">
    <wsdl:part name="parameters" element="tns:lagreDagpengerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOpptjeningsgrunnlagHistorikkRequest">
    <wsdl:part name="parameters" element="tns:hentOpptjeningsgrunnlagHistorikk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRestpensjonListeRequest">
    <wsdl:part name="parameters" element="tns:hentRestpensjonListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBeholdningListe_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:hentBeholdningListePersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOpptjeningsgrunnlagHistorikk_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:hentOpptjeningsgrunnlagHistorikkPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBeholdningListeResponse">
    <wsdl:part name="parameters" element="tns:hentBeholdningListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettDagpengerResponse">
    <wsdl:part name="parameters" element="tns:slettDagpengerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="overforOmsorgBolkResponse">
    <wsdl:part name="parameters" element="tns:overforOmsorgBolkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreDagpenger_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:lagreDagpengerPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreDagpenger_OpptjeningEksistererAllerede">
    <wsdl:part name="OpptjeningEksistererAllerede" element="tns:lagreDagpengerOpptjeningEksistererAllerede">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreDagpenger_UgyldigDagpenger">
    <wsdl:part name="UgyldigDagpenger" element="tns:lagreDagpengerUgyldigDagpenger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentOpptjeningsgrunnlagRequest">
    <wsdl:part name="parameters" element="tns:hentOpptjeningsgrunnlag">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreDagpenger_UgyldigOpptjeningsgrunnlag">
    <wsdl:part name="UgyldigOpptjeningsgrunnlag" element="tns:lagreDagpengerUgyldigOpptjeningsgrunnlag">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettDagpenger_OpptjeningEksistererIkke">
    <wsdl:part name="OpptjeningEksistererIkke" element="tns:slettDagpengerOpptjeningEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOmsorgBolkRequest">
    <wsdl:part name="parameters" element="tns:lagreOmsorgBolk">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreOmsorgBolk_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:lagreOmsorgBolkPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettInntekt_OpptjeningEksistererIkke">
    <wsdl:part name="OpptjeningEksistererIkke" element="tns:slettInntektOpptjeningEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="slettForstegangstjenesteResponse">
    <wsdl:part name="parameters" element="tns:slettForstegangstjenesteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreDagpengerRequest">
    <wsdl:part name="parameters" element="tns:lagreDagpenger">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lagreForstegangstjeneste_OpptjeningEksistererIkke">
    <wsdl:part name="OpptjeningEksistererIkke" element="tns:lagreForstegangstjenesteOpptjeningEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentBeholdningListeRequest">
    <wsdl:part name="parameters" element="tns:hentBeholdningListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="overforOmsorgBolk_PersonEksistererIkke">
    <wsdl:part name="PersonEksistererIkke" element="tns:overforOmsorgBolkPersonEksistererIkke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentInntektListeResponse">
    <wsdl:part name="parameters" element="tns:hentInntektListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentRestpensjonListeResponse">
    <wsdl:part name="parameters" element="tns:hentRestpensjonListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Opptjening">
    <wsdl:operation name="hentBeholdningListe">
<wsdl:documentation>Tjenesten returnerer alle typer beholdninger - både før og etter uttak av alderspensjon. Tjenesten støtter filtrering på beholdningstype og fom/tom datoer. Det er også mulig å angi returmengde for å angi om grunnlag og beløp for beholdningene skal returneres.
 </wsdl:documentation>
      <wsdl:input message="tns:hentBeholdningListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentBeholdningListeResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:hentBeholdningListe_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentInntektListe">
<wsdl:documentation>Tjenesten HentInntektListe benyttes for å hente en liste av gyldige pensjonsgivende inntekter (PGI) for en gitt person. 
    
Dersom opsjonelle inputparametere for datoperiode og inntektstype ikke er satt, vil alle gyldige inntekter (for alle år og alle typer) returneres. I dette tilfellet kan det returneres mer enn én inntekt for en bruker på samme år, men en bruker vil ikke ha flere enn én gyldig inntekt av en gitt inntektstype per år. Det bemerkes at de fleste kallende komponenter vil ha behov for sumverdien av alle pensjonsgivende inntekter hvor hvert år, og bør således kalle tjenesten med inntektstype SUM_PI.
 </wsdl:documentation>
      <wsdl:input message="tns:hentInntektListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentInntektListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOpptjeningsgrunnlag">
<wsdl:documentation>&lt;p&gt;Tjenesten returnerer opplysninger om opptjeningsgrunnlag. Opptjeningsgrunnlag vil si informasjon om pensjonsgivende inntekt (PGI), omsorgsgrunnlag, dagpenger, dagpengegrunnlag og avtjent verneplikt.Tjenesten støtter filtrering på opptjeningstyper og perioder.&lt;/p&gt;&lt;p&gt;Tjenesten returnerer Opptjeningsgrunnlag i tillegg til alle underliggende objekter slik det er beskrevet i Domenemodellen for Opptjening på ESB.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:hentOpptjeningsgrunnlagRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentOpptjeningsgrunnlagResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:hentOpptjeningsgrunnlag_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentPensjonspoengListe">
<wsdl:documentation>Tjenesten skal returnere en liste av en brukers pensjonspoeng som er lagret i POPP. Pensjonsopptjening etter kapittel 19 i folketrygdloven gis i form av pensjonspoeng. Poeng kan gis for pensjonsgivende inntekter eller omsorgsarbeid. 

Tjenesten returnerer liste av Pensjonspoeng i tillegg til alle underliggende objekter slik det er beskrevet i Domenemodellen for Opptjening på ESB. </wsdl:documentation>
      <wsdl:input message="tns:hentPensjonspoengListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPensjonspoengListeResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:hentPensjonspoengListe_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentRestpensjonListe">
<wsdl:documentation>Formålet med tjenesten er å returnere restpensjoner til en bruker fra Opptjeningsregisteret. Enhver restpensjon returnert av tjenesten skal være gyldig. Dette tas for gitt i resten av dokumentet: enhver bruk av ordet ’restpensjon’ sikter til en gyldig sådan i resten av dokumentet.

Tjenesten returnerer liste av Restpensjoner i tillegg til alle underliggende objekter slik det er beskrevet i Domenemodellen for Opptjening på ESB.
 </wsdl:documentation>
      <wsdl:input message="tns:hentRestpensjonListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentRestpensjonListeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lagreDagpenger">
<wsdl:documentation>Tjenesten skal lagre pensjonsopptjening for dagpengeperioder i POPP i henhold til kapittel 20 i Folketrygdloven. Tjenesten kan benyttes til å lagre nye innslag, og kan også brukes til å oppdatere eksisterende innslag. Ved sistnevnte blir innslag som eksisterte fra før ugyldiggjort. Tjenesten har støtte for å lagre opplysninger om dagpengeperioder for både ordinære dagpengemottagere og fiskere  og fangstmenn. Tjenesten kaller fellesfunksjoner FPOPP002 som oppdaterer pensjonsbeholdningen til bruker med nye opplysninger om dagpengeperioder, og FPOPP003 som oppdaterer oversikt i POPP over hvilke opptjeninger som er oppdatert i løpet av året.
    
Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.


Tjenesten vil feile dersom registeret ikke kjenner til fødselsnummeret.
 </wsdl:documentation>
      <wsdl:input message="tns:lagreDagpengerRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreDagpengerResponse">
    </wsdl:output>
      <wsdl:fault name="UgyldigDagpenger" message="tns:lagreDagpenger_UgyldigDagpenger">
    </wsdl:fault>
      <wsdl:fault name="PersonEksistererIkke" message="tns:lagreDagpenger_PersonEksistererIkke">
    </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererAllerede" message="tns:lagreDagpenger_OpptjeningEksistererAllerede">
    </wsdl:fault>
      <wsdl:fault name="UgyldigOpptjeningsgrunnlag" message="tns:lagreDagpenger_UgyldigOpptjeningsgrunnlag">
    </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke" message="tns:lagreDagpenger_OpptjeningEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreForstegangstjeneste">
<wsdl:documentation>&lt;p&gt;lTjenesten skal lagre pensjonsopptjening og perioder for avtjent førstegangstjeneste i POPP i henhold til kapittel 20 i Folketrygdloven. Tjenesten kan benyttes til å lagre ny opptjening og til å gjøre endringer på eksisterende opptjening. Ved sistnevnte blir innslag som eksisterte fra før ugyldiggjort.&lt;br&gt;&lt;br&gt;Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.&lt;br&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:lagreForstegangstjenesteRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreForstegangstjenesteResponse">
    </wsdl:output>
      <wsdl:fault name="OpptjeningEksistererIkke" message="tns:lagreForstegangstjeneste_OpptjeningEksistererIkke">
    </wsdl:fault>
      <wsdl:fault name="UgyldigOpptjeningsgrunnlag" message="tns:lagreForstegangstjeneste_UgyldigOpptjeningsgrunnlag">
    </wsdl:fault>
      <wsdl:fault name="UgyldigForstegangstjeneste" message="tns:lagreForstegangstjeneste_UgyldigForstegangstjeneste">
    </wsdl:fault>
      <wsdl:fault name="PersonEksistererIkke" message="tns:lagreForstegangstjeneste_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreInntekt">
<wsdl:documentation>Tjenesten godskriver/oppdaterer inntekt for en bruker av en type for ett år og initierer satsvis og annen tilknyttet oppdatering av:
    a) pensjonspoeng, for alle kall
    b) beholdning, brukeren opptjener etter kap. 20
    c) løpende pensjon, brukeren har løpende pensjon

Tjenesten vil feile dersom registeret ikke kjenner til fødselsnummeret.
 </wsdl:documentation>
      <wsdl:input message="tns:lagreInntektRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreInntektResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:lagreInntekt_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreOmsorgBolk">
<wsdl:documentation>Tjenesten skal godskrive/endre pensjonsopptjening for omsorg i POPP i henhold til kapittel 19 og 20 i Folketrygdloven. Av hensyn til historikk i POPP gjøres dette ved at innslag som eksisterer fra før ugyldiggjøres i stedet for å slettes fysisk.
    
Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.

Tjenesten vil feile dersom registeret ikke kjenner til fødselsnummrene. Dersom tjenesten feiler vil alle endringe rulles tilbake.
 </wsdl:documentation>
      <wsdl:input message="tns:lagreOmsorgBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:lagreOmsorgBolkResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:lagreOmsorgBolk_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="overforOmsorgBolk">
<wsdl:documentation>Tjenesten overfører omsorg av en type for ett år fra en bruker til en annen bruker. 
Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.
Tjenesten vil feile dersom registeret ikke kjenner til fødselsnumrene. Dersom tjenesten feiler vil alle endringer rulles tilbake.
 </wsdl:documentation>
      <wsdl:input message="tns:overforOmsorgBolkRequest">
    </wsdl:input>
      <wsdl:output message="tns:overforOmsorgBolkResponse">
    </wsdl:output>
      <wsdl:fault name="OpptjeningEksistererIkke" message="tns:overforOmsorgBolk_OpptjeningEksistererIkke">
    </wsdl:fault>
      <wsdl:fault name="PersonEksistererIkke" message="tns:overforOmsorgBolk_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettInntekt">
<wsdl:documentation>Tjenesten sletter inntekt fra opptjeningsregisteret.
Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.

Tjenesten vil feile dersom registeret ikke kjenner til fødselsnummeret eller opptjeningen ikke finnes.
 </wsdl:documentation>
      <wsdl:input message="tns:slettInntektRequest">
    </wsdl:input>
      <wsdl:output message="tns:slettInntektResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:slettInntekt_PersonEksistererIkke">
    </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke" message="tns:slettInntekt_OpptjeningEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettDagpenger">
<wsdl:documentation>Tjenesten brukes for å slette en eksisterende opplysninger dagpengeperioder i POPP. Tjenesten utfører logisk sletting som innebærer at innslaget ikke slettes fysisk men ugyldiggjøres ved å sette status til innslaget som ugyldig. Tjenesten har støtte for å slette opplysninger om dagpengeperioder for både ordinære dagpengemottagere og fiskere og fangstmenn.
    
Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.

Tjenesten vil feile dersom registeret ikke kjenner til fødselsnummeret eller opptjeningen ikke finnes.

Personens fødselsnummer (fnr) sammen med dagpengegrunnlagets år (ar) og type (dagpengerKode) danner en unik nøkkel. </wsdl:documentation>
      <wsdl:input message="tns:slettDagpengerRequest">
    </wsdl:input>
      <wsdl:output message="tns:slettDagpengerResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:slettDagpenger_PersonEksistererIkke">
    </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke" message="tns:slettDagpenger_OpptjeningEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettForstegangstjeneste">
<wsdl:documentation>Tjenesten brukes til å slette en eksisterende grunnlag for avtjent førstegangstjeneste i POPP. Tjenesten utfører logisk sletting som innebærer at innslaget ikke slettes fysisk, men ugyldiggjøres ved å sette status til innslaget som ugyldig. Tjenesten ugyldiggjør all avtjent førstegangstjeneste for personen identifisert ved fødselsnummer (fnr).
    
Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.

Tjenesten vil feile dersom registeret ikke kjenner til fødselsnummeret eller opptjeningen ikke finnes.
 </wsdl:documentation>
      <wsdl:input message="tns:slettForstegangstjenesteRequest">
    </wsdl:input>
      <wsdl:output message="tns:slettForstegangstjenesteResponse">
    </wsdl:output>
      <wsdl:fault name="OpptjeningEksistererIkke" message="tns:slettForstegangstjeneste_OpptjeningEksistererIkke">
    </wsdl:fault>
      <wsdl:fault name="PersonEksistererIkke" message="tns:slettForstegangstjeneste_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettOmsorg">
<wsdl:documentation>Tjenesten skal slette pensjonsopptjening for omsorg i POPP i henhold til kapittel 19 og 20 i Folketrygdloven. Av hensyn til historikk i POPP gjøres dette ved at innslaget ugyldiggjøres i stedet for å slettes fysisk.
Tjenesten utfører all sin oppdatering i én transaksjon. Hvis konsument mottar feil tilbake fra tjenesten betyr det at intet har blitt lagret i POPP.
Tjenesten oppdaterer også pensjonsbeholdningen til bruker med korrigerte opplysninger.
Tjenesten vil feile dersom registeret ikke kjenner til fødselsnummeret eller opptjeningen ikke finnes.
 </wsdl:documentation>
      <wsdl:input message="tns:slettOmsorgRequest">
    </wsdl:input>
      <wsdl:output message="tns:slettOmsorgResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:slettOmsorg_PersonEksistererIkke">
    </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke" message="tns:slettOmsorg_OpptjeningEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentOpptjeningsgrunnlagHistorikk">
<wsdl:documentation>&lt;p&gt;Tjenesten returnerer opplysninger om opptjeningsgrunnlag i tilleg til å returnerer ugyldiggjorte (historiske) opptjeningsinnslag. Opptjeningsgrunnlag vil si informasjon om pensjonsgivende inntekt (PGI), omsorgsgrunnlag, dagpenger, dagpengegrunnlag og avtjent verneplikt.Tjenesten støtter filtrering på opptjeningstyper og perioder.&lt;/p&gt;&lt;p&gt;Tjenesten returnerer Opptjeningsgrunnlag i tillegg til alle underliggende objekter slik det er beskrevet i Domenemodellen for Opptjening på ESB. &lt;br&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:hentOpptjeningsgrunnlagHistorikkRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentOpptjeningsgrunnlagHistorikkResponse">
    </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke" message="tns:hentOpptjeningsgrunnlagHistorikk_PersonEksistererIkke">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
