int/stelvio-test-responsetime/stelvio-module-responsetime/no/nav/data/measureResponseTimesInput.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-module-responsetime/no/nav/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="measureResponseTimesInput">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="numberOfCalls" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="messageSize" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="testWithList" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>