incubator/stelvio-example/stelvio-example-echo/stelvio-example-echo-service-specification/src/main/wsdl/example/services/V1/Echo/Echo.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="Echo" targetNamespace="http://stelvio.no/example/services/V1/Echo/" xmlns:tns="http://stelvio.no/example/services/V1/Echo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://stelvio.no/example/services/V1/Echo/">
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoechoFault1" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoEchoFault1">
    <wsdl:part element="tns:echoechoFault1" name="echoFault1"/>
  </wsdl:message>
  <wsdl:portType name="Echo">
    <wsdl:documentation>Throws back echoes like a wall.

Does not provide any guarantee for echoing "Quack". </wsdl:documentation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest"/>
      <wsdl:output message="tns:echoResponse"/>
      <wsdl:fault message="tns:echoEchoFault1" name="echoFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>