incubator/stelvio-example/stelvio-example-echo/stelvio-example-echo-service-specification/src/main/wsdl/example/services/echo/v1/Echo-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="v1" targetNamespace="http://stelvio.no/example/services/echo/v1/" xmlns:tns="http://stelvio.no/example/services/echo/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://stelvio.no/example/services/echo/v1/">
      <xsd:element name="EchoechoRequest1" type="xsd:string"/>
      <xsd:element name="EchoechoResponse1" type="xsd:string"/>
      <xsd:element name="EchoechoEchoFault11" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EchoechoRequest">
    <wsdl:part element="tns:EchoechoRequest1" name="input"/>
  </wsdl:message>
  <wsdl:message name="EchoechoResponse">
    <wsdl:part element="tns:EchoechoResponse1" name="output"/>
  </wsdl:message>
  <wsdl:message name="EchoechoEchoFault1">
    <wsdl:part element="tns:EchoechoEchoFault11" name="echoFault1"/>
  </wsdl:message>
  <wsdl:portType name="Echo">
    <wsdl:documentation>Throws back echoes like a wall.

Does not provide any guarantee for echoing "Quack". </wsdl:documentation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns:EchoechoRequest"/>
      <wsdl:output message="tns:EchoechoResponse"/>
      <wsdl:fault message="tns:EchoechoEchoFault1" name="echoFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>