incubator/nav-int-testproc/nav-ent-test-proctest/no/nav/inf/EntVedtak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/inf/Vedtak" xmlns:bons2="http://nav-lib-test/no/nav/lib/test/gbo" xmlns:bons3="http://nav-lib-test/no/nav/lib/test/fault" xmlns:tns="http://nav-ent-test-proctest/no/nav/inf/EntVedtak" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Vedtak" targetNamespace="http://nav-ent-test-proctest/no/nav/inf/EntVedtak">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-lib-test/no/nav/lib/test/fault" xmlns:bons1="http://nav-ent-test-proctest/no/nav/inf/EntVedtak" xmlns:tns="http://nav-lib-pen/no/nav/lib/pen/inf/Vedtak" targetNamespace="http://nav-ent-test-proctest/no/nav/inf/EntVedtak" xmlns:bons2="http://nav-lib-test/no/nav/lib/test/gbo" xmlns:bons3="http://nav-lib-test/no/nav/lib/test/fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/fault" schemaLocation="../lib/test/fault/FaultFeilStatusForVedtak.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/fault" schemaLocation="../lib/test/fault/FaultStatusForVedtakAlleredeSatt.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOLagreVedtakStatusRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/fault" schemaLocation="../lib/test/fault/FaultVedtakIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOVedtak.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOHentVedtakRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOVedtakListe.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOHentVedtakListeRequest.xsd"/>
            <xsd:element name="hentVedtakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentVedtakListeRequest" nillable="true" type="bons2:GBOHentVedtakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentVedtakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentVedtakListeResponse" nillable="true" type="bons2:GBOVedtakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentVedtak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentVedtakRequest" nillable="true" type="bons2:GBOHentVedtakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentVedtakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentVedtakResponse" nillable="true" type="bons2:GBOVedtak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentVedtak_faultVedtakIkkeFunnetF" type="bons0:FaultVedtakIkkeFunnet"/>
            <xsd:element name="lagreVedtakStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreVedtakStatusRequest" nillable="true" type="bons2:GBOLagreVedtakStatusRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreVedtakStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreVedtakStatusRequest" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreVedtakStatus_faultStatusForVedtakAlleredeSatt" type="bons0:FaultStatusForVedtakAlleredeSatt"/>
            <xsd:element name="lagreVedtakStatus_faultFeilStatusForVedtak" type="bons0:FaultFeilStatusForVedtak"/>
            <xsd:element name="lagreVedtak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreVedtakRequest" nillable="true" type="bons2:GBOVedtak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreVedtakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreVedtakResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentVedtakListeRequestMsg">
    <wsdl:part element="tns:hentVedtakListe" name="hentVedtakListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentVedtakListeResponseMsg">
    <wsdl:part element="tns:hentVedtakListeResponse" name="hentVedtakListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentVedtakRequestMsg">
    <wsdl:part element="tns:hentVedtak" name="hentVedtakParameters"/>
  </wsdl:message>
    <wsdl:message name="hentVedtakResponseMsg">
    <wsdl:part element="tns:hentVedtakResponse" name="hentVedtakResult"/>
  </wsdl:message>
    <wsdl:message name="hentVedtak_faultVedtakIkkeFunnetFMsg">
    <wsdl:part element="tns:hentVedtak_faultVedtakIkkeFunnetF" name="faultVedtakIkkeFunnetF"/>
  </wsdl:message>
    <wsdl:message name="lagreVedtakStatusRequestMsg">
    <wsdl:part element="tns:lagreVedtakStatus" name="lagreVedtakStatusParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreVedtakStatusResponseMsg">
    <wsdl:part element="tns:lagreVedtakStatusResponse" name="lagreVedtakStatusResult"/>
  </wsdl:message>
    <wsdl:message name="lagreVedtakStatus_faultStatusForVedtakAlleredeSattMsg">
    <wsdl:part element="tns:lagreVedtakStatus_faultStatusForVedtakAlleredeSatt" name="faultStatusForVedtakAlleredeSatt"/>
  </wsdl:message>
    <wsdl:message name="lagreVedtakStatus_faultFeilStatusForVedtakMsg">
    <wsdl:part element="tns:lagreVedtakStatus_faultFeilStatusForVedtak" name="faultFeilStatusForVedtak"/>
  </wsdl:message>
    <wsdl:message name="lagreVedtakRequestMsg">
    <wsdl:part element="tns:lagreVedtak" name="lagreVedtakParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreVedtakResponseMsg">
    <wsdl:part element="tns:lagreVedtakResponse" name="lagreVedtakResult"/>
  </wsdl:message>
    <wsdl:portType name="EntVedtak">
    <wsdl:operation name="hentVedtakListe">
      <wsdl:input message="tns:hentVedtakListeRequestMsg" name="hentVedtakListeRequest"/>
      <wsdl:output message="tns:hentVedtakListeResponseMsg" name="hentVedtakListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentVedtak">
      <wsdl:input message="tns:hentVedtakRequestMsg" name="hentVedtakRequest"/>
      <wsdl:output message="tns:hentVedtakResponseMsg" name="hentVedtakResponse"/>
      <wsdl:fault message="tns:hentVedtak_faultVedtakIkkeFunnetFMsg" name="faultVedtakIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="lagreVedtakStatus">
      <wsdl:input message="tns:lagreVedtakStatusRequestMsg" name="lagreVedtakStatusRequest"/>
      <wsdl:output message="tns:lagreVedtakStatusResponseMsg" name="lagreVedtakStatusResponse"/>
      <wsdl:fault message="tns:lagreVedtakStatus_faultStatusForVedtakAlleredeSattMsg" name="faultStatusForVedtakAlleredeSatt"/>
      <wsdl:fault message="tns:lagreVedtakStatus_faultFeilStatusForVedtakMsg" name="faultFeilStatusForVedtak"/>
    </wsdl:operation>
        <wsdl:operation name="lagreVedtak">
      <wsdl:input message="tns:lagreVedtakRequestMsg" name="lagreVedtakRequest"/>
      <wsdl:output message="tns:lagreVedtakResponseMsg" name="lagreVedtakResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
