int/maven/plugins/maven-service-registry-updater-plugin/src/test/resources/wsdl/nav-fim-brukerprofil-tjenestespesifikasjon-0.0.1-alpha002/Brukerprofil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Brukerprofil" targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/tjeneste/v1/meldinger">
			<xs:import namespace="http://nav.no/tjeneste/virksomhet/tjeneste/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
			<xs:element name="hentKontaktinformasjonOgPreferanser">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="request" type="meldinger:HentKontaktinformasjonOgPreferanserRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hentKontaktinformasjonOgPreferanserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="response" type="meldinger:HentKontaktinformasjonOgPreferanserResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="hentKontaktinformasjonOgPreferanserRequest">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentKontaktinformasjonOgPreferanserResponse">
    <wsdl:part name="parameters" element="tns:hentKontaktinformasjonOgPreferanserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BrukerprofilPortType">
    <wsdl:operation name="hentKontaktinformasjonOgPreferanser">
      <wsdl:input name="hentKontaktinformasjonOgPreferanserRequest" message="tns:hentKontaktinformasjonOgPreferanserRequest">
    </wsdl:input>
      <wsdl:output name="hentKontaktinformasjonOgPreferanserResponse" message="tns:hentKontaktinformasjonOgPreferanserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrukerprofilBinding" type="tns:BrukerprofilPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing/>
    <wsdl:operation name="hentKontaktinformasjonOgPreferanser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hentKontaktinformasjonOgPreferanserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentKontaktinformasjonOgPreferanserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Brukerprofil">
    <wsdl:port name="Brukerprofil" binding="tns:BrukerprofilBinding">
      <soap:address location="http://localhost:9080"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
