incubator/stelvio-ejbprovider-systemavailability/SakService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><definitions targetNamespace="http://ejb/sak/pensjon/provider/nav/no" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ejb/sak/pensjon/provider/nav/no" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
        <xsd:schema>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentSakListeElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentSakListeResponseElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentKontrollpunktListeElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentKontrollpunktListeResponseElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/lagreKontrollpunktElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/lagreKontrollpunktResponseElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentSakElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentSakResponseElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/PEN038SakIkkeFunnetDtoExceptionElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentUforehistorikkElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentUforehistorikkResponseElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentBatchBrevdataElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/hentBatchBrevdataResponseElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/lagreSakElement.xsd"/>
      <xsd:import namespace="http://ejb/sak/pensjon/provider/nav/no" schemaLocation="ejb/sak/pensjon/provider/nav/no/lagreSakResponseElement.xsd"/>
    </xsd:schema>
    </types>
  <message name="hentSakListe">
    <part element="tns:hentSakListe" name="parameters"/>
  </message>
  <message name="hentSakListeResponse">
    <part element="tns:hentSakListeResponse" name="parameters"/>
  </message>
  <message name="hentKontrollpunktListe">
    <part element="tns:hentKontrollpunktListe" name="parameters"/>
  </message>
  <message name="hentKontrollpunktListeResponse">
    <part element="tns:hentKontrollpunktListeResponse" name="parameters"/>
  </message>
  <message name="lagreKontrollpunkt">
    <part element="tns:lagreKontrollpunkt" name="parameters"/>
  </message>
  <message name="lagreKontrollpunktResponse">
    <part element="tns:lagreKontrollpunktResponse" name="parameters"/>
  </message>
  <message name="hentSak">
    <part element="tns:hentSak" name="parameters"/>
  </message>
  <message name="hentSakResponse">
    <part element="tns:hentSakResponse" name="parameters"/>
  </message>
  <message name="PEN038SakIkkeFunnetDtoException">
    <part element="tns:PEN038SakIkkeFunnetDtoException" name="fault"/>
  </message>
  <message name="hentUforehistorikk">
    <part element="tns:hentUforehistorikk" name="parameters"/>
  </message>
  <message name="hentUforehistorikkResponse">
    <part element="tns:hentUforehistorikkResponse" name="parameters"/>
  </message>
  <message name="hentBatchBrevdata">
    <part element="tns:hentBatchBrevdata" name="parameters"/>
  </message>
  <message name="hentBatchBrevdataResponse">
    <part element="tns:hentBatchBrevdataResponse" name="parameters"/>
  </message>
  <message name="lagreSak">
    <part element="tns:lagreSak" name="parameters"/>
  </message>
  <message name="lagreSakResponse">
    <part element="tns:lagreSakResponse" name="parameters"/>
  </message>
  <portType name="SakService">
    <operation name="hentSakListe">
      <input message="tns:hentSakListe"/>
      <output message="tns:hentSakListeResponse"/>
    </operation>
    <operation name="hentKontrollpunktListe">
      <input message="tns:hentKontrollpunktListe"/>
      <output message="tns:hentKontrollpunktListeResponse"/>
    </operation>
    <operation name="lagreKontrollpunkt">
      <input message="tns:lagreKontrollpunkt"/>
      <output message="tns:lagreKontrollpunktResponse"/>
    </operation>
    <operation name="hentSak">
      <input message="tns:hentSak"/>
      <output message="tns:hentSakResponse"/>
      <fault message="tns:PEN038SakIkkeFunnetDtoException" name="PEN038SakIkkeFunnetDtoException"/>
    </operation>
    <operation name="hentUforehistorikk">
      <input message="tns:hentUforehistorikk"/>
      <output message="tns:hentUforehistorikkResponse"/>
    </operation>
    <operation name="hentBatchBrevdata">
      <input message="tns:hentBatchBrevdata"/>
      <output message="tns:hentBatchBrevdataResponse"/>
    </operation>
    <operation name="lagreSak">
      <input message="tns:lagreSak"/>
      <output message="tns:lagreSakResponse"/>
    </operation>
  </portType>
</definitions>