incubator/ytelse-PPEN015/nav-bproc-test-ppen015-synkron/no/nav/inf/OpptjeningAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/OpptjeningAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpptjeningAsync" targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/OpptjeningAsync">
    <wsdl:types>
    <xsd:schema xmlns:bons="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:bons12="http://nav-lib-pen/no/nav/lib/pen/gbo" targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/OpptjeningAsync" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/OpptjeningAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOOverforOmsorgsopptjeningListeResponse.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOOverforOmsorgsopptjeningListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOHentOpptjeningsgrunnlagListeRequest.xsd"/>
      <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOOpptjeningGrunnlag.xsd"/>
      <xsd:element name="lagreOpptjening">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOpptjeningRequest" nillable="true" type="bons1:GBOOpptjeningGrunnlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreOpptjeningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreOpptjeningResponse" nillable="true" type="bons1:GBOOpptjeningGrunnlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOpptjeningsgrunnlagListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOpptjeningsgrunnlagListeRequest" nillable="true" type="bons1:GBOHentOpptjeningsgrunnlagListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentOpptjeningsgrunnlagListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOpptjeningsgrunnlagListeResponse" nillable="true" type="bons1:GBOOpptjeningGrunnlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOpptjening">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOpptjeningRequest" nillable="true" type="bons1:GBOOpptjeningGrunnlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOpptjeningResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOpptjeningResponse" nillable="true" type="bons1:GBOOpptjeningGrunnlag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="overforOmsorgsopptjeningListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="overforOmsorgsopptjeningListeRequest" nillable="true" type="bons:GBOOverforOmsorgsopptjeningListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="overforOmsorgsopptjeningListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="overforOmsorgsopptjeningListeResponse" nillable="true" type="bons:GBOOverforOmsorgsopptjeningListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="lagreOpptjeningRequestMsg">
    <wsdl:part element="tns:lagreOpptjening" name="lagreOpptjeningParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreOpptjeningResponseMsg">
    <wsdl:part element="tns:lagreOpptjeningResponse" name="lagreOpptjeningResult"/>
  </wsdl:message>
    <wsdl:message name="hentOpptjeningsgrunnlagListeRequestMsg">
    <wsdl:part element="tns:hentOpptjeningsgrunnlagListe" name="hentOpptjeningsgrunnlagListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentOpptjeningsgrunnlagListeResponseMsg">
    <wsdl:part element="tns:hentOpptjeningsgrunnlagListeResponse" name="hentOpptjeningsgrunnlagListeResult"/>
  </wsdl:message>
    <wsdl:message name="opprettOpptjeningRequestMsg">
    <wsdl:part element="tns:opprettOpptjening" name="opprettOpptjeningParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettOpptjeningResponseMsg">
    <wsdl:part element="tns:opprettOpptjeningResponse" name="opprettOpptjeningResult"/>
  </wsdl:message>
    <wsdl:message name="overforOmsorgsopptjeningListeRequestMsg">
    <wsdl:part element="tns:overforOmsorgsopptjeningListe" name="overforOmsorgsopptjeningListeParameters"/>
  </wsdl:message>
    <wsdl:message name="overforOmsorgsopptjeningListeResponseMsg">
    <wsdl:part element="tns:overforOmsorgsopptjeningListeResponse" name="overforOmsorgsopptjeningListeResult"/>
  </wsdl:message>
    <wsdl:portType name="OpptjeningAsync">
    <wsdl:operation name="lagreOpptjening">
      <wsdl:input message="tns:lagreOpptjeningRequestMsg" name="lagreOpptjeningRequest"/>
      <wsdl:output message="tns:lagreOpptjeningResponseMsg" name="lagreOpptjeningResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hentOpptjeningsgrunnlagListe">
      <wsdl:input message="tns:hentOpptjeningsgrunnlagListeRequestMsg" name="hentOpptjeningsgrunnlagListeRequest"/>
      <wsdl:output message="tns:hentOpptjeningsgrunnlagListeResponseMsg" name="hentOpptjeningsgrunnlagListeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="opprettOpptjening">
      <wsdl:input message="tns:opprettOpptjeningRequestMsg" name="opprettOpptjeningRequest"/>
      <wsdl:output message="tns:opprettOpptjeningResponseMsg" name="opprettOpptjeningResponse"/>
    </wsdl:operation>
        <wsdl:operation name="overforOmsorgsopptjeningListe">
      <wsdl:input message="tns:overforOmsorgsopptjeningListeRequestMsg" name="overforOmsorgsopptjeningListeRequest"/>
      <wsdl:output message="tns:overforOmsorgsopptjeningListeResponseMsg" name="overforOmsorgsopptjeningListeResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
