int/maven-pocs/maven-build-poc/layers/modules/cons/poc-module1/no/nav/inf/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://poc-lib1/no/nav/gbo" xmlns:tns="http://poc-module1/no/nav/inf/EchoService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EchoService" targetNamespace="http://poc-module1/no/nav/inf/EchoService">
    <wsdl:types>
    <xsd:schema xmlns:bons0="http://poc-module1/no/nav/inf/EchoService" targetNamespace="http://poc-module1/no/nav/inf/EchoService" xmlns:bons1="http://poc-lib1/no/nav/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://poc-lib1/no/nav/gbo" schemaLocation="../gbo/StringBO.xsd"/>
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input" nillable="true" type="bons1:StringBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" nillable="true" type="bons1:StringBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="echoRequestMsg">
    <wsdl:part element="tns:echo" name="echoParameters"/>
  </wsdl:message>
    <wsdl:message name="echoResponseMsg">
    <wsdl:part element="tns:echoResponse" name="echoResult"/>
  </wsdl:message>
    <wsdl:portType name="EchoService">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequestMsg" name="echoRequest"/>
      <wsdl:output message="tns:echoResponseMsg" name="echoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
