incubator/stelvio-example/stelvio-example-person/stelvio-example-person-service/no/stelvio/example/person/V1/FindPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/person/V1" xmlns:bons1="http://www.stelvio.no/example/person/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="Person.xsd"/>
    <xsd:complexType name="FindPersonResponse">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="person" type="bons1:Person">
			</xsd:element>

			<xsd:element minOccurs="1" name="totalHits" type="xsd:int">
			</xsd:element>
			<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax">
			</xsd:any>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>