int/stelvio-jmsprovider-systemavailability/no/nav/asbo/SFEdataNoNS.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Helge Mathisen (private)  and by Jonny Mauland 13.12.06 --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sfePersonData" type="sfePersonDataType"/>
	<xs:complexType name="sfeAjourhold">
		<xs:annotation>
			<xs:documentation>Dette er typen som beskriver ajourholdsmeldingene mot SFE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="systemInfo" type="systemInfoType">
				<xs:annotation>
					<xs:documentation>Disse feltene skal alltid fylles ut av systemet. Brukeren skal aldri ha mulighet til å legge inn verdier her</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="opprettPerson" type="nyPerson"/>
				<xs:element name="endreNavn" type="nyttNavn"/>
				<xs:element name="endreSprak" type="nyttSprak"/>
				<xs:element name="endreDodsdato" type="datoDod"/>
				<xs:element name="endreStatsborgerskap" type="nyttStatsborgerskap"/>
				<xs:element name="endreSivilstand" type="nySivilstand"/>
				<xs:element name="endreTelefon" type="nyttTelefonnr"/>
				<xs:element name="endreEpost" type="nyEpost"/>
				<xs:element name="endreGironrNorsk" type="nyttGironrNorsk"/>
				<xs:element name="opphorGironrNorsk" type="Tannullering"/>
				<xs:element name="annullerGironrNorsk" type="Tannullering"/>
				<xs:element name="endreGironrUtl" type="nyttGironrUtland"/>
				<xs:element name="opphorGironrUtl" type="Tannullering"/>
				<xs:element name="annullerGironrUtl" type="Tannullering"/>
				<xs:element name="endreAdresseLinjer" type="nyAdresse"/>
				<xs:element name="opphorLinjeAdresse">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="TannulleringAdr"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="annullerLinjeAdresse">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="TannulleringAdr"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="endreUIdent" type="nyUtenlandskIdent"/>
				<xs:element name="endreAtknr" type="nyAtknr"/>
				<xs:element name="endreBrukerprofil" type="endreBProfil"/>
				<xs:element name="annullerBrukerprofil" type="Tannullering"/>
				<xs:element name="endreSamboerskap" type="TEendreSK"/>
				<xs:element name="annullerSamboerskap" type="Tannullering"/>
				<xs:element name="korreksjonSamboerskap" type="TKendreSK"/>
				<xs:element name="endreRelasjon" type="TendreRel"/>
				<xs:element name="endreFosterbarn" type="TendreFB"/>
				<!--			<xs:element name="endreIdent" type="nyIdent"/> -->

			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyPerson">
		<xs:annotation>
			<xs:documentation>Inneholder elementene som skal være med i en 110-rekord ved oppdatering</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fodselsDato" type="Tfdato"/>
			<xs:element name="fornavn" type="xs:string"/>
			<xs:element minOccurs="0" name="mellomnavn" type="xs:string"/>
			<xs:element name="etternavn" type="xs:string"/>
			<xs:element minOccurs="0" name="kortnavn" type="xs:string"/>
			<xs:element minOccurs="0" name="kjonn" type="Tkjonn"/>
			<xs:element name="tknr" type="Ttknr"/>
			<xs:element minOccurs="0" name="dodsDato" type="xs:string"/>
			<xs:element name="statsBorgerskap" type="xs:string"/>
			<xs:element minOccurs="0" name="datoStatsborgerskap" type="DBdate"/>
			<xs:element minOccurs="0" name="identUtland" type="TidentUtland"/>
			<xs:element minOccurs="0" name="sivilstandInfo" type="TsivilstandInfo"/>
			<xs:element minOccurs="0" name="sprak" type="Tsprak"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyttGironrUtland">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="giroNrUtland" type="xs:string"/>
			<xs:element name="datoGiroNr" type="DBdate"/>
			<xs:element name="kodeSwift" type="xs:string"/>
			<xs:element name="kodeLand" type="xs:string"/>
			<xs:element name="bankNavn" type="xs:string"/>
			<xs:element name="kodeBank" type="xs:string"/>
			<xs:element name="valuta" type="xs:string"/>
			<xs:element name="bankAdresse1" type="xs:string"/>
			<xs:element name="bankAdresse2" type="xs:string"/>
			<xs:element name="bankAdresse3" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyttKjonn">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="endretKjonn" type="Tkjonn"/>
			<xs:element name="datoKjonn" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyttTelefonnr">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="typeTelefon" type="xs:string"/>
			<xs:element name="telefonNr" type="xs:string"/>
			<xs:element name="datoTelefon" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyEpost">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="epostAdresse" type="xs:string"/>
			<xs:element name="datoEpost" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyUtenlandskIdent">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="typeUIdent" type="xs:string"/>
			<xs:element name="utenlandskIdent" type="xs:string"/>
			<xs:element name="datoUIdent" type="DBdate"/>
			<xs:element name="kodeLand" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyAtknr">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="atknr" type="xs:string"/>
			<xs:element name="atknrType" type="xs:string"/>
			<xs:element name="datoFom" type="DBdate"/>
			<xs:element name="datoTom" type="DBdate"/>
			<xs:element name="atkStatus" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Tannullering">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TannulleringAdr">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="typeAdresse" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TKendreSK">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="samboerFnr" type="xs:string"/>
			<xs:element name="sbFom" type="DBdate"/>
			<xs:element name="sbTom" type="DBdate"/>
			<xs:element name="korrigerSamboerskap" type="TendreSK"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TendreSK">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdentK" type="Tfnr"/>
			<xs:element name="samboerFnrK" type="xs:string"/>
			<xs:element name="sbFomK" type="DBdate"/>
			<xs:element name="sbTomK" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TendreRel">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="typeRelasjon" type="xs:string"/>
			<xs:element name="relasjonsFnr1" type="xs:string"/>
			<xs:element name="relasjonsFnr2" type="xs:string"/>
			<xs:element name="fomRelasjon" type="DBdate"/>
			<xs:element name="tomRelasjon" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TendreFB">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="fosterforelderFnr1" type="xs:string"/>
			<xs:element name="fosterforelderFnr2" type="xs:string"/>
			<xs:element name="fomFosterbarn" type="DBdate"/>
			<xs:element name="tomFosterbarn" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEendreSK">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="samboerFnr" type="xs:string"/>
			<xs:element name="sbFom" type="DBdate"/>
			<xs:element name="sbTom" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="endreBProfil">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="brukerPrioritertAdr" type="xs:string"/>
			<xs:element name="tilsendtDok" type="xs:string"/>
			<xs:element name="varsling" type="xs:string"/>
			<xs:element name="varslingsKanal" type="xs:string"/>
			<xs:element name="bpFom" type="DBdate"/>
			<xs:element name="behov" type="behovType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="behovElementer"/>
	<xs:complexType name="TenkeltBehov">
		<xs:annotation>
			<xs:documentation>Typen beskriver alle feltene i en enkelt behov.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="behovElementer">
				<xs:sequence>
					<xs:element name="spesBehov" type="xs:string"/>
					<xs:element name="bhFom" type="DBdate"/>
					<xs:element name="bhTom" type="DBdate"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="nyAdresse">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="typeAdresse" type="xs:string"/>
			<xs:element name="datoAdresse" type="DBdate"/>
			<xs:element name="adresse1" type="xs:string"/>
			<xs:element name="adresse2" type="xs:string"/>
			<xs:element name="adresse3" type="xs:string"/>
			<xs:element name="postnr" type="xs:string"/>
			<xs:element name="kodeLand" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyttGironrNorsk">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="giroNrNorsk" type="xs:string"/>
			<xs:element name="datoGiroNrNorsk" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nySivilstand">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="sivilstand" type="Tsivilstandkode"/>
			<xs:element name="datoSivilstand" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyttStatsborgerskap">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="statsBorgerskap" type="xs:string"/>
			<xs:element name="datoStatsborgerskap" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyIdent">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="nyOffIdent" type="Tfnr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datoDod">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="dodsDato" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyttSprak">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="sprakKode" type="xs:string"/>
			<xs:element name="datoSprak" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nyttNavn">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="offentligIdent" type="Tfnr"/>
			<xs:element name="fornavn" type="xs:string"/>
			<xs:element name="mellomnavn" type="xs:string"/>
			<xs:element name="etternavn" type="xs:string"/>
			<xs:element name="tidligerenavn" type="xs:string"/>
			<xs:element name="kortnavn" type="xs:string"/>
			<xs:element name="datoNyttNavn" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TidentUtland">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="typeIdent" type="xs:string"/>
			<xs:element name="offentligUtlIdent" type="xs:string"/>
			<xs:element name="datoUtlIdent" type="DBdate"/>
			<xs:element name="identLand" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TsivilstandInfo">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="sivilstand" type="Tsivilstandkode"/>
			<xs:element name="datoSivilstand" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Tsprak">
		<xs:annotation>
			<xs:documentation>..</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="sprakKode" type="xs:string"/>
			<xs:element name="datoSprak" type="DBdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DBdate">
		<xs:annotation>
			<xs:documentation>Typen beskriver formatet og begrensningene til datoene som kommer fra TPS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{0}"/>
			<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TreturStatus">
		<xs:annotation>
			<xs:documentation>Denne typen beskriver returstatusen fra TPS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tsivilstandkode">
		<xs:annotation>
			<xs:documentation>Denne typen beskriver format og sjekker på sivilstandskoden som UGIFT, GIFT, SKILT,.... </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="NULL"/>
			<xs:enumeration value="GIFT"/>
			<xs:enumeration value="ENKE"/>
			<xs:enumeration value="SKIL"/>
			<xs:enumeration value="SEPR"/>
			<xs:enumeration value="REPA"/>
			<xs:enumeration value="SEPA"/>
			<xs:enumeration value="SKPA"/>
			<xs:enumeration value="GJPA"/>
			<xs:enumeration value="SAMB"/>
			<xs:enumeration value="GLAD"/>
			<xs:enumeration value="UGIF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ajourholdsKode">
		<xs:annotation>
			<xs:documentation>Denne typen beskriver navnene pa servicerutinene i TPS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FS04-OPPRETTE-NYPERSON-O"/>
			<xs:enumeration value="FS04-OPPDATER-IDENTEN-O"/>
			<xs:enumeration value="FS04-OPPDATER-ALLENAVN-O"/>
			<xs:enumeration value="FS03-OPPDATER-TPSSPRAK-O"/>
			<xs:enumeration value="FS03-OPPDATER-DODSDATO-O"/>
			<xs:enumeration value="FS03-OPPDATER-TPSKJONN-O"/>
			<xs:enumeration value="FS03-OPPDATER-STBOSKAP-O"/>
			<xs:enumeration value="FS03-OPPDATER-SIVSTAND-O"/>
			<xs:enumeration value="FS03-OPPDATER-GIRONRNO-O"/>
			<xs:enumeration value="FS03-OPPDATER-GIRONRUT-O"/>
			<xs:enumeration value="FS03-OPPDATER-ADRLINJE-O"/>
			<xs:enumeration value="FS03-OPPDATER-UTLIDENT-O"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="svarFraSFE">
		<xs:annotation>
			<xs:documentation>Denne typen beskriver svarene fra SFE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="svarStatus" type="statusFraSFE"/>
			<xs:element minOccurs="0" name="identNr" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="statusFraSFE">
		<xs:annotation>
			<xs:documentation>Typen beskriver returstatusen som returneres fra alle SFE. Dette er en returstatus, returmelding og en besrivende melding.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="returStatus" type="TreturStatus"/>
			<xs:element name="returMelding" type="xs:string"/>
			<xs:element name="utfyllendeMelding" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="systemInfoType">
		<xs:annotation>
			<xs:documentation>Beskriver systemgenerert informasjon</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kilde">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="brukerID" type="Tbrukerid"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Tland">
		<xs:annotation>
			<xs:documentation>Typen beskriver formatet og sjekkene pa representasjonen av land</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tfnr">
		<xs:annotation>
			<xs:documentation>Dette er en type for å beskrive fnr samt sjekkene mot fnr</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tsivilstand">
		<xs:annotation>
			<xs:documentation>Her beskrives sivilstandskodene.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="Uoppgitt"/>
			<xs:enumeration value="Gift"/>
			<xs:enumeration value="Enke/-mann"/>
			<xs:enumeration value="Skilt"/>
			<xs:enumeration value="Separert"/>
			<xs:enumeration value="Registrert partner"/>
			<xs:enumeration value="Separert partner"/>
			<xs:enumeration value="Skilt partner"/>
			<xs:enumeration value="Gjenlevende partner"/>
			<xs:enumeration value="Samboer"/>
			<xs:enumeration value="Gift, lever adskilt"/>
			<xs:enumeration value="Ugift"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tsystem">
		<xs:annotation>
			<xs:documentation>Typen beskriver systemnavnet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tsaksbehandler">
		<xs:annotation>
			<xs:documentation>Typen beskriver navnet på saksbehandler</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tkjonn">
		<xs:annotation>
			<xs:documentation>Kjonn kan være M eller K</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="1"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value=" "/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tfdato">
		<xs:annotation>
			<xs:documentation>Fodselsdato som de 6 forste tegn i fnr</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tbrukerid">
		<xs:annotation>
			<xs:documentation>Typen beskriver brukerident elementer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Ttknr">
		<xs:annotation>
			<xs:documentation>Beskriver valideringskriteriene for tknr.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{0}"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="behovType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="enkeltBehov" type="TenkeltBehov"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sfePersonDataType">
		<xs:sequence>
			<xs:element name="sfeAjourforing" type="sfeAjourhold"/>
			<xs:element minOccurs="0" name="sfeTilbakeMelding" type="svarFraSFE"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>