incubator/stelvio-example/stelvio-example-person/stelvio-example-person-soapui/PersonServiceV2/no/stelvio/example/person/V1/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.stelvio.no/example/person/V1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://www.stelvio.no/example/person/V1">
	<xsd:include schemaLocation="Name.xsd"></xsd:include>
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="id" type="xsd:string"></xsd:element>

			<xsd:element minOccurs="1" name="name" type="bons0:Name"></xsd:element>
			<xsd:any namespace="##any" processContents="lax"
				minOccurs="0" maxOccurs="unbounded">
			</xsd:any>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>