int/maven/utilities/datapower-utils/src/test/resources/files/wsdl/no/nav/tpsamordningregistrering/V0_2/fault/FaultBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_2">
  <xsd:complexType name="FaultBase">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="errorMessage" type="xsd:string"/>
      <xsd:element minOccurs="1" name="errorSource" type="xsd:string"/>
      <xsd:element minOccurs="0" name="rootCause" type="xsd:string"/>
      <xsd:element minOccurs="1" name="dateTimeStamp" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
