incubator/stelvio-example/stelvio-example-echo/stelvio-example-echo-proxy-ejb-jaxrpc/ejbs/LargeGraphmapper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://ejbs" xmlns:intf="http://ejbs" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ejbs">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ejbs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <include schemaLocation="Object85.xsd"/>
            <include schemaLocation="Object2.xsd"/>
            <include schemaLocation="Object60.xsd"/>
            <include schemaLocation="Object51.xsd"/>
            <include schemaLocation="Object34.xsd"/>
            <include schemaLocation="Object11.xsd"/>
            <include schemaLocation="Object31.xsd"/>
            <include schemaLocation="Object56.xsd"/>
            <include schemaLocation="Object55.xsd"/>
            <include schemaLocation="Object83.xsd"/>
            <include schemaLocation="Object22.xsd"/>
            <include schemaLocation="Object35.xsd"/>
            <include schemaLocation="Object76.xsd"/>
            <include schemaLocation="Object65.xsd"/>
            <include schemaLocation="Object13.xsd"/>
            <include schemaLocation="Object62.xsd"/>
            <include schemaLocation="Object94.xsd"/>
            <include schemaLocation="Object4.xsd"/>
            <include schemaLocation="Object77.xsd"/>
            <include schemaLocation="Object36.xsd"/>
            <include schemaLocation="Object88.xsd"/>
            <include schemaLocation="Object98.xsd"/>
            <include schemaLocation="Object58.xsd"/>
            <include schemaLocation="Object6.xsd"/>
            <include schemaLocation="Object48.xsd"/>
            <include schemaLocation="Object54.xsd"/>
            <include schemaLocation="Object18.xsd"/>
            <include schemaLocation="Object7.xsd"/>
            <include schemaLocation="Object50.xsd"/>
            <include schemaLocation="Object67.xsd"/>
            <include schemaLocation="Object63.xsd"/>
            <include schemaLocation="Object39.xsd"/>
            <include schemaLocation="Object57.xsd"/>
            <include schemaLocation="Object42.xsd"/>
            <include schemaLocation="Object30.xsd"/>
            <include schemaLocation="Object21.xsd"/>
            <include schemaLocation="Object25.xsd"/>
            <include schemaLocation="Object44.xsd"/>
            <include schemaLocation="Object28.xsd"/>
            <include schemaLocation="Object84.xsd"/>
            <include schemaLocation="Object53.xsd"/>
            <include schemaLocation="Object100.xsd"/>
            <include schemaLocation="Object47.xsd"/>
            <include schemaLocation="Object81.xsd"/>
            <include schemaLocation="Object96.xsd"/>
            <include schemaLocation="Object70.xsd"/>
            <include schemaLocation="Object71.xsd"/>
            <include schemaLocation="Object97.xsd"/>
            <include schemaLocation="Object32.xsd"/>
            <include schemaLocation="Object95.xsd"/>
            <include schemaLocation="Object66.xsd"/>
            <include schemaLocation="Object23.xsd"/>
            <include schemaLocation="Object5.xsd"/>
            <include schemaLocation="Object43.xsd"/>
            <include schemaLocation="Object80.xsd"/>
            <include schemaLocation="Object41.xsd"/>
            <include schemaLocation="Object92.xsd"/>
            <include schemaLocation="Object78.xsd"/>
            <include schemaLocation="Object79.xsd"/>
            <include schemaLocation="Object69.xsd"/>
            <include schemaLocation="Object27.xsd"/>
            <include schemaLocation="Object3.xsd"/>
            <include schemaLocation="Object52.xsd"/>
            <include schemaLocation="Object46.xsd"/>
            <include schemaLocation="Object90.xsd"/>
            <include schemaLocation="Object59.xsd"/>
            <include schemaLocation="Object49.xsd"/>
            <include schemaLocation="Object73.xsd"/>
            <include schemaLocation="Object17.xsd"/>
            <include schemaLocation="Object33.xsd"/>
            <include schemaLocation="Object72.xsd"/>
            <include schemaLocation="Object89.xsd"/>
            <include schemaLocation="Object75.xsd"/>
            <include schemaLocation="Object87.xsd"/>
            <include schemaLocation="Object64.xsd"/>
            <include schemaLocation="Object61.xsd"/>
            <include schemaLocation="Object14.xsd"/>
            <include schemaLocation="Object15.xsd"/>
            <include schemaLocation="Object16.xsd"/>
            <include schemaLocation="Object37.xsd"/>
            <include schemaLocation="Object9.xsd"/>
            <include schemaLocation="Object45.xsd"/>
            <include schemaLocation="Object91.xsd"/>
            <include schemaLocation="Object10.xsd"/>
            <include schemaLocation="Object74.xsd"/>
            <include schemaLocation="Object38.xsd"/>
            <include schemaLocation="Object24.xsd"/>
            <include schemaLocation="Object12.xsd"/>
            <include schemaLocation="Object8.xsd"/>
            <include schemaLocation="Object40.xsd"/>
            <include schemaLocation="Object82.xsd"/>
            <include schemaLocation="Object1.xsd"/>
            <include schemaLocation="Object29.xsd"/>
            <include schemaLocation="Object86.xsd"/>
            <include schemaLocation="Object99.xsd"/>
            <include schemaLocation="Object68.xsd"/>
            <include schemaLocation="Object19.xsd"/>
            <include schemaLocation="Object26.xsd"/>
            <include schemaLocation="LGResponse.xsd"/>
            <include schemaLocation="Object93.xsd"/>
            <include schemaLocation="Object20.xsd"/>
            <element name="echoResponse">
    <complexType>
     <sequence>
      <element name="echoReturn" nillable="true" type="impl:LGResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="echo">
    <complexType>
     <sequence>
      <element name="input" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoResponse">
     <wsdl:part element="intf:echoResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="echoRequest">
     <wsdl:part element="intf:echo" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="LargeGraph">
     <wsdl:operation name="echo">
       <wsdl:input message="intf:echoRequest" name="echoRequest"/>

       <wsdl:output message="intf:echoResponse" name="echoResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="LargeGraphSoapBinding" type="intf:LargeGraph">
 <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="false"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="echo">
       <wsdlsoap:operation soapAction=""/>

       <wsdl:input name="echoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="echoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="LargeGraphService">
     <wsdl:port binding="intf:LargeGraphSoapBinding" name="LargeGraph">
       <wsdlsoap:address location="file:undefined"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
