incubator/stelvio-example/stelvio-example-echo/stelvio-example-echo-proxy-ejb-jaxrpc/ejbs/LGResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ejbs" xmlns:intf="http://ejbs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejbs">
  <include schemaLocation="Object31.xsd"/>
  <include schemaLocation="Object32.xsd"/>
  <include schemaLocation="Object30.xsd"/>
  <include schemaLocation="Object39.xsd"/>
  <include schemaLocation="Object37.xsd"/>
  <include schemaLocation="Object38.xsd"/>
  <include schemaLocation="Object35.xsd"/>
  <include schemaLocation="Object36.xsd"/>
  <include schemaLocation="Object33.xsd"/>
  <include schemaLocation="Object34.xsd"/>
  <include schemaLocation="Object40.xsd"/>
  <include schemaLocation="Object41.xsd"/>
  <include schemaLocation="Object42.xsd"/>
  <include schemaLocation="Object43.xsd"/>
  <include schemaLocation="Object48.xsd"/>
  <include schemaLocation="Object49.xsd"/>
  <include schemaLocation="Object44.xsd"/>
  <include schemaLocation="Object45.xsd"/>
  <include schemaLocation="Object46.xsd"/>
  <include schemaLocation="Object47.xsd"/>
  <include schemaLocation="Object10.xsd"/>
  <include schemaLocation="Object13.xsd"/>
  <include schemaLocation="Object14.xsd"/>
  <include schemaLocation="Object11.xsd"/>
  <include schemaLocation="Object12.xsd"/>
  <include schemaLocation="Object17.xsd"/>
  <include schemaLocation="Object18.xsd"/>
  <include schemaLocation="Object15.xsd"/>
  <include schemaLocation="Object16.xsd"/>
  <include schemaLocation="Object91.xsd"/>
  <include schemaLocation="Object92.xsd"/>
  <include schemaLocation="Object93.xsd"/>
  <include schemaLocation="Object94.xsd"/>
  <include schemaLocation="Object19.xsd"/>
  <include schemaLocation="Object95.xsd"/>
  <include schemaLocation="Object96.xsd"/>
  <include schemaLocation="Object97.xsd"/>
  <include schemaLocation="Object98.xsd"/>
  <include schemaLocation="Object99.xsd"/>
  <include schemaLocation="Object20.xsd"/>
  <include schemaLocation="Object21.xsd"/>
  <include schemaLocation="Object22.xsd"/>
  <include schemaLocation="Object23.xsd"/>
  <include schemaLocation="Object24.xsd"/>
  <include schemaLocation="Object25.xsd"/>
  <include schemaLocation="Object26.xsd"/>
  <include schemaLocation="Object27.xsd"/>
  <include schemaLocation="Object28.xsd"/>
  <include schemaLocation="Object29.xsd"/>
  <include schemaLocation="Object1.xsd"/>
  <include schemaLocation="Object3.xsd"/>
  <include schemaLocation="Object2.xsd"/>
  <include schemaLocation="Object5.xsd"/>
  <include schemaLocation="Object4.xsd"/>
  <include schemaLocation="Object9.xsd"/>
  <include schemaLocation="Object8.xsd"/>
  <include schemaLocation="Object7.xsd"/>
  <include schemaLocation="Object6.xsd"/>
  <include schemaLocation="Object78.xsd"/>
  <include schemaLocation="Object77.xsd"/>
  <include schemaLocation="Object79.xsd"/>
  <include schemaLocation="Object74.xsd"/>
  <include schemaLocation="Object73.xsd"/>
  <include schemaLocation="Object76.xsd"/>
  <include schemaLocation="Object75.xsd"/>
  <include schemaLocation="Object70.xsd"/>
  <include schemaLocation="Object72.xsd"/>
  <include schemaLocation="Object71.xsd"/>
  <include schemaLocation="Object90.xsd"/>
  <include schemaLocation="Object100.xsd"/>
  <include schemaLocation="Object89.xsd"/>
  <include schemaLocation="Object88.xsd"/>
  <include schemaLocation="Object87.xsd"/>
  <include schemaLocation="Object86.xsd"/>
  <include schemaLocation="Object85.xsd"/>
  <include schemaLocation="Object84.xsd"/>
  <include schemaLocation="Object83.xsd"/>
  <include schemaLocation="Object82.xsd"/>
  <include schemaLocation="Object81.xsd"/>
  <include schemaLocation="Object80.xsd"/>
  <include schemaLocation="Object56.xsd"/>
  <include schemaLocation="Object55.xsd"/>
  <include schemaLocation="Object58.xsd"/>
  <include schemaLocation="Object57.xsd"/>
  <include schemaLocation="Object59.xsd"/>
  <include schemaLocation="Object50.xsd"/>
  <include schemaLocation="Object52.xsd"/>
  <include schemaLocation="Object51.xsd"/>
  <include schemaLocation="Object54.xsd"/>
  <include schemaLocation="Object53.xsd"/>
  <include schemaLocation="Object69.xsd"/>
  <include schemaLocation="Object68.xsd"/>
  <include schemaLocation="Object67.xsd"/>
  <include schemaLocation="Object66.xsd"/>
  <include schemaLocation="Object61.xsd"/>
  <include schemaLocation="Object60.xsd"/>
  <include schemaLocation="Object65.xsd"/>
  <include schemaLocation="Object64.xsd"/>
  <include schemaLocation="Object63.xsd"/>
  <include schemaLocation="Object62.xsd"/>
  <complexType name="LGResponse">
    <sequence>
     <element name="output" nillable="true" type="xsd:string"/>
     <element name="object1" nillable="true" type="impl:Object1"/>
     <element name="object2" nillable="true" type="impl:Object2"/>
     <element name="object3" nillable="true" type="impl:Object3"/>
     <element name="object4" nillable="true" type="impl:Object4"/>
     <element name="object5" nillable="true" type="impl:Object5"/>
     <element name="object6" nillable="true" type="impl:Object6"/>
     <element name="object7" nillable="true" type="impl:Object7"/>
     <element name="object8" nillable="true" type="impl:Object8"/>
     <element name="object9" nillable="true" type="impl:Object9"/>
     <element name="object10" nillable="true" type="impl:Object10"/>
     <element name="object11" nillable="true" type="impl:Object11"/>
     <element name="object12" nillable="true" type="impl:Object12"/>
     <element name="object13" nillable="true" type="impl:Object13"/>
     <element name="object14" nillable="true" type="impl:Object14"/>
     <element name="object15" nillable="true" type="impl:Object15"/>
     <element name="object16" nillable="true" type="impl:Object16"/>
     <element name="object17" nillable="true" type="impl:Object17"/>
     <element name="object18" nillable="true" type="impl:Object18"/>
     <element name="object19" nillable="true" type="impl:Object19"/>
     <element name="object20" nillable="true" type="impl:Object20"/>
     <element name="object21" nillable="true" type="impl:Object21"/>
     <element name="object22" nillable="true" type="impl:Object22"/>
     <element name="object23" nillable="true" type="impl:Object23"/>
     <element name="object24" nillable="true" type="impl:Object24"/>
     <element name="object25" nillable="true" type="impl:Object25"/>
     <element name="object26" nillable="true" type="impl:Object26"/>
     <element name="object27" nillable="true" type="impl:Object27"/>
     <element name="object28" nillable="true" type="impl:Object28"/>
     <element name="object29" nillable="true" type="impl:Object29"/>
     <element name="object30" nillable="true" type="impl:Object30"/>
     <element name="object31" nillable="true" type="impl:Object31"/>
     <element name="object32" nillable="true" type="impl:Object32"/>
     <element name="object33" nillable="true" type="impl:Object33"/>
     <element name="object34" nillable="true" type="impl:Object34"/>
     <element name="object35" nillable="true" type="impl:Object35"/>
     <element name="object36" nillable="true" type="impl:Object36"/>
     <element name="object37" nillable="true" type="impl:Object37"/>
     <element name="object38" nillable="true" type="impl:Object38"/>
     <element name="object39" nillable="true" type="impl:Object39"/>
     <element name="object40" nillable="true" type="impl:Object40"/>
     <element name="object41" nillable="true" type="impl:Object41"/>
     <element name="object42" nillable="true" type="impl:Object42"/>
     <element name="object43" nillable="true" type="impl:Object43"/>
     <element name="object44" nillable="true" type="impl:Object44"/>
     <element name="object45" nillable="true" type="impl:Object45"/>
     <element name="object46" nillable="true" type="impl:Object46"/>
     <element name="object47" nillable="true" type="impl:Object47"/>
     <element name="object48" nillable="true" type="impl:Object48"/>
     <element name="object49" nillable="true" type="impl:Object49"/>
     <element name="object50" nillable="true" type="impl:Object50"/>
     <element name="object51" nillable="true" type="impl:Object51"/>
     <element name="object52" nillable="true" type="impl:Object52"/>
     <element name="object53" nillable="true" type="impl:Object53"/>
     <element name="object54" nillable="true" type="impl:Object54"/>
     <element name="object55" nillable="true" type="impl:Object55"/>
     <element name="object56" nillable="true" type="impl:Object56"/>
     <element name="object57" nillable="true" type="impl:Object57"/>
     <element name="object58" nillable="true" type="impl:Object58"/>
     <element name="object59" nillable="true" type="impl:Object59"/>
     <element name="object60" nillable="true" type="impl:Object60"/>
     <element name="object61" nillable="true" type="impl:Object61"/>
     <element name="object62" nillable="true" type="impl:Object62"/>
     <element name="object63" nillable="true" type="impl:Object63"/>
     <element name="object64" nillable="true" type="impl:Object64"/>
     <element name="object65" nillable="true" type="impl:Object65"/>
     <element name="object66" nillable="true" type="impl:Object66"/>
     <element name="object67" nillable="true" type="impl:Object67"/>
     <element name="object68" nillable="true" type="impl:Object68"/>
     <element name="object69" nillable="true" type="impl:Object69"/>
     <element name="object70" nillable="true" type="impl:Object70"/>
     <element name="object71" nillable="true" type="impl:Object71"/>
     <element name="object72" nillable="true" type="impl:Object72"/>
     <element name="object73" nillable="true" type="impl:Object73"/>
     <element name="object74" nillable="true" type="impl:Object74"/>
     <element name="object75" nillable="true" type="impl:Object75"/>
     <element name="object76" nillable="true" type="impl:Object76"/>
     <element name="object77" nillable="true" type="impl:Object77"/>
     <element name="object78" nillable="true" type="impl:Object78"/>
     <element name="object79" nillable="true" type="impl:Object79"/>
     <element name="object80" nillable="true" type="impl:Object80"/>
     <element name="object81" nillable="true" type="impl:Object81"/>
     <element name="object82" nillable="true" type="impl:Object82"/>
     <element name="object83" nillable="true" type="impl:Object83"/>
     <element name="object84" nillable="true" type="impl:Object84"/>
     <element name="object85" nillable="true" type="impl:Object85"/>
     <element name="object86" nillable="true" type="impl:Object86"/>
     <element name="object87" nillable="true" type="impl:Object87"/>
     <element name="object88" nillable="true" type="impl:Object88"/>
     <element name="object89" nillable="true" type="impl:Object89"/>
     <element name="object90" nillable="true" type="impl:Object90"/>
     <element name="object91" nillable="true" type="impl:Object91"/>
     <element name="object92" nillable="true" type="impl:Object92"/>
     <element name="object93" nillable="true" type="impl:Object93"/>
     <element name="object94" nillable="true" type="impl:Object94"/>
     <element name="object95" nillable="true" type="impl:Object95"/>
     <element name="object96" nillable="true" type="impl:Object96"/>
     <element name="object97" nillable="true" type="impl:Object97"/>
     <element name="object98" nillable="true" type="impl:Object98"/>
     <element name="object99" nillable="true" type="impl:Object99"/>
     <element name="object100" nillable="true" type="impl:Object100"/>
    </sequence>
   </complexType>
</schema>
