incubator/wid61-libs/nav-lib-frg-aa/no/nav/lib/frg/aa/asbo/K268SR03INPUT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:td="http://www.ibm.com/cam/2005/typedescriptor" xmlns:xsd1="http://nav-prod-frg-aa/no/nav/asbo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nav-lib-frg-aa/no/nav/lib/frg/asbo">
  <complexType name="K268SR03INPUT">
    <annotation>
      <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
        <td:typeDescriptorCT>
          <td:aggregateInstanceTD accessor="readWrite" attributeInBit="false" contentSize="79" offset="0" size="79">
            <td:platformInfo defaultAddressSize="mode32" defaultBigEndian="true" defaultCodepage="IBM-277" defaultExternalDecimalSign="ebcdic" defaultFloatType="ibm390Hex" language="COBOL"/>
          </td:aggregateInstanceTD>
        </td:typeDescriptorCT>
      </appinfo>
    </annotation>
    <sequence>
      <element name="KODE_AKSJON">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="0" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="KILDE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="4" offset="8" size="4">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="4"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="4"/>
          </restriction>
        </simpleType>
      </element>
      <element name="BRUKERID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="12" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="LENGDE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="7" offset="20" size="7">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="7"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="9999999"/>
          </restriction>
        </simpleType>
      </element>
      <element name="DATO">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="27" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="TID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="6" offset="35" size="6">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="6"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="6"/>
          </restriction>
        </simpleType>
      </element>
      <element name="MELDING_ID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="41" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ANTALL">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="3" offset="49" size="3">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="3"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="short">
            <minInclusive value="0"/>
            <maxInclusive value="999"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ID_FNR">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="11" offset="52" size="11">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="11"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="long">
            <minInclusive value="0"/>
            <maxInclusive value="99999999999"/>
          </restriction>
        </simpleType>
      </element>
      <element name="DATO_FOM">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="63" size="8">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="99999999"/>
          </restriction>
        </simpleType>
      </element>
      <element name="DATO_TOM">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="71" size="8">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="99999999"/>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  <annotation>
    <appinfo source="commonj.connector.asi">
      <asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/cam/2005/typedescriptor" asiSchemaLocation="TypeDescriptor.xsd"/>
    </appinfo>
  </annotation>
</schema>
