incubator/wid61-libs/nav-lib-frg-aa/no/nav/lib/frg/aa/asbo/K268SR03OUTPUT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://nav-lib-frg-aa/no/nav/lib/frg/asbo" xmlns:td="http://www.ibm.com/cam/2005/typedescriptor" xmlns:xsd1="http://nav-prod-frg-aa/no/nav/asbo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nav-lib-frg-aa/no/nav/lib/frg/asbo">
  <complexType name="K268SR03OUTPUT">
    <annotation>
      <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
        <td:typeDescriptorCT>
          <td:aggregateInstanceTD accessor="readWrite" attributeInBit="false" contentSize="22630" offset="0" size="22630">
            <td:platformInfo defaultAddressSize="mode32" defaultBigEndian="true" defaultCodepage="IBM-277" defaultExternalDecimalSign="ebcdic" defaultFloatType="ibm390Hex" language="COBOL"/>
          </td:aggregateInstanceTD>
        </td:typeDescriptorCT>
      </appinfo>
    </annotation>
    <sequence>
      <element name="KODE_AKSJON">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="0" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="KILDE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="4" offset="8" size="4">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="4"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="4"/>
          </restriction>
        </simpleType>
      </element>
      <element name="BRUKERID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="12" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="LENGDE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="7" offset="20" size="7">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="7"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="9999999"/>
          </restriction>
        </simpleType>
      </element>
      <element name="DATO">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="27" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="TID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="6" offset="35" size="6">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="6"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="6"/>
          </restriction>
        </simpleType>
      </element>
      <element name="SYSTEM_ID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="41" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="KODE_MELDING">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="49" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ALVORLIGHETSGRAD">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="2" offset="57" size="2">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="2"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="short">
            <minInclusive value="0"/>
            <maxInclusive value="99"/>
          </restriction>
        </simpleType>
      </element>
      <element name="BESKR_MELDING">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="75" offset="59" size="75">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="75"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="75"/>
          </restriction>
        </simpleType>
      </element>
      <element name="SQL_KODE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="4" offset="134" size="4">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="4"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="4"/>
          </restriction>
        </simpleType>
      </element>
      <element name="SQL_STATE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="5" offset="138" size="5">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="5"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="5"/>
          </restriction>
        </simpleType>
      </element>
      <element name="SQL_MELDING">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="80" offset="143" size="80">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="80"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="80"/>
          </restriction>
        </simpleType>
      </element>
      <element name="MQ_COMPLETION_CODE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="4" offset="223" size="4">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="4"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="4"/>
          </restriction>
        </simpleType>
      </element>
      <element name="MQ_REASON_CODE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="4" offset="227" size="4">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="4"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="4"/>
          </restriction>
        </simpleType>
      </element>
      <element name="PROG_ID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="231" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="SECTION_NAVN">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="30" offset="239" size="30">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="30"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="30"/>
          </restriction>
        </simpleType>
      </element>
      <element name="MELDING_ID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="269" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ANTALL">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="3" offset="277" size="3">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="3"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="short">
            <minInclusive value="0"/>
            <maxInclusive value="999"/>
          </restriction>
        </simpleType>
      </element>
      <element maxOccurs="150" minOccurs="150" name="TAB_LINJE" type="Q1:K268SR03OUTPUT_RETURDATA_RECORD_TAB_LINJE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:aggregateInstanceTD accessor="readWrite" attributeInBit="false" contentSize="22350" offset="280" size="22350">
                <td:arrayDescr alignmentKind="byte" lowerBound="150" stride="149" strideInBit="false" upperBound="150"/>
              </td:aggregateInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="K268SR03OUTPUT_RETURDATA_RECORD_TAB_LINJE">
    <sequence>
      <element name="ATAK_ORGNR_REDNAVN">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="35" offset="280" size="35">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="35"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="35"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ATAK_ORGNR">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="9" offset="315" size="9">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="9"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="999999999"/>
          </restriction>
        </simpleType>
      </element>
      <element name="AGIV_ORGNR1">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="9" offset="324" size="9">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" width="9"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="999999999"/>
          </restriction>
        </simpleType>
      </element>
      <element name="AGIV_REDNAVN">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="35" offset="333" size="35">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="35"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="35"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ATAK_YRKESTEKST">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="40" offset="368" size="40">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="40"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="40"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ATAK_ANSATT_DATO">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="408" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ATAK_SLUTTET_DATO">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="8" offset="416" size="8">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="8"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="8"/>
          </restriction>
        </simpleType>
      </element>
      <element name="ATAK_ARBEIDSTID">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="4" offset="424" size="4">
                <td:sharedType>
                  <td:externalDecimalTD addrUnit="byte" alignment="byte" signFormat="trailing" signed="false" virtualDecimalPoint="2" width="4"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="decimal">
            <minInclusive value="0"/>
            <maxInclusive value="99.99"/>
          </restriction>
        </simpleType>
      </element>
      <element name="AGIV_IA_AVTALE">
        <annotation>
          <appinfo source="http://www.ibm.com/cam/2005/typedescriptor">
            <td:typeDescriptorElement>
              <td:initialValue kind="SPACE"/>
              <td:simpleInstanceTD accessor="readWrite" attributeInBit="false" contentSize="1" offset="428" size="1">
                <td:sharedType>
                  <td:stringTD addrUnit="byte" alignment="byte" characterSize="1" lengthEncoding="fixedLength" paddingCharacter=" " prefixLength="0" width="1"/>
                </td:sharedType>
              </td:simpleInstanceTD>
            </td:typeDescriptorElement>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="string">
            <maxLength value="1"/>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  <annotation>
    <appinfo source="commonj.connector.asi">
      <asi:annotationSet xmlns:asi="commonj.connector.asi" asiNSURI="http://www.ibm.com/cam/2005/typedescriptor" asiSchemaLocation="TypeDescriptor.xsd"/>
    </appinfo>
  </annotation>
</schema>
