incubator/stelvio-example/stelvio-example-order/stelvio-example-order-design/common/V1/V1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/common/V1" xmlns:common="http://www.stelvio.no/example/common/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType abstract="true" name="AdditionalInfo">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Entity">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>