incubator/stelvio-example/stelvio-example-metronome/stelvio-example-metronome-subscriber/WebContent/WEB-INF/wsdl/SubscriptionManager.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions targetNamespace="http://www.ibm.com/websphere/wsn/subscription-manager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:sm="http://www.ibm.com/websphere/wsn/schema/sm" xmlns:tns="http://www.ibm.com/websphere/wsn/subscription-manager" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2" xmlns:wsn-bw="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2" xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2" xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <import location="http://docs.oasis-open.org/wsn/bw-2.wsdl" namespace="http://docs.oasis-open.org/wsn/bw-2">
    </import>
  <import location="http://docs.oasis-open.org/wsrf/rpw-2.wsdl" namespace="http://docs.oasis-open.org/wsrf/rpw-2">
    </import>
  <import location="http://docs.oasis-open.org/wsrf/rw-2.wsdl" namespace="http://docs.oasis-open.org/wsrf/rw-2">
    </import>
  <import location="rlw-2.wsdl" namespace="http://docs.oasis-open.org/wsrf/rlw-2">
    </import>
  <types>
    <xsd:schema targetNamespace="http://www.ibm.com/websphere/wsn/schema/sm">
            <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="http://docs.oasis-open.org/wsn/b-2.xsd"/>
                                
            <xsd:import namespace="http://docs.oasis-open.org/wsrf/rl-2" schemaLocation="http://docs.oasis-open.org/wsrf/rl-2.xsd"/>
        
            <xsd:element name="SubMgrRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="wsrf-rl:CurrentTime"/>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="wsrf-rl:TerminationTime"/>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="wsn-b:ConsumerReference"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsn-b:Filter"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsn-b:SubscriptionPolicy"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsn-b:CreationTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
  </types>
  <portType name="SubscriptionManager" wsrf-rp:ResourceProperties="sm:SubMgrRP">
    <operation name="GetResourceProperty">
      <input message="wsrf-rpw:GetResourcePropertyRequest" name="GetResourcePropertyRequest" wsam:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest">
    </input>
      <output message="wsrf-rpw:GetResourcePropertyResponse" name="GetResourcePropertyResponse" wsam:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse" wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse">
    </output>
      <fault message="wsrf-rpw:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
    </operation>
    <operation name="Renew">
      <input message="wsn-bw:RenewRequest" name="RenewRequest" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/RenewRequest" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/RenewRequest">
    </input>
      <output message="wsn-bw:RenewResponse" name="RenewResponse" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/RenewResponse" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/RenewResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsn-bw:UnacceptableTerminationTimeFault" name="UnacceptableTerminationTimeFault" wsam:Action="http://docs.oasis-open.org/wsn/fault" wsaw:Action="http://docs.oasis-open.org/wsn/fault">
    </fault>
    </operation>
    <operation name="Unsubscribe">
      <input message="wsn-bw:UnsubscribeRequest" name="UnsubscribeRequest" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeRequest" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeRequest">
    </input>
      <output message="wsn-bw:UnsubscribeResponse" name="UnsubscribeResponse" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeResponse" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsn-bw:UnableToDestroySubscriptionFault" name="UnableToDestroySubscriptionFault" wsam:Action="http://docs.oasis-open.org/wsn/fault" wsaw:Action="http://docs.oasis-open.org/wsn/fault">
    </fault>
    </operation>
    <operation name="PauseSubscription">
      <input message="wsn-bw:PauseSubscriptionRequest" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionRequest" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionRequest">
    </input>
      <output message="wsn-bw:PauseSubscriptionResponse" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionResponse" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsn-bw:PauseFailedFault" name="PauseFailedFault" wsam:Action="http://docs.oasis-open.org/wsn/fault" wsaw:Action="http://docs.oasis-open.org/wsn/fault">
    </fault>
    </operation>
    <operation name="ResumeSubscription">
      <input message="wsn-bw:ResumeSubscriptionRequest" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionRequest" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionRequest">
    </input>
      <output message="wsn-bw:ResumeSubscriptionResponse" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionResponse" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsn-bw:ResumeFailedFault" name="ResumeFailedFault" wsam:Action="http://docs.oasis-open.org/wsn/fault" wsaw:Action="http://docs.oasis-open.org/wsn/fault">
    </fault>
    </operation>
    <operation name="Destroy">
      <input message="wsrf-rlw:DestroyRequest" name="DestroyRequest" wsam:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyRequest" wsaw:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyRequest">
    </input>
      <output message="wsrf-rlw:DestroyResponse" name="DestroyResponse" wsam:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyResponse" wsaw:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsrf-rlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
    </operation>
    <operation name="SetTerminationTime">
      <input message="wsrf-rlw:SetTerminationTimeRequest" name="SetTerminationTimeRequest" wsam:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest" wsaw:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest">
    </input>
      <output message="wsrf-rlw:SetTerminationTimeResponse" name="SetTerminationTimeResponse" wsam:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeResponse" wsaw:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeResponse">
    </output>
      <fault message="wsrf-rw:ResourceUnavailableFault" name="ResourceUnavailableFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsrf-rlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsrf-rlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
      <fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault" wsam:Action="http://docs.oasis-open.org/wsrf/fault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault">
    </fault>
    </operation>
  </portType>
  <binding name="MetronomenMetronomenSPSMBinding" type="tns:SubscriptionManager">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsaw:UsingAddressing required="true"/>
    <operation name="GetResourceProperty">
      <wsdlsoap:operation soapAction=""/>
      <input name="GetResourcePropertyRequest">
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="GetResourcePropertyResponse">
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="InvalidResourcePropertyQNameFault">
        <wsdlsoap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </fault>
      <fault name="ResourceUnavailableFault">
        <wsdlsoap:fault name="ResourceUnavailableFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <wsdlsoap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
    </operation>
    <operation name="Renew">
      <wsdlsoap:operation soapAction=""/>
      <input name="RenewRequest">
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="RenewResponse">
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <wsdlsoap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="UnacceptableTerminationTimeFault">
        <wsdlsoap:fault name="UnacceptableTerminationTimeFault" use="literal"/>
      </fault>
    </operation>
    <operation name="Unsubscribe">
      <wsdlsoap:operation soapAction=""/>
      <input name="UnsubscribeRequest">
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="UnsubscribeResponse">
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <wsdlsoap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="UnableToDestroySubscriptionFault">
        <wsdlsoap:fault name="UnableToDestroySubscriptionFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PauseSubscription">
      <wsdlsoap:operation soapAction=""/>
      <input>
        <wsdlsoap:body use="literal"/>
      </input>
      <output>
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <wsdlsoap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="PauseFailedFault">
        <wsdlsoap:fault name="PauseFailedFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ResumeSubscription">
      <wsdlsoap:operation soapAction=""/>
      <input>
        <wsdlsoap:body use="literal"/>
      </input>
      <output>
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ResourceUnknownFault">
        <wsdlsoap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="ResumeFailedFault">
        <wsdlsoap:fault name="ResumeFailedFault" use="literal"/>
      </fault>
    </operation>
    <operation name="Destroy">
      <wsdlsoap:operation soapAction=""/>
      <input name="DestroyRequest">
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="DestroyResponse">
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ResourceUnavailableFault">
        <wsdlsoap:fault name="ResourceUnavailableFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <wsdlsoap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
      <fault name="ResourceNotDestroyedFault">
        <wsdlsoap:fault name="ResourceNotDestroyedFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SetTerminationTime">
      <wsdlsoap:operation soapAction=""/>
      <input name="SetTerminationTimeRequest">
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="SetTerminationTimeResponse">
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ResourceUnavailableFault">
        <wsdlsoap:fault name="ResourceUnavailableFault" use="literal"/>
      </fault>
      <fault name="TerminationTimeChangeRejectedFault">
        <wsdlsoap:fault name="TerminationTimeChangeRejectedFault" use="literal"/>
      </fault>
      <fault name="UnableToSetTerminationTimeFault">
        <wsdlsoap:fault name="UnableToSetTerminationTimeFault" use="literal"/>
      </fault>
      <fault name="ResourceUnknownFault">
        <wsdlsoap:fault name="ResourceUnknownFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MetronomenMetronomenSPSM">
    <port binding="tns:MetronomenMetronomenSPSMBinding" name="SubscriptionManagerPort">
      <wsdlsoap:address location="http://sidu.lan:9080/MetronomenMetronomenSPSM/Service"/>
    </port>
  </service>
</definitions>