incubator/stelvio-example/stelvio-example-order/stelvio-example-order-design/order/V1/OrderCommand/OrderCommand.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OrderCommand" targetNamespace="http://www.stelvio.no/example/order/V1/OrderCommand" xmlns:tns="http://www.stelvio.no/example/order/V1/OrderCommand" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1/OrderCommand" xmlns:order="http://www.stelvio.no/example/order/V1">
      <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="../V1.xsd"/>
      <xsd:element name="createOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerId" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="orderLineItems" type="order:OrderLineItemSpecification"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrderResponse" type="order:Order"/>
      <xsd:element name="cancelOrder" type="xsd:string"/>
      <xsd:element name="addItemsToOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="orderLineItemsToAdd" type="order:OrderLineItemSpecification"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addItemsToOrderResponse" type="order:Order"/>
      <xsd:element name="removeItemsFromOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="orderLineItemsToRemove" type="order:OrderLineItemSpecification"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeItemsFromOrderResponse" type="order:Order"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createOrderRequest">
    <wsdl:part element="tns:createOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createOrderResponse">
    <wsdl:part element="tns:createOrderResponse" name="order"/>
  </wsdl:message>
  <wsdl:message name="cancelOrderRequest">
    <wsdl:part element="tns:cancelOrder" name="orderId"/>
  </wsdl:message>
  <wsdl:message name="addItemsToOrderRequest">
    <wsdl:part element="tns:addItemsToOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addItemsToOrderResponse">
    <wsdl:part element="tns:addItemsToOrderResponse" name="order"/>
  </wsdl:message>
  <wsdl:message name="removeItemsFromOrderRequest">
    <wsdl:part element="tns:removeItemsFromOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="removeItemsFromOrderResponse">
    <wsdl:part element="tns:removeItemsFromOrderResponse" name="order"/>
  </wsdl:message>
  <wsdl:portType name="OrderCommand">
    <wsdl:operation name="createOrder">
      <wsdl:input message="tns:createOrderRequest"/>
      <wsdl:output message="tns:createOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <wsdl:input message="tns:cancelOrderRequest"/>
    </wsdl:operation>
    <wsdl:operation name="addItemsToOrder">
      <wsdl:input message="tns:addItemsToOrderRequest"/>
      <wsdl:output message="tns:addItemsToOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeItemsFromOrder">
      <wsdl:input message="tns:removeItemsFromOrderRequest"/>
      <wsdl:output message="tns:removeItemsFromOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>