incubator/stelvio-example/stelvio-example-echo/stelvio-example-echo-proxy-ejb-jaxb/ejbs/lgResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejbs" xmlns:tns="http://ejbs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="object59.xsd"/>
  <xs:include schemaLocation="object58.xsd"/>
  <xs:include schemaLocation="object57.xsd"/>
  <xs:include schemaLocation="object56.xsd"/>
  <xs:include schemaLocation="object55.xsd"/>
  <xs:include schemaLocation="object54.xsd"/>
  <xs:include schemaLocation="object53.xsd"/>
  <xs:include schemaLocation="object52.xsd"/>
  <xs:include schemaLocation="object51.xsd"/>
  <xs:include schemaLocation="object50.xsd"/>
  <xs:include schemaLocation="object49.xsd"/>
  <xs:include schemaLocation="object48.xsd"/>
  <xs:include schemaLocation="object47.xsd"/>
  <xs:include schemaLocation="object46.xsd"/>
  <xs:include schemaLocation="object45.xsd"/>
  <xs:include schemaLocation="object44.xsd"/>
  <xs:include schemaLocation="object43.xsd"/>
  <xs:include schemaLocation="object42.xsd"/>
  <xs:include schemaLocation="object41.xsd"/>
  <xs:include schemaLocation="object40.xsd"/>
  <xs:include schemaLocation="object39.xsd"/>
  <xs:include schemaLocation="object38.xsd"/>
  <xs:include schemaLocation="object37.xsd"/>
  <xs:include schemaLocation="object36.xsd"/>
  <xs:include schemaLocation="object35.xsd"/>
  <xs:include schemaLocation="object34.xsd"/>
  <xs:include schemaLocation="object33.xsd"/>
  <xs:include schemaLocation="object32.xsd"/>
  <xs:include schemaLocation="object31.xsd"/>
  <xs:include schemaLocation="object30.xsd"/>
  <xs:include schemaLocation="object9.xsd"/>
  <xs:include schemaLocation="object8.xsd"/>
  <xs:include schemaLocation="object7.xsd"/>
  <xs:include schemaLocation="object6.xsd"/>
  <xs:include schemaLocation="object5.xsd"/>
  <xs:include schemaLocation="object4.xsd"/>
  <xs:include schemaLocation="object3.xsd"/>
  <xs:include schemaLocation="object2.xsd"/>
  <xs:include schemaLocation="object1.xsd"/>
  <xs:include schemaLocation="object29.xsd"/>
  <xs:include schemaLocation="object28.xsd"/>
  <xs:include schemaLocation="object27.xsd"/>
  <xs:include schemaLocation="object26.xsd"/>
  <xs:include schemaLocation="object25.xsd"/>
  <xs:include schemaLocation="object24.xsd"/>
  <xs:include schemaLocation="object23.xsd"/>
  <xs:include schemaLocation="object22.xsd"/>
  <xs:include schemaLocation="object21.xsd"/>
  <xs:include schemaLocation="object20.xsd"/>
  <xs:include schemaLocation="object19.xsd"/>
  <xs:include schemaLocation="object18.xsd"/>
  <xs:include schemaLocation="object17.xsd"/>
  <xs:include schemaLocation="object16.xsd"/>
  <xs:include schemaLocation="object15.xsd"/>
  <xs:include schemaLocation="object14.xsd"/>
  <xs:include schemaLocation="object13.xsd"/>
  <xs:include schemaLocation="object12.xsd"/>
  <xs:include schemaLocation="object99.xsd"/>
  <xs:include schemaLocation="object11.xsd"/>
  <xs:include schemaLocation="object98.xsd"/>
  <xs:include schemaLocation="object10.xsd"/>
  <xs:include schemaLocation="object97.xsd"/>
  <xs:include schemaLocation="object96.xsd"/>
  <xs:include schemaLocation="object95.xsd"/>
  <xs:include schemaLocation="object94.xsd"/>
  <xs:include schemaLocation="object93.xsd"/>
  <xs:include schemaLocation="object92.xsd"/>
  <xs:include schemaLocation="object91.xsd"/>
  <xs:include schemaLocation="object90.xsd"/>
  <xs:include schemaLocation="object89.xsd"/>
  <xs:include schemaLocation="object88.xsd"/>
  <xs:include schemaLocation="object87.xsd"/>
  <xs:include schemaLocation="object86.xsd"/>
  <xs:include schemaLocation="object85.xsd"/>
  <xs:include schemaLocation="object84.xsd"/>
  <xs:include schemaLocation="object83.xsd"/>
  <xs:include schemaLocation="object82.xsd"/>
  <xs:include schemaLocation="object81.xsd"/>
  <xs:include schemaLocation="object80.xsd"/>
  <xs:include schemaLocation="object79.xsd"/>
  <xs:include schemaLocation="object78.xsd"/>
  <xs:include schemaLocation="object77.xsd"/>
  <xs:include schemaLocation="object76.xsd"/>
  <xs:include schemaLocation="object75.xsd"/>
  <xs:include schemaLocation="object74.xsd"/>
  <xs:include schemaLocation="object73.xsd"/>
  <xs:include schemaLocation="object72.xsd"/>
  <xs:include schemaLocation="object71.xsd"/>
  <xs:include schemaLocation="object70.xsd"/>
  <xs:include schemaLocation="object100.xsd"/>
  <xs:include schemaLocation="object69.xsd"/>
  <xs:include schemaLocation="object68.xsd"/>
  <xs:include schemaLocation="object67.xsd"/>
  <xs:include schemaLocation="object66.xsd"/>
  <xs:include schemaLocation="object65.xsd"/>
  <xs:include schemaLocation="object64.xsd"/>
  <xs:include schemaLocation="object63.xsd"/>
  <xs:include schemaLocation="object62.xsd"/>
  <xs:include schemaLocation="object61.xsd"/>
  <xs:include schemaLocation="object60.xsd"/>
  <xs:complexType name="lgResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="object1" type="tns:object1"/>
      <xs:element minOccurs="0" name="object10" type="tns:object10"/>
      <xs:element minOccurs="0" name="object100" type="tns:object100"/>
      <xs:element minOccurs="0" name="object11" type="tns:object11"/>
      <xs:element minOccurs="0" name="object12" type="tns:object12"/>
      <xs:element minOccurs="0" name="object13" type="tns:object13"/>
      <xs:element minOccurs="0" name="object14" type="tns:object14"/>
      <xs:element minOccurs="0" name="object15" type="tns:object15"/>
      <xs:element minOccurs="0" name="object16" type="tns:object16"/>
      <xs:element minOccurs="0" name="object17" type="tns:object17"/>
      <xs:element minOccurs="0" name="object18" type="tns:object18"/>
      <xs:element minOccurs="0" name="object19" type="tns:object19"/>
      <xs:element minOccurs="0" name="object2" type="tns:object2"/>
      <xs:element minOccurs="0" name="object20" type="tns:object20"/>
      <xs:element minOccurs="0" name="object21" type="tns:object21"/>
      <xs:element minOccurs="0" name="object22" type="tns:object22"/>
      <xs:element minOccurs="0" name="object23" type="tns:object23"/>
      <xs:element minOccurs="0" name="object24" type="tns:object24"/>
      <xs:element minOccurs="0" name="object25" type="tns:object25"/>
      <xs:element minOccurs="0" name="object26" type="tns:object26"/>
      <xs:element minOccurs="0" name="object27" type="tns:object27"/>
      <xs:element minOccurs="0" name="object28" type="tns:object28"/>
      <xs:element minOccurs="0" name="object29" type="tns:object29"/>
      <xs:element minOccurs="0" name="object3" type="tns:object3"/>
      <xs:element minOccurs="0" name="object30" type="tns:object30"/>
      <xs:element minOccurs="0" name="object31" type="tns:object31"/>
      <xs:element minOccurs="0" name="object32" type="tns:object32"/>
      <xs:element minOccurs="0" name="object33" type="tns:object33"/>
      <xs:element minOccurs="0" name="object34" type="tns:object34"/>
      <xs:element minOccurs="0" name="object35" type="tns:object35"/>
      <xs:element minOccurs="0" name="object36" type="tns:object36"/>
      <xs:element minOccurs="0" name="object37" type="tns:object37"/>
      <xs:element minOccurs="0" name="object38" type="tns:object38"/>
      <xs:element minOccurs="0" name="object39" type="tns:object39"/>
      <xs:element minOccurs="0" name="object4" type="tns:object4"/>
      <xs:element minOccurs="0" name="object40" type="tns:object40"/>
      <xs:element minOccurs="0" name="object41" type="tns:object41"/>
      <xs:element minOccurs="0" name="object42" type="tns:object42"/>
      <xs:element minOccurs="0" name="object43" type="tns:object43"/>
      <xs:element minOccurs="0" name="object44" type="tns:object44"/>
      <xs:element minOccurs="0" name="object45" type="tns:object45"/>
      <xs:element minOccurs="0" name="object46" type="tns:object46"/>
      <xs:element minOccurs="0" name="object47" type="tns:object47"/>
      <xs:element minOccurs="0" name="object48" type="tns:object48"/>
      <xs:element minOccurs="0" name="object49" type="tns:object49"/>
      <xs:element minOccurs="0" name="object5" type="tns:object5"/>
      <xs:element minOccurs="0" name="object50" type="tns:object50"/>
      <xs:element minOccurs="0" name="object51" type="tns:object51"/>
      <xs:element minOccurs="0" name="object52" type="tns:object52"/>
      <xs:element minOccurs="0" name="object53" type="tns:object53"/>
      <xs:element minOccurs="0" name="object54" type="tns:object54"/>
      <xs:element minOccurs="0" name="object55" type="tns:object55"/>
      <xs:element minOccurs="0" name="object56" type="tns:object56"/>
      <xs:element minOccurs="0" name="object57" type="tns:object57"/>
      <xs:element minOccurs="0" name="object58" type="tns:object58"/>
      <xs:element minOccurs="0" name="object59" type="tns:object59"/>
      <xs:element minOccurs="0" name="object6" type="tns:object6"/>
      <xs:element minOccurs="0" name="object60" type="tns:object60"/>
      <xs:element minOccurs="0" name="object61" type="tns:object61"/>
      <xs:element minOccurs="0" name="object62" type="tns:object62"/>
      <xs:element minOccurs="0" name="object63" type="tns:object63"/>
      <xs:element minOccurs="0" name="object64" type="tns:object64"/>
      <xs:element minOccurs="0" name="object65" type="tns:object65"/>
      <xs:element minOccurs="0" name="object66" type="tns:object66"/>
      <xs:element minOccurs="0" name="object67" type="tns:object67"/>
      <xs:element minOccurs="0" name="object68" type="tns:object68"/>
      <xs:element minOccurs="0" name="object69" type="tns:object69"/>
      <xs:element minOccurs="0" name="object7" type="tns:object7"/>
      <xs:element minOccurs="0" name="object70" type="tns:object70"/>
      <xs:element minOccurs="0" name="object71" type="tns:object71"/>
      <xs:element minOccurs="0" name="object72" type="tns:object72"/>
      <xs:element minOccurs="0" name="object73" type="tns:object73"/>
      <xs:element minOccurs="0" name="object74" type="tns:object74"/>
      <xs:element minOccurs="0" name="object75" type="tns:object75"/>
      <xs:element minOccurs="0" name="object76" type="tns:object76"/>
      <xs:element minOccurs="0" name="object77" type="tns:object77"/>
      <xs:element minOccurs="0" name="object78" type="tns:object78"/>
      <xs:element minOccurs="0" name="object79" type="tns:object79"/>
      <xs:element minOccurs="0" name="object8" type="tns:object8"/>
      <xs:element minOccurs="0" name="object80" type="tns:object80"/>
      <xs:element minOccurs="0" name="object81" type="tns:object81"/>
      <xs:element minOccurs="0" name="object82" type="tns:object82"/>
      <xs:element minOccurs="0" name="object83" type="tns:object83"/>
      <xs:element minOccurs="0" name="object84" type="tns:object84"/>
      <xs:element minOccurs="0" name="object85" type="tns:object85"/>
      <xs:element minOccurs="0" name="object86" type="tns:object86"/>
      <xs:element minOccurs="0" name="object87" type="tns:object87"/>
      <xs:element minOccurs="0" name="object88" type="tns:object88"/>
      <xs:element minOccurs="0" name="object89" type="tns:object89"/>
      <xs:element minOccurs="0" name="object9" type="tns:object9"/>
      <xs:element minOccurs="0" name="object90" type="tns:object90"/>
      <xs:element minOccurs="0" name="object91" type="tns:object91"/>
      <xs:element minOccurs="0" name="object92" type="tns:object92"/>
      <xs:element minOccurs="0" name="object93" type="tns:object93"/>
      <xs:element minOccurs="0" name="object94" type="tns:object94"/>
      <xs:element minOccurs="0" name="object95" type="tns:object95"/>
      <xs:element minOccurs="0" name="object96" type="tns:object96"/>
      <xs:element minOccurs="0" name="object97" type="tns:object97"/>
      <xs:element minOccurs="0" name="object98" type="tns:object98"/>
      <xs:element minOccurs="0" name="object99" type="tns:object99"/>
      <xs:element minOccurs="0" name="output" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>