incubator/wid61-libs/nav-lib-frg-medl/no/nav/lib/frg/medl/inf/MEDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-ent-frg-medlemskapsunntak" xmlns:bons2="http://nav-lib-frg" xmlns:bons3="http://nav-ent-frg-medlemskapsunntak/no/nav/asbo" xmlns:bons4="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo" xmlns:bons5="http://nav-lib-frg-medl/no/nav/lib/frg/medl/fault" xmlns:tns="http://nav-lib-frg-medl/no/nav/lib/frg/medl/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MEDLMedlemskapsunntak" targetNamespace="http://nav-lib-frg-medl/no/nav/lib/frg/medl/inf">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-ent-frg-medlemskapsunntak/no/nav/asbo" targetNamespace="http://nav-lib-frg-medl/no/nav/lib/frg/medl/inf" xmlns:bons1="http://nav-ent-frg-medlemskapsunntak" xmlns:bons2="http://nav-lib-frg" xmlns:bons3="http://nav-ent-frg-medlemskapsunntak/no/nav/asbo" xmlns:bons4="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo" xmlns:bons5="http://nav-lib-frg-medl/no/nav/lib/frg/medl/fault" xmlns:tns="http://nav-lib-frg-medl/no/nav/lib/frg/medl/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import namespace="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo" schemaLocation="../../../../../../xsd-includes/http.nav-lib-frg-medl.no.nav.lib.frg.medl.asbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg-medl/no/nav/lib/frg/medl/fault" schemaLocation="../../../../../../xsd-includes/http.nav-lib-frg-medl.no.nav.lib.frg.medl.fault.xsd"/>
            <xsd:element name="lagreMedlemskapsInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreMedlemskapsInfoRequest" nillable="true" type="bons4:medlMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentMedlemskapsInfoListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentMedlemskapsInfoListeRequest" nillable="true" type="bons4:medlHentMedlemskapsInfoListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreMedlemskapsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreMedlemskapsInfoResponse" nillable="true" type="bons4:medlMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentMedlemskapsInfoListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentMedlemskapsInfoListeResponse" nillable="true" type="bons4:medlMedlemskapsunntakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFnrMedUtenlandskId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFnrMedUtenlandskIdRequest" nillable="true" type="bons4:medlUtenlandskId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFnrMedUtenlandskIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFnrMedUtenlandskIdResponse" nillable="true" type="bons4:medlPersonIdentifikatorListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreMedlemskapsInfo_faultMEDLMedlemskapsunntakIkkeFunnetBO" type="bons5:FaultMEDLMedlemskapsunntakIkkeFunnet"/>
            <xsd:element name="hentMedlemskapsInfoListe_faultMEDLPersonIkkeFunnet" type="bons5:FaultMEDLPersonIkkeFunnet"/>
            <xsd:element name="hentFnrMedUtenlandskId_faultMEDLFnrForUtenlandskIdIkkeFunnet" type="bons5:FaultMEDLFnrForUtenlandskIdIkkeFunnet"/>
            <xsd:element name="oppdaterFodselsnummer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="oppdaterFodselsnummerRequest" nillable="true" type="bons4:medlPersonOppdatert"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettFodselsnummer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettFodselsnummerRequest" nillable="true" type="bons4:medlPersonOpprettet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="lagreMedlemskapsInfoRequestMsg">
    <wsdl:part element="tns:lagreMedlemskapsInfo" name="lagreMedlemskapsInfoParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreMedlemskapsInfoResponseMsg">
    <wsdl:part element="tns:lagreMedlemskapsInfoResponse" name="lagreMedlemskapsInfoResult"/>
  </wsdl:message>
    <wsdl:message name="hentMedlemskapsInfoListeRequestMsg">
    <wsdl:part element="tns:hentMedlemskapsInfoListe" name="hentMedlemskapsInfoListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentMedlemskapsInfoListeResponseMsg">
    <wsdl:part element="tns:hentMedlemskapsInfoListeResponse" name="hentMedlemskapsInfoListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentFnrMedUtenlandskIdRequestMsg">
    <wsdl:part element="tns:hentFnrMedUtenlandskId" name="hentFnrMedUtenlandskIdParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFnrMedUtenlandskIdResponseMsg">
    <wsdl:part element="tns:hentFnrMedUtenlandskIdResponse" name="hentFnrMedUtenlandskIdResult"/>
  </wsdl:message>
    <wsdl:message name="lagreMedlemskapsInfo_faultMEDLMedlemskapsunntakIkkeFunnetBOMsg">
    <wsdl:part element="tns:lagreMedlemskapsInfo_faultMEDLMedlemskapsunntakIkkeFunnetBO" name="faultMEDLMedlemskapsunntakIkkeFunnetBO"/>
  </wsdl:message>
    <wsdl:message name="hentMedlemskapsInfoListe_faultMEDLPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentMedlemskapsInfoListe_faultMEDLPersonIkkeFunnet" name="faultMEDLPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentFnrMedUtenlandskId_faultMEDLFnrForUtenlandskIdIkkeFunnetMsg">
    <wsdl:part element="tns:hentFnrMedUtenlandskId_faultMEDLFnrForUtenlandskIdIkkeFunnet" name="faultMEDLFnrForUtenlandskIdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="oppdaterFodselsnummerRequestMsg">
    <wsdl:part element="tns:oppdaterFodselsnummer" name="oppdaterFodselsnummerParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettFodselsnummerRequestMsg">
    <wsdl:part element="tns:opprettFodselsnummer" name="opprettFodselsnummerParameters"/>
  </wsdl:message>
    <wsdl:portType name="MEDL">
    <wsdl:operation name="lagreMedlemskapsInfo">
      <wsdl:input message="tns:lagreMedlemskapsInfoRequestMsg" name="lagreMedlemskapsInfoRequest"/>
      <wsdl:output message="tns:lagreMedlemskapsInfoResponseMsg" name="lagreMedlemskapsInfoResponse"/>
            <wsdl:fault message="tns:lagreMedlemskapsInfo_faultMEDLMedlemskapsunntakIkkeFunnetBOMsg" name="faultMEDLMedlemskapsunntakIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentMedlemskapsInfoListe">
      <wsdl:input message="tns:hentMedlemskapsInfoListeRequestMsg" name="hentMedlemskapsInfoListeRequest"/>
      <wsdl:output message="tns:hentMedlemskapsInfoListeResponseMsg" name="hentMedlemskapsInfoListeResponse"/>
            <wsdl:fault message="tns:hentMedlemskapsInfoListe_faultMEDLPersonIkkeFunnetMsg" name="faultMEDLPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentFnrMedUtenlandskId">
      <wsdl:input message="tns:hentFnrMedUtenlandskIdRequestMsg" name="hentFnrMedUtenlandskIdRequest"/>
      <wsdl:output message="tns:hentFnrMedUtenlandskIdResponseMsg" name="hentFnrMedUtenlandskIdResponse"/>
            <wsdl:fault message="tns:hentFnrMedUtenlandskId_faultMEDLFnrForUtenlandskIdIkkeFunnetMsg" name="faultMEDLFnrForUtenlandskIdIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="oppdaterFodselsnummer">
      <wsdl:input message="tns:oppdaterFodselsnummerRequestMsg" name="oppdaterFodselsnummerRequest"/>
    </wsdl:operation>
        <wsdl:operation name="opprettFodselsnummer">
      <wsdl:input message="tns:opprettFodselsnummerRequestMsg" name="opprettFodselsnummerRequest"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
