incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOAvdeling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOAdresse.xsd"/>
    <xsd:include schemaLocation="GBOKonto.xsd"/>
    <xsd:complexType name="GBOAvdeling">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTSSEkstern" type="xsd:string"/>
      <xsd:element minOccurs="0" name="avdelingNavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="avdelingType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="avdelingsnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontaktperson" type="xsd:string"/>
      <xsd:element minOccurs="0" name="epost" type="xsd:string"/>
      <xsd:element minOccurs="0" name="telefon" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mobil" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kontoer" type="bons1:GBOKonto"/>
      <xsd:element minOccurs="0" name="aAdresse" type="bons1:GBOAdresse"/>
      <xsd:element minOccurs="0" name="pAdresse" type="bons1:GBOAdresse"/>
      <xsd:element minOccurs="0" name="tAdresse" type="bons1:GBOAdresse"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
