incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOEnkeltbehov.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOEnkeltbehov">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="behov" type="xsd:string"/>
      <xsd:element minOccurs="0" name="behovsBeskrivelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
