incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOFinnSamhandlerRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOFinnSamhandlerRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="navn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="samhandlerType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="offentligId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="avdelingnr" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
