incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOFodselsdatosokRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOFodselsdatosokRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsdato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kjonn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="navEnhet" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
