incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOFinnPersonRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd" namespace="http://stelvio-commons-lib/no/nav/gbo"/>
    <xsd:include schemaLocation="GBOKontonummersokRequest.xsd"/>
    <xsd:include schemaLocation="GBOFodselsdatosokRequest.xsd"/>
    <xsd:include schemaLocation="GBOAdressesokRequest.xsd"/>
    <xsd:include schemaLocation="GBONavnesokRequest.xsd"/>
    <xsd:complexType name="GBOFinnPersonRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="navnesok" type="bons0:GBONavnesokRequest"/>
      <xsd:element minOccurs="0" name="adressesok" type="bons0:GBOAdressesokRequest"/>
      <xsd:element minOccurs="0" name="fodselsdatosok" type="bons0:GBOFodselsdatosokRequest"/>
      <xsd:element minOccurs="0" name="kontonummersok" type="bons0:GBOKontonummersokRequest"/>
            <xsd:element minOccurs="0" name="buffNr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="kontekstData" type="bons1:GBOStelvioContext"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
