incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOHentSamboerforholdRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOPerson.xsd"/>
    <xsd:complexType name="GBOHentSamboerforholdRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="person" type="bons0:GBOPerson"/>
      <xsd:element minOccurs="0" name="samboerDato" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
