incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOHentSamhandlerRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOHentSamhandlerRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTSSEkstern" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hentDetaljert" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
