incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOHentInstitusjonsoppholdListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOHentInstitusjonsoppholdListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hentSamhandlerInfo" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="erGyldig" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
