incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOInntekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOInntektsPost.xsd"/>
    <xsd:complexType name="GBOInntekt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="inntektsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="inntektsBegrep" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="aar" type="xsd:string"/>
      <xsd:element minOccurs="0" name="totalBelop" type="xsd:string"/>
      <xsd:element minOccurs="0" name="opprettetAv" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kilde" type="xsd:string"/>
            <xsd:element minOccurs="0" name="inntektsPoster" type="bons0:GBOInntektsPost" maxOccurs="unbounded"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
