incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOInstitusjonsopphold.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd" namespace="http://stelvio-commons-lib/no/nav/gbo"/>
    <xsd:include schemaLocation="GBOInstitusjon.xsd"/>
    <xsd:complexType name="GBOInstitusjonsopphold">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
      <xsd:element minOccurs="0" name="institusjonListe" type="bons0:GBOInstitusjon" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
