incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOInstitusjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd" namespace="http://stelvio-commons-lib/no/nav/gbo"/>
    <xsd:complexType name="GBOInstitusjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppholdPeriodeId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="samhandlerNavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="institusjonsNr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="oppholdType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoForventetTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="varighetType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="pasientKategori" type="xsd:string"/>
      <xsd:element minOccurs="0" name="overfort" type="xsd:string"/>
      <xsd:element minOccurs="0" name="erGyldig" type="xsd:string"/>
      <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
