incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOKonto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOAdresse.xsd"/>
     <xsd:complexType name="GBOKonto">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="kontoType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="kontonummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="banknavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bankkode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="swiftkode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="valuta" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bankadresse" type="bons1:GBOAdresse"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
