incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOLagreAdresseRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOAnnenAdresse.xsd"/>
    <xsd:import schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd" namespace="http://stelvio-commons-lib/no/nav/gbo"/>
    <xsd:complexType name="GBOLagreAdresseRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="adresseType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tilleggsAdresse" type="bons1:GBOAnnenAdresse"/>
            <xsd:element minOccurs="0" name="utenlandsAdresse" type="bons1:GBOAnnenAdresse"/>
            <xsd:element minOccurs="0" name="brukerKontekst" type="bons0:GBOStelvioContext"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
