incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOLagreInstitusjonsoppholdBatchRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd" namespace="http://stelvio-commons-lib/no/nav/gbo"/>
    <xsd:include schemaLocation="GBOInstitusjonsopphold.xsd"/>
    <xsd:complexType name="GBOLagreInstitusjonsoppholdBatchRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="institusjonsopphold" type="bons0:GBOInstitusjonsopphold"/>
      <xsd:element minOccurs="0" name="stelvioContext" type="bons1:GBOStelvioContext"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
