incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOLagreTelefonnumreRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
    <xsd:complexType name="GBOLagreTelefonnumreRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="telefonType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tlfPrivat" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tlfJobb" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tlfMobil" type="xsd:string"/>
            <xsd:element minOccurs="0" name="brukerKontekst" type="bons0:GBOStelvioContext"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
