incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOMedlemskapsunntak.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd" namespace="http://stelvio-commons-lib/no/nav/gbo"/>
    <xsd:include schemaLocation="GBOUtlandIdListe.xsd"/>
    <xsd:include schemaLocation="GBOPeriodeListe.xsd"/>
    <xsd:include schemaLocation="GBOGrunnlagListe.xsd"/>
    <xsd:complexType name="GBOMedlemskapsunntak">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="medlemskapsunntaksId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="opprettetAv" type="xsd:string"/>
            <xsd:element minOccurs="0" name="datoOpprettet" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endretAv" type="xsd:string"/>
            <xsd:element minOccurs="0" name="datoEndret" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utlandIder" type="bons0:GBOUtlandIdListe"/>
            <xsd:element minOccurs="0" name="perioder" type="bons0:GBOPeriodeListe"/>
            <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
            <xsd:element minOccurs="0" name="stelvioContext" type="bons1:GBOStelvioContext"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
