incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBONAVEnhet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOFagomradeUnderkategori.xsd"/>
    <xsd:include schemaLocation="GBOFagomrade.xsd"/>
    <xsd:include schemaLocation="GBOAdresse.xsd"/>
    <xsd:complexType name="GBONAVEnhet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhetsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enhetsNavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orgEnhetsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orgNivaKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adresser" type="bons0:GBOAdresse" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="fagomrader" type="bons0:GBOFagomrade" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="underkategorier" type="bons0:GBOFagomradeUnderkategori" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="organisertUnder" type="bons0:GBONAVEnhet" maxOccurs="unbounded"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
