incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBONAVAnsatt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOFagomrade.xsd"/>
    <xsd:include schemaLocation="GBONAVEnhet.xsd"/>
    <xsd:complexType name="GBONAVAnsatt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ansattId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ansattNavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fornavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="etternavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="epost" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="enheter" type="bons0:GBONAVEnhet"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomrader" type="bons0:GBOFagomrade"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
