incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOPeriode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOGrunnlagListe.xsd"/>
    <xsd:complexType name="GBOPeriode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="medlemPeriodeId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="identifiseringsDato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dekning" type="xsd:string"/>
      <xsd:element minOccurs="0" name="medlemPeriodeType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="land" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kilde" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="soknad" type="xsd:string"/>
      <xsd:element minOccurs="0" name="erGyldig" type="xsd:string"/>
      <xsd:element minOccurs="0" name="opprettetAv" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoOpprettet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endretAv" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoEndret" type="xsd:string"/>
            <xsd:element minOccurs="0" name="grunnlagene" type="bons0:GBOGrunnlagListe"/>
            <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
