incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOSamhandler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOKonto.xsd"/>
    <xsd:include schemaLocation="GBOAvdeling.xsd"/>
    <xsd:complexType name="GBOSamhandler">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="navn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sprak" type="xsd:string"/>
      <xsd:element minOccurs="0" name="samhandlerType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="offentligId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idType" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="avdelinger" type="bons1:GBOAvdeling"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
