incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/gbo/GBOTjenestepensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:include schemaLocation="GBOTjenestepensjonForhold.xsd"/>
   <xsd:complexType name="GBOTjenestepensjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tjenestepensjonForholdene" type="bons0:GBOTjenestepensjonForhold" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
