incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/Arbeidsforhold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://stelvio-commons-lib/no/nav/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Arbeidsforhold" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://stelvio-commons-lib/no/nav/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
      <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
      <xsd:element name="hentArbeidsforholdListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsforholdListeRequest" nillable="true" type="bons1:GBOArbeidsforholdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentArbeidsforholdListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsforholdListeResponse" nillable="true" type="bons1:GBOArbeidsforholdListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentArbeidsforholdListeRequestMsg">
    <wsdl:part element="tns:hentArbeidsforholdListe" name="hentArbeidsforholdListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentArbeidsforholdListeResponseMsg">
    <wsdl:part element="tns:hentArbeidsforholdListeResponse" name="hentArbeidsforholdListeResult"/>
  </wsdl:message>
    <wsdl:portType name="Arbeidsforhold">
    <wsdl:operation name="hentArbeidsforholdListe">
      <wsdl:input message="tns:hentArbeidsforholdListeRequestMsg" name="hentArbeidsforholdListeRequest"/>
      <wsdl:output message="tns:hentArbeidsforholdListeResponseMsg" name="hentArbeidsforholdListeResponse"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
