incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/HentInstitusjonsoppholdListe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentInstitusjonsoppholdListe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HentInstitusjonsoppholdListe" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentInstitusjonsoppholdListe">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentInstitusjonsoppholdListe" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentInstitusjonsoppholdListe" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
            <xsd:element name="hentInstitusjonsoppholdListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInstitusjonsoppholdListeRequest" nillable="true" type="bons1:GBOHentInstitusjonsoppholdListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInstitusjonsoppholdListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInstitusjonsoppholdListeResponse" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentInstitusjonsoppholdListe_faultFnrIkkeFunnet" type="bons2:FaultFnrIkkeFunnet"/>
            <xsd:element name="hentInstitusjonsoppholdListe_faultSamhandlerIkkeFunnet" type="bons2:FaultSamhandlerIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentInstitusjonsoppholdListeRequestMsg">
    <wsdl:part element="tns:hentInstitusjonsoppholdListe" name="hentInstitusjonsoppholdListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentInstitusjonsoppholdListeResponseMsg">
    <wsdl:part element="tns:hentInstitusjonsoppholdListeResponse" name="hentInstitusjonsoppholdListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentInstitusjonsoppholdListe_faultFnrIkkeFunnetMsg">
    <wsdl:part element="tns:hentInstitusjonsoppholdListe_faultFnrIkkeFunnet" name="faultFnrIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentInstitusjonsoppholdListe_faultSamhandlerIkkeFunnetMsg">
    <wsdl:part element="tns:hentInstitusjonsoppholdListe_faultSamhandlerIkkeFunnet" name="faultSamhandlerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="HentInstitusjonsoppholdListe">
    <wsdl:operation name="hentInstitusjonsoppholdListe">
      <wsdl:input message="tns:hentInstitusjonsoppholdListeRequestMsg" name="hentInstitusjonsoppholdListeRequest"/>
      <wsdl:output message="tns:hentInstitusjonsoppholdListeResponseMsg" name="hentInstitusjonsoppholdListeResponse"/>
            <wsdl:fault message="tns:hentInstitusjonsoppholdListe_faultFnrIkkeFunnetMsg" name="faultFnrIkkeFunnet"/>
            <wsdl:fault message="tns:hentInstitusjonsoppholdListe_faultSamhandlerIkkeFunnetMsg" name="faultSamhandlerIkkeFunnet"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
