incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForhold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForhold" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HentTjenestepensjonForhold" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForhold">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForhold" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForhold" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
      <xsd:element name="hentTjenestepensjonForhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTjenestepensjonForholdRequest" nillable="true" type="bons1:GBOHentTjenestepensjonForholdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTjenestepensjonForholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTjenestepensjonForholdResponse" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnet" type="bons2:FaultTjenestepensjonForholdIkkeFunnet"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentTjenestepensjonForholdRequestMsg">
    <wsdl:part element="tns:hentTjenestepensjonForhold" name="hentTjenestepensjonForholdParameters"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForholdResponseMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdResponse" name="hentTjenestepensjonForholdResult"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnetMsg">
    <wsdl:part element="tns:hentTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnet" name="faultTjenestepensjonForholdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="HentTjenestepensjonForhold">
    <wsdl:operation name="hentTjenestepensjonForhold">
      <wsdl:input message="tns:hentTjenestepensjonForholdRequestMsg" name="hentTjenestepensjonForholdRequest"/>
      <wsdl:output message="tns:hentTjenestepensjonForholdResponseMsg" name="hentTjenestepensjonForholdResponse"/>
      <wsdl:fault message="tns:hentTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnetMsg" name="faultTjenestepensjonForholdIkkeFunnet"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
