incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForholdListe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForholdListe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HentTjenestepensjonForholdListe" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForholdListe">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForholdListe" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentTjenestepensjonForholdListe" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
      <xsd:element name="hentTjenestepensjonForholdListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTjenestepensjonForholdListeRequest" nillable="true" type="bons1:GBOHentTjenestepensjonForholdListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTjenestepensjonForholdListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTjenestepensjonForholdListeResponse" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTjenestepensjonForholdListe_faultPersonIkkeFunnet" type="bons2:FaultPersonIkkeFunnet"/>
      <xsd:element name="hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnet" type="bons2:FaultTjenestepensjonForholdIkkeFunnet"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentTjenestepensjonForholdListeRequestMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListe" name="hentTjenestepensjonForholdListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForholdListeResponseMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListeResponse" name="hentTjenestepensjonForholdListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForholdListe_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListe_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnetMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnet" name="faultTjenestepensjonForholdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="HentTjenestepensjonForholdListe">
    <wsdl:operation name="hentTjenestepensjonForholdListe">
      <wsdl:input message="tns:hentTjenestepensjonForholdListeRequestMsg" name="hentTjenestepensjonForholdListeRequest"/>
      <wsdl:output message="tns:hentTjenestepensjonForholdListeResponseMsg" name="hentTjenestepensjonForholdListeResponse"/>
      <wsdl:fault message="tns:hentTjenestepensjonForholdListe_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
      <wsdl:fault message="tns:hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnetMsg" name="faultTjenestepensjonForholdIkkeFunnet"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
