incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/HentSpesialenhetTilPerson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons3="http://stelvio-commons-lib/no/nav/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentSpesialenhetTilPerson" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HentSpesialenhetTilPerson" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentSpesialenhetTilPerson">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/HentSpesialenhetTilPerson" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons3="http://stelvio-commons-lib/no/nav/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/HentSpesialenhetTilPerson" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
      <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
      <xsd:element name="hentSpesialenhetTilPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesialenhetTilPersonRequest" nillable="true" type="bons1:GBOHentSpesialenhetTilPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesialenhetTilPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesialenhetTilPersonResponse" nillable="true" type="bons1:GBONAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesialenhetTilPerson_faultPersonIkkeFunnet" type="bons2:FaultPersonIkkeFunnet"/>
            <xsd:element name="hentSpesialenhetTilPerson_faultNAVEnhetIkkeFunnet" type="bons2:FaultNAVEnhetIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentSpesialenhetTilPersonRequestMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson" name="hentSpesialenhetTilPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPersonResponseMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPersonResponse" name="hentSpesialenhetTilPersonResult"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPerson_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPerson_faultNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson_faultNAVEnhetIkkeFunnet" name="faultNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="HentSpesialenhetTilPerson">
    <wsdl:operation name="hentSpesialenhetTilPerson">
      <wsdl:input message="tns:hentSpesialenhetTilPersonRequestMsg" name="hentSpesialenhetTilPersonRequest"/>
      <wsdl:output message="tns:hentSpesialenhetTilPersonResponseMsg" name="hentSpesialenhetTilPersonResponse"/>
      <wsdl:fault message="tns:hentSpesialenhetTilPerson_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
            <wsdl:fault message="tns:hentSpesialenhetTilPerson_faultNAVEnhetIkkeFunnetMsg" name="faultNAVEnhetIkkeFunnet"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
