incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/Institusjonsopphold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons3="http://stelvio-commons-lib/no/nav/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/Institusjonsopphold" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Intitusjonsopphold" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/Institusjonsopphold">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/Institusjonsopphold" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons3="http://stelvio-commons-lib/no/nav/gbo" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/Institusjonsopphold" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
            <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
            <xsd:element name="hentInstitusjonsoppholdListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInstitusjonsoppholdListeRequest" nillable="true" type="bons1:GBOHentInstitusjonsoppholdListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInstitusjonsoppholdListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInstitusjonsoppholdListeResponse" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentInstitusjonsoppholdListe_faultFnrIkkeFunnet" type="bons2:FaultFnrIkkeFunnet"/>
            <xsd:element name="lagreInstitusjonsopphold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreInstitusjonsoppholdRequest" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreInstitusjonsoppholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreInstitusjonsoppholdResponse" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreInstitusjonsopphold_faultFnrIkkeFunnet" type="bons2:FaultFnrIkkeFunnet"/>
            <xsd:element name="lagreInstitusjonsopphold_faultOppholdPeriodeIdIkkeFunnet" type="bons2:FaultOppholdPeriodeIdIkkeFunnet"/>
            <xsd:element name="opprettInstitusjonsopphold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettInstitusjonsoppholdRequest" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettInstitusjonsoppholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettInstitusjonsoppholdResponse" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettInstitusjonsopphold_faultFnrIkkeFunnet" type="bons2:FaultFnrIkkeFunnet"/>
            <xsd:element name="slettIntstitusjonsopphold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettInstitusjonsoppholdRequest" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettIntstitusjonsoppholdResponse">
        <xsd:complexType>
          <xsd:sequence>
                        <xsd:element name="slettInstitusjonsoppholdResponse" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettIntstitusjonsopphold_faultInstitusjonsoppholdIkkeFunnet" type="bons2:FaultInstitusjonsoppholdIkkeFunnet"/>
            <xsd:element name="hentAldersOgSykehjemListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentAlderOgSykehjemListeRequest" nillable="true" type="bons1:GBOHentAldersOgSykehjemListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentAldersOgSykehjemListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentAlderOgSykehjemListeResponse" nillable="true" type="bons1:GBOInstitusjonsoppholdListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreInstitusjonsoppholdBatch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreInstitusjonsoppholdRequest" nillable="true" type="bons1:GBOLagreInstitusjonsoppholdBatchRequest"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreInstitusjonsoppholdBatchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreInstitusjonsoppholdResponse" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreInstitusjonsoppholdBatch_faultFnrIkkeFunnet" type="bons2:FaultFnrIkkeFunnet"/>
            <xsd:element name="lagreInstitusjonsoppholdBatch_faultOppholdPeriodeIdIkkeFunnet" type="bons2:FaultOppholdPeriodeIdIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentInstitusjonsoppholdListeRequestMsg">
    <wsdl:part element="tns:hentInstitusjonsoppholdListe" name="hentInstitusjonsoppholdListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentInstitusjonsoppholdListeResponseMsg">
    <wsdl:part element="tns:hentInstitusjonsoppholdListeResponse" name="hentInstitusjonsoppholdListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentInstitusjonsoppholdListe_faultFnrIkkeFunnetMsg">
    <wsdl:part element="tns:hentInstitusjonsoppholdListe_faultFnrIkkeFunnet" name="faultFnrIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsoppholdRequestMsg">
    <wsdl:part element="tns:lagreInstitusjonsopphold" name="lagreInstitusjonsoppholdParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsoppholdResponseMsg">
    <wsdl:part element="tns:lagreInstitusjonsoppholdResponse" name="lagreInstitusjonsoppholdResult"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsopphold_faultFnrIkkeFunnetMsg">
    <wsdl:part element="tns:lagreInstitusjonsopphold_faultFnrIkkeFunnet" name="faultFnrIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsopphold_faultOppholdPeriodeIdIkkeFunnetMsg">
    <wsdl:part element="tns:lagreInstitusjonsopphold_faultOppholdPeriodeIdIkkeFunnet" name="faultOppholdPeriodeIdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettInstitusjonsoppholdRequestMsg">
    <wsdl:part element="tns:opprettInstitusjonsopphold" name="opprettInstitusjonsoppholdParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettInstitusjonsoppholdResponseMsg">
    <wsdl:part element="tns:opprettInstitusjonsoppholdResponse" name="opprettInstitusjonsoppholdResult"/>
  </wsdl:message>
    <wsdl:message name="opprettInstitusjonsopphold_faultFnrIkkeFunnetMsg">
    <wsdl:part element="tns:opprettInstitusjonsopphold_faultFnrIkkeFunnet" name="faultFnrIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="slettIntstitusjonsoppholdRequestMsg">
    <wsdl:part element="tns:slettIntstitusjonsopphold" name="slettIntstitusjonsoppholdParameters"/>
  </wsdl:message>
    <wsdl:message name="slettIntstitusjonsoppholdResponseMsg">
    <wsdl:part element="tns:slettIntstitusjonsoppholdResponse" name="slettIntstitusjonsoppholdResult"/>
  </wsdl:message>
    <wsdl:message name="slettIntstitusjonsopphold_faultInstitusjonsoppholdIkkeFunnetMsg">
    <wsdl:part element="tns:slettIntstitusjonsopphold_faultInstitusjonsoppholdIkkeFunnet" name="faultInstitusjonsoppholdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentAldersOgSykehjemListeRequestMsg">
    <wsdl:part element="tns:hentAldersOgSykehjemListe" name="hentAldersOgSykehjemListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentAldersOgSykehjemListeResponseMsg">
    <wsdl:part element="tns:hentAldersOgSykehjemListeResponse" name="hentAldersOgSykehjemListeResult"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsoppholdBatchRequestMsg">
    <wsdl:part element="tns:lagreInstitusjonsoppholdBatch" name="lagreInstitusjonsoppholdBatchParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsoppholdBatchResponseMsg">
    <wsdl:part element="tns:lagreInstitusjonsoppholdBatchResponse" name="lagreInstitusjonsoppholdBatchResult"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsoppholdBatch_faultFnrIkkeFunnetMsg">
    <wsdl:part element="tns:lagreInstitusjonsoppholdBatch_faultFnrIkkeFunnet" name="faultFnrIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsoppholdBatch_faultOppholdPeriodeIdIkkeFunnetMsg">
    <wsdl:part element="tns:lagreInstitusjonsoppholdBatch_faultOppholdPeriodeIdIkkeFunnet" name="faultOppholdPeriodeIdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="Institusjonsopphold">
    <wsdl:operation name="hentInstitusjonsoppholdListe">
      <wsdl:input message="tns:hentInstitusjonsoppholdListeRequestMsg" name="hentInstitusjonsoppholdListeRequest"/>
      <wsdl:output message="tns:hentInstitusjonsoppholdListeResponseMsg" name="hentInstitusjonsoppholdListeResponse"/>
            <wsdl:fault message="tns:hentInstitusjonsoppholdListe_faultFnrIkkeFunnetMsg" name="faultFnrIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreInstitusjonsopphold">
      <wsdl:input message="tns:lagreInstitusjonsoppholdRequestMsg" name="lagreInstitusjonsoppholdRequest"/>
      <wsdl:output message="tns:lagreInstitusjonsoppholdResponseMsg" name="lagreInstitusjonsoppholdResponse"/>
      <wsdl:fault message="tns:lagreInstitusjonsopphold_faultFnrIkkeFunnetMsg" name="faultFnrIkkeFunnet"/>
      <wsdl:fault message="tns:lagreInstitusjonsopphold_faultOppholdPeriodeIdIkkeFunnetMsg" name="faultOppholdPeriodeIdIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="opprettInstitusjonsopphold">
      <wsdl:input message="tns:opprettInstitusjonsoppholdRequestMsg" name="opprettInstitusjonsoppholdRequest"/>
      <wsdl:output message="tns:opprettInstitusjonsoppholdResponseMsg" name="opprettInstitusjonsoppholdResponse"/>
      <wsdl:fault message="tns:opprettInstitusjonsopphold_faultFnrIkkeFunnetMsg" name="faultFnrIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="slettIntstitusjonsopphold">
      <wsdl:input message="tns:slettIntstitusjonsoppholdRequestMsg" name="slettIntstitusjonsoppholdRequest"/>
            <wsdl:output message="tns:slettIntstitusjonsoppholdResponseMsg" name="slettIntstitusjonsoppholdResponse"/>
            <wsdl:fault message="tns:slettIntstitusjonsopphold_faultInstitusjonsoppholdIkkeFunnetMsg" name="faultInstitusjonsoppholdIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentAldersOgSykehjemListe">
      <wsdl:input message="tns:hentAldersOgSykehjemListeRequestMsg" name="hentAldersOgSykehjemListeRequest"/>
      <wsdl:output message="tns:hentAldersOgSykehjemListeResponseMsg" name="hentAldersOgSykehjemListeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="lagreInstitusjonsoppholdBatch">
            <wsdl:input message="tns:lagreInstitusjonsoppholdBatchRequestMsg" name="lagreInstitusjonsoppholdBatchRequest"/>
            <wsdl:output message="tns:lagreInstitusjonsoppholdBatchResponseMsg" name="lagreInstitusjonsoppholdBatchResponse"/>
      <wsdl:fault message="tns:lagreInstitusjonsoppholdBatch_faultFnrIkkeFunnetMsg" name="faultFnrIkkeFunnet"/>
      <wsdl:fault message="tns:lagreInstitusjonsoppholdBatch_faultOppholdPeriodeIdIkkeFunnetMsg" name="faultOppholdPeriodeIdIkkeFunnet"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
