incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/LagreInstitusjonsopphold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/LagreInstitusjonsopphold" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LagreInstitusjonsopphold" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/LagreInstitusjonsopphold">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/LagreInstitusjonsopphold" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/LagreInstitusjonsopphold" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
            <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/inf" schemaLocation="GBOLagreInstitusjonsoppholdBatchRequest.xsd"/>
            <xsd:element name="lagreInstitusjonsopphold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreInstitusjonsoppholdRequest" nillable="true" type="bons1:GBOLagreInstitusjonsoppholdBatchRequest"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreInstitusjonsoppholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreInstitusjonsoppholdResponse" nillable="true" type="bons1:GBOInstitusjonsopphold"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="lagreInstitusjonsoppholdRequestMsg">
    <wsdl:part element="tns:lagreInstitusjonsopphold" name="lagreInstitusjonsoppholdParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreInstitusjonsoppholdResponseMsg">
    <wsdl:part element="tns:lagreInstitusjonsoppholdResponse" name="lagreInstitusjonsoppholdResult"/>
  </wsdl:message>
    <wsdl:portType name="LagreInstitusjonsopphold">
    <wsdl:operation name="lagreInstitusjonsopphold">
            <wsdl:input message="tns:lagreInstitusjonsoppholdRequestMsg" name="lagreInstitusjonsoppholdRequest"/>
            <wsdl:output message="tns:lagreInstitusjonsoppholdResponseMsg" name="lagreInstitusjonsoppholdResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
