incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/Medlemskapsunntak.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:bons1="http://nav-lib-frg" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons3="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons4="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Medlemskapsunntak" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:bons1="http://nav-lib-frg" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons3="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons4="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
            <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
            <xsd:element name="lagreMedlemskapsInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreMedlemskapsInfoRequest" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentMedlemskapsInfoListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentMedlemskapsInfoListeRequest" nillable="true" type="bons2:GBOHentMedlemskapsInfoListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreMedlemskapsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreMedlemskapsInfoResponse" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentMedlemskapsInfoListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentMedlemskapsInfoListeResponse" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettMedlemskapsInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettMedlemskapsInfoRequest" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettMedlemskapsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettMedlemskapsInfoResponse" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettMedlemskapsInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettMedlemskapsInfoRequest" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettMedlemskapsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFnrListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFnrListeRequest" nillable="true" type="bons2:GBOUtlandId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFnrListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFnrListeResponse" nillable="true" type="bons2:GBOPersonListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnet" type="bons4:FaultMedlemskapsunntakIkkeFunnet"/>
            <xsd:element name="hentMedlemskapsInfoListe_faultPersonIkkeFunnet" type="bons4:FaultPersonIkkeFunnet"/>
            <xsd:element name="slettMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnet" type="bons4:FaultMedlemskapsunntakIkkeFunnet"/>
            <xsd:element name="hentFnrListe_faultFnrForUtenlandskIdIkkeFunnet" type="bons4:FaultFnrForUtenlandskIdIkkeFunnet"/>
            <xsd:element name="opprettMedlemskapBatch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettMedlemskapBatchRequest" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettMedlemskapBatchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettMedlemskapBatchResponse" nillable="true" type="bons2:GBOMedlemskapsunntak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="lagreMedlemskapsInfoRequestMsg">
    <wsdl:part element="tns:lagreMedlemskapsInfo" name="lagreMedlemskapsInfoParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreMedlemskapsInfoResponseMsg">
    <wsdl:part element="tns:lagreMedlemskapsInfoResponse" name="lagreMedlemskapsInfoResult"/>
  </wsdl:message>
    <wsdl:message name="hentMedlemskapsInfoListeRequestMsg">
    <wsdl:part element="tns:hentMedlemskapsInfoListe" name="hentMedlemskapsInfoListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentMedlemskapsInfoListeResponseMsg">
    <wsdl:part element="tns:hentMedlemskapsInfoListeResponse" name="hentMedlemskapsInfoListeResult"/>
  </wsdl:message>
    <wsdl:message name="opprettMedlemskapsInfoRequestMsg">
    <wsdl:part element="tns:opprettMedlemskapsInfo" name="opprettMedlemskapsInfoParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettMedlemskapsInfoResponseMsg">
    <wsdl:part element="tns:opprettMedlemskapsInfoResponse" name="opprettMedlemskapsInfoResult"/>
  </wsdl:message>
    <wsdl:message name="slettMedlemskapsInfoRequestMsg">
    <wsdl:part element="tns:slettMedlemskapsInfo" name="slettMedlemskapsInfoParameters"/>
  </wsdl:message>
    <wsdl:message name="slettMedlemskapsInfoResponseMsg">
    <wsdl:part element="tns:slettMedlemskapsInfoResponse" name="slettMedlemskapsInfoResult"/>
  </wsdl:message>
    <wsdl:message name="hentFnrListeRequestMsg">
    <wsdl:part element="tns:hentFnrListe" name="hentFnrListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFnrListeResponseMsg">
    <wsdl:part element="tns:hentFnrListeResponse" name="hentFnrListeResult"/>
  </wsdl:message>
    <wsdl:message name="lagreMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnetMsg">
    <wsdl:part element="tns:lagreMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnet" name="faultMedlemskapsunntakIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentMedlemskapsInfoListe_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentMedlemskapsInfoListe_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="slettMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnetMsg">
    <wsdl:part element="tns:slettMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnet" name="faultMedlemskapsunntakIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentFnrListe_faultFnrForUtenlandskIdIkkeFunnetMsg">
    <wsdl:part element="tns:hentFnrListe_faultFnrForUtenlandskIdIkkeFunnet" name="faultFnrForUtenlandskIdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettMedlemskapBatchRequestMsg">
    <wsdl:part element="tns:opprettMedlemskapBatch" name="opprettMedlemskapBatchParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettMedlemskapBatchResponseMsg">
    <wsdl:part element="tns:opprettMedlemskapBatchResponse" name="opprettMedlemskapBatchResult"/>
  </wsdl:message>
    <wsdl:portType name="Medlemskapsunntak">
    <wsdl:operation name="lagreMedlemskapsInfo">
      <wsdl:input message="tns:lagreMedlemskapsInfoRequestMsg" name="lagreMedlemskapsInfoRequest"/>
      <wsdl:output message="tns:lagreMedlemskapsInfoResponseMsg" name="lagreMedlemskapsInfoResponse"/>
            <wsdl:fault message="tns:lagreMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnetMsg" name="faultMedlemskapsunntakIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentMedlemskapsInfoListe">
      <wsdl:input message="tns:hentMedlemskapsInfoListeRequestMsg" name="hentMedlemskapsInfoListeRequest"/>
      <wsdl:output message="tns:hentMedlemskapsInfoListeResponseMsg" name="hentMedlemskapsInfoListeResponse"/>
            <wsdl:fault message="tns:hentMedlemskapsInfoListe_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="opprettMedlemskapsInfo">
      <wsdl:input message="tns:opprettMedlemskapsInfoRequestMsg" name="opprettMedlemskapsInfoRequest"/>
      <wsdl:output message="tns:opprettMedlemskapsInfoResponseMsg" name="opprettMedlemskapsInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="slettMedlemskapsInfo">
      <wsdl:input message="tns:slettMedlemskapsInfoRequestMsg" name="slettMedlemskapsInfoRequest"/>
      <wsdl:output message="tns:slettMedlemskapsInfoResponseMsg" name="slettMedlemskapsInfoResponse"/>
            <wsdl:fault message="tns:slettMedlemskapsInfo_faultMedlemskapsunntakIkkeFunnetMsg" name="faultMedlemskapsunntakIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentFnrListe">
      <wsdl:input message="tns:hentFnrListeRequestMsg" name="hentFnrListeRequest"/>
      <wsdl:output message="tns:hentFnrListeResponseMsg" name="hentFnrListeResponse"/>
            <wsdl:fault message="tns:hentFnrListe_faultFnrForUtenlandskIdIkkeFunnetMsg" name="faultFnrForUtenlandskIdIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="opprettMedlemskapBatch">
      <wsdl:input message="tns:opprettMedlemskapBatchRequestMsg" name="opprettMedlemskapBatchRequest"/>
      <wsdl:output message="tns:opprettMedlemskapBatchResponseMsg" name="opprettMedlemskapBatchResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
