incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/NAVOrgEnhet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/NAVOrgEnhet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NAVOrgEnhet" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/NAVOrgEnhet">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/NAVOrgEnhet" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/NAVOrgEnhet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
            <xsd:element name="hentNAVEnhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetRequest" nillable="true" type="bons2:GBONAVEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetResponse" nillable="true" type="bons2:GBONAVEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhet_faultNAVEnhetIkkeFunnetg" type="bons3:FaultNAVEnhetIkkeFunnet"/>
      <xsd:element name="hentNAVEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetListeRequest" nillable="true" type="bons2:GBOHentNAVEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetListeResponse" nillable="true" type="bons2:GBONAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetListe_faultNAVEnhetIkkeFunnet" type="bons3:FaultNAVEnhetIkkeFunnet"/>
            <xsd:element name="hentNAVEnhetGruppeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetGruppeListeRequest" nillable="true" type="bons2:GBONAVEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVEnhetGruppeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetGruppeListeResponse" nillable="true" type="bons2:GBONAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentNAVEnhetGruppeListe_faultNAVEnhetIkkeFunnetf" type="bons3:FaultNAVEnhetIkkeFunnet"/>
            <xsd:element name="finnNAVEnhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnNAVEnhetRequest" nillable="true" type="bons2:GBOFinnNAVEnhetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnNAVEnhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnNAVEnhetResponse" nillable="true" type="bons2:GBONAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentNAVEnhetRequestMsg">
    <wsdl:part element="tns:hentNAVEnhet" name="hentNAVEnhetParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetResponseMsg">
    <wsdl:part element="tns:hentNAVEnhetResponse" name="hentNAVEnhetResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhet_faultNAVEnhetIkkeFunnetgMsg">
    <wsdl:part element="tns:hentNAVEnhet_faultNAVEnhetIkkeFunnetg" name="faultNAVEnhetIkkeFunnetg"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListeRequestMsg">
    <wsdl:part element="tns:hentNAVEnhetListe" name="hentNAVEnhetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListeResponseMsg">
    <wsdl:part element="tns:hentNAVEnhetListeResponse" name="hentNAVEnhetListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListe_faultNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVEnhetListe_faultNAVEnhetIkkeFunnet" name="faultNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListeRequestMsg">
    <wsdl:part element="tns:hentNAVEnhetGruppeListe" name="hentNAVEnhetGruppeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListeResponseMsg">
    <wsdl:part element="tns:hentNAVEnhetGruppeListeResponse" name="hentNAVEnhetGruppeListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListe_faultNAVEnhetIkkeFunnetfMsg">
    <wsdl:part element="tns:hentNAVEnhetGruppeListe_faultNAVEnhetIkkeFunnetf" name="faultNAVEnhetIkkeFunnetf"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhetRequestMsg">
    <wsdl:part element="tns:finnNAVEnhet" name="finnNAVEnhetParameters"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhetResponseMsg">
    <wsdl:part element="tns:finnNAVEnhetResponse" name="finnNAVEnhetResult"/>
  </wsdl:message>
    <wsdl:portType name="NAVOrgEnhet">
    <wsdl:operation name="hentNAVEnhet">
      <wsdl:input message="tns:hentNAVEnhetRequestMsg" name="hentNAVEnhetRequest"/>
      <wsdl:output message="tns:hentNAVEnhetResponseMsg" name="hentNAVEnhetResponse"/>
      <wsdl:fault message="tns:hentNAVEnhet_faultNAVEnhetIkkeFunnetgMsg" name="faultNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetListe">
      <wsdl:input message="tns:hentNAVEnhetListeRequestMsg" name="hentNAVEnhetListeRequest"/>
      <wsdl:output message="tns:hentNAVEnhetListeResponseMsg" name="hentNAVEnhetListeResponse"/>
      <wsdl:fault message="tns:hentNAVEnhetListe_faultNAVEnhetIkkeFunnetMsg" name="faultNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentNAVEnhetGruppeListe">
      <wsdl:input message="tns:hentNAVEnhetGruppeListeRequestMsg" name="hentNAVEnhetGruppeListeRequest"/>
      <wsdl:output message="tns:hentNAVEnhetGruppeListeResponseMsg" name="hentNAVEnhetGruppeListeResponse"/>
      <wsdl:fault message="tns:hentNAVEnhetGruppeListe_faultNAVEnhetIkkeFunnetfMsg" name="faultNAVEnhetIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="finnNAVEnhet">
      <wsdl:input message="tns:finnNAVEnhetRequestMsg" name="finnNAVEnhetRequest"/>
      <wsdl:output message="tns:finnNAVEnhetResponseMsg" name="finnNAVEnhetResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
