incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/Person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/Person" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Person" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/Person">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/Person" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/Person" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
      <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
            <xsd:element name="hentPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonRequest" nillable="true" type="bons1:GBOHentPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPerson_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="hentKontoinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontoinformasjonRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontoinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontoinformasjonResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentKontoinformasjon_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="hentPersonUtland">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonUtlandRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonUtlandResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonUtlandResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonUtland_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="hentRelasjonsListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentRelasjonsListeRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRelasjonsListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentRelasjonsListeResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentRelasjonsListe_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="hentHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHistorikkRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHistorikkResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentHistorikk_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="hentBrukerprofil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrukerprofilRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBrukerprofilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrukerprofilResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBrukerprofil_faultBrukerprofilIkkeFunnet" type="bons3:FaultBrukerprofilIkkeFunnet"/>
      <xsd:element name="lagreEpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreEpostRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreEpostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreEpostResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreEpost_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="lagreTelefonnumre">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTelefonnumreRequest" nillable="true" type="bons1:GBOLagreTelefonnumreRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTelefonnumreResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTelefonnumreResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTelefonnumre_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="lagreSprak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSprakRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSprakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSprakResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSprak_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="lagreAdresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreAdresseRequest" nillable="true" type="bons1:GBOLagreAdresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreAdresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreAdresseResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreAdresse_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="lagreSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamboerforholdRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamboerforholdResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSamboerforhold_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="lagreKontoinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreKontoinformasjonRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreKontoinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreKontoinformasjonResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreKontoinformasjon_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
      <xsd:element name="lagreBrukerprofil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreBrukerprofilRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreBrukerprofilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreBrukerprofilResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreBrukerprofil_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="finnPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnPersonRequest" nillable="true" type="bons1:GBOFinnPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnPersonResponse" nillable="true" type="bons1:GBOFinnPersonResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="erEgenansatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="erEgenansattRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="erEgenansattResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="erEgenansattResponse" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="erEgenansatt_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="lagreSamboerforhold_faultSamboerIkkeFunnet" type="bons3:FaultSamboerIkkeFunnet"/>
            <xsd:element name="lagreSamboerforhold_faultSamboerIFamilie" type="bons3:FaultSamboerIFamilie"/>
            <xsd:element name="lagreSamboerforhold_faultSamboerDod" type="bons3:FaultSamboerDod"/>
            <xsd:element name="hentEnhetId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentEnhetIdRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentEnhetIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentEnhetIdResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentEnhetId_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="finnPerson_faultFinnPerson" type="bons3:FaultFinnPerson"/>
            <xsd:element name="hentFamilierelasjoner">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonerRequest" nillable="true" type="bons1:GBOHentFamilierelasjonerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilierelasjonerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonerResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamboerforholdRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamboerforholdResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSamboerforhold_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold_faultSamboerIkkeFunnet" type="bons3:FaultSamboerIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold_faultSamboerIFamilie" type="bons3:FaultSamboerIFamilie"/>
            <xsd:element name="opprettSamboerforhold_faultSamboerDod" type="bons3:FaultSamboerDod"/>
            <xsd:element name="opprettSamboerforhold_faultAlleredeRegistrertSamboerforhold" type="bons3:FaultAlleredeRegistrertSamboerforhold"/>
            <xsd:element name="slettSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettSamboerforholdRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettSamboerforholdResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettSamboerforhold_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="slettSamboerforhold_faultSamboerIkkeFunnet" type="bons3:FaultSamboerIkkeFunnet"/>
            <xsd:element name="hentFamilierelasjoner_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="hentSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamboerforholdRequest" nillable="true" type="bons1:GBOHentSamboerforholdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamboerforholdResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSamboerforhold_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="lagreSamboerforhold_faultAlleredeRegistrertSamboerforhold" type="bons3:FaultAlleredeRegistrertSamboerforhold"/>
            <xsd:element name="slettAdresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettAdresseRequest" nillable="true" type="bons1:GBOSlettAdresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettAdresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettAdresseResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettAdresse_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold_faultSamboerValideringFeiletl" type="bons3:FaultSamboerValideringFeilet"/>
            <xsd:element name="opphorKontoinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opphorKontoinformasjonRequest" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opphorKontoinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opphorKontoinformasjonResponse" nillable="true" type="bons1:GBOPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opphorKontoinformasjon_faultPersonIkkeFunnet" type="bons3:FaultPersonIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentPersonRequestMsg">
    <wsdl:part element="tns:hentPerson" name="hentPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPersonResponseMsg">
    <wsdl:part element="tns:hentPersonResponse" name="hentPersonResult"/>
  </wsdl:message>
    <wsdl:message name="hentPerson_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentPerson_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjonRequestMsg">
    <wsdl:part element="tns:hentKontoinformasjon" name="hentKontoinformasjonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjonResponseMsg">
    <wsdl:part element="tns:hentKontoinformasjonResponse" name="hentKontoinformasjonResult"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjon_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentKontoinformasjon_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentPersonUtlandRequestMsg">
    <wsdl:part element="tns:hentPersonUtland" name="hentPersonUtlandParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPersonUtlandResponseMsg">
    <wsdl:part element="tns:hentPersonUtlandResponse" name="hentPersonUtlandResult"/>
  </wsdl:message>
    <wsdl:message name="hentPersonUtland_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentPersonUtland_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentRelasjonsListeRequestMsg">
    <wsdl:part element="tns:hentRelasjonsListe" name="hentRelasjonsListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentRelasjonsListeResponseMsg">
    <wsdl:part element="tns:hentRelasjonsListeResponse" name="hentRelasjonsListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentRelasjonsListe_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentRelasjonsListe_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentHistorikkRequestMsg">
    <wsdl:part element="tns:hentHistorikk" name="hentHistorikkParameters"/>
  </wsdl:message>
    <wsdl:message name="hentHistorikkResponseMsg">
    <wsdl:part element="tns:hentHistorikkResponse" name="hentHistorikkResult"/>
  </wsdl:message>
    <wsdl:message name="hentHistorikk_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentHistorikk_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofilRequestMsg">
    <wsdl:part element="tns:hentBrukerprofil" name="hentBrukerprofilParameters"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofilResponseMsg">
    <wsdl:part element="tns:hentBrukerprofilResponse" name="hentBrukerprofilResult"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofil_faultBrukerprofilIkkeFunnetMsg">
    <wsdl:part element="tns:hentBrukerprofil_faultBrukerprofilIkkeFunnet" name="faultBrukerprofilIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreEpostRequestMsg">
    <wsdl:part element="tns:lagreEpost" name="lagreEpostParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreEpostResponseMsg">
    <wsdl:part element="tns:lagreEpostResponse" name="lagreEpostResult"/>
  </wsdl:message>
    <wsdl:message name="lagreEpost_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreEpost_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumreRequestMsg">
    <wsdl:part element="tns:lagreTelefonnumre" name="lagreTelefonnumreParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumreResponseMsg">
    <wsdl:part element="tns:lagreTelefonnumreResponse" name="lagreTelefonnumreResult"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumre_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreTelefonnumre_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSprakRequestMsg">
    <wsdl:part element="tns:lagreSprak" name="lagreSprakParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSprakResponseMsg">
    <wsdl:part element="tns:lagreSprakResponse" name="lagreSprakResult"/>
  </wsdl:message>
    <wsdl:message name="lagreSprak_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreSprak_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresseRequestMsg">
    <wsdl:part element="tns:lagreAdresse" name="lagreAdresseParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresseResponseMsg">
    <wsdl:part element="tns:lagreAdresseResponse" name="lagreAdresseResult"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresse_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreAdresse_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamboerforholdRequestMsg">
    <wsdl:part element="tns:lagreSamboerforhold" name="lagreSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSamboerforholdResponseMsg">
    <wsdl:part element="tns:lagreSamboerforholdResponse" name="lagreSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="lagreSamboerforhold_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreSamboerforhold_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjonRequestMsg">
    <wsdl:part element="tns:lagreKontoinformasjon" name="lagreKontoinformasjonParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjonResponseMsg">
    <wsdl:part element="tns:lagreKontoinformasjonResponse" name="lagreKontoinformasjonResult"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjon_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreKontoinformasjon_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofilRequestMsg">
    <wsdl:part element="tns:lagreBrukerprofil" name="lagreBrukerprofilParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofilResponseMsg">
    <wsdl:part element="tns:lagreBrukerprofilResponse" name="lagreBrukerprofilResult"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofil_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreBrukerprofil_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnPersonRequestMsg">
    <wsdl:part element="tns:finnPerson" name="finnPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="finnPersonResponseMsg">
    <wsdl:part element="tns:finnPersonResponse" name="finnPersonResult"/>
  </wsdl:message>
    <wsdl:message name="erEgenansattRequestMsg">
    <wsdl:part element="tns:erEgenansatt" name="erEgenansattParameters"/>
  </wsdl:message>
    <wsdl:message name="erEgenansattResponseMsg">
    <wsdl:part element="tns:erEgenansattResponse" name="erEgenansattResult"/>
  </wsdl:message>
    <wsdl:message name="erEgenansatt_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:erEgenansatt_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamboerforhold_faultSamboerIkkeFunnetMsg">
    <wsdl:part element="tns:lagreSamboerforhold_faultSamboerIkkeFunnet" name="faultSamboerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamboerforhold_faultSamboerIFamilieMsg">
    <wsdl:part element="tns:lagreSamboerforhold_faultSamboerIFamilie" name="faultSamboerIFamilie"/>
  </wsdl:message>
    <wsdl:message name="lagreSamboerforhold_faultSamboerDodMsg">
    <wsdl:part element="tns:lagreSamboerforhold_faultSamboerDod" name="faultSamboerDod"/>
  </wsdl:message>
    <wsdl:message name="hentEnhetIdRequestMsg">
    <wsdl:part element="tns:hentEnhetId" name="hentEnhetIdParameters"/>
  </wsdl:message>
    <wsdl:message name="hentEnhetIdResponseMsg">
    <wsdl:part element="tns:hentEnhetIdResponse" name="hentEnhetIdResult"/>
  </wsdl:message>
    <wsdl:message name="hentEnhetId_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentEnhetId_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnPerson_faultFinnPersonMsg">
    <wsdl:part element="tns:finnPerson_faultFinnPerson" name="faultFinnPerson"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonerRequestMsg">
    <wsdl:part element="tns:hentFamilierelasjoner" name="hentFamilierelasjonerParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonerResponseMsg">
    <wsdl:part element="tns:hentFamilierelasjonerResponse" name="hentFamilierelasjonerResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforholdRequestMsg">
    <wsdl:part element="tns:opprettSamboerforhold" name="opprettSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforholdResponseMsg">
    <wsdl:part element="tns:opprettSamboerforholdResponse" name="opprettSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultSamboerIkkeFunnetMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultSamboerIkkeFunnet" name="faultSamboerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultSamboerIFamilieMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultSamboerIFamilie" name="faultSamboerIFamilie"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultSamboerDodMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultSamboerDod" name="faultSamboerDod"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultAlleredeRegistrertSamboerforholdMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultAlleredeRegistrertSamboerforhold" name="faultAlleredeRegistrertSamboerforhold"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforholdRequestMsg">
    <wsdl:part element="tns:slettSamboerforhold" name="slettSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforholdResponseMsg">
    <wsdl:part element="tns:slettSamboerforholdResponse" name="slettSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforhold_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:slettSamboerforhold_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforhold_faultSamboerIkkeFunnetMsg">
    <wsdl:part element="tns:slettSamboerforhold_faultSamboerIkkeFunnet" name="faultSamboerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjoner_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentFamilierelasjoner_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforholdRequestMsg">
    <wsdl:part element="tns:hentSamboerforhold" name="hentSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforholdResponseMsg">
    <wsdl:part element="tns:hentSamboerforholdResponse" name="hentSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforhold_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentSamboerforhold_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamboerforhold_faultAlleredeRegistrertSamboerforholdMsg">
    <wsdl:part element="tns:lagreSamboerforhold_faultAlleredeRegistrertSamboerforhold" name="faultAlleredeRegistrertSamboerforhold"/>
  </wsdl:message>
    <wsdl:message name="slettAdresseRequestMsg">
    <wsdl:part element="tns:slettAdresse" name="slettAdresseParameters"/>
  </wsdl:message>
    <wsdl:message name="slettAdresseResponseMsg">
    <wsdl:part element="tns:slettAdresseResponse" name="slettAdresseResult"/>
  </wsdl:message>
    <wsdl:message name="slettAdresse_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:slettAdresse_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultSamboerValideringFeiletlMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultSamboerValideringFeiletl" name="faultSamboerValideringFeiletl"/>
  </wsdl:message>
    <wsdl:message name="opphorKontoinformasjonRequestMsg">
    <wsdl:part element="tns:opphorKontoinformasjon" name="opphorKontoinformasjonParameters"/>
  </wsdl:message>
    <wsdl:message name="opphorKontoinformasjonResponseMsg">
    <wsdl:part element="tns:opphorKontoinformasjonResponse" name="opphorKontoinformasjonResult"/>
  </wsdl:message>
    <wsdl:message name="opphorKontoinformasjon_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:opphorKontoinformasjon_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="Person">
    <wsdl:operation name="hentPerson">
      <wsdl:input message="tns:hentPersonRequestMsg" name="hentPersonRequest"/>
      <wsdl:output message="tns:hentPersonResponseMsg" name="hentPersonResponse"/>
      <wsdl:fault message="tns:hentPerson_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentKontoinformasjon">
      <wsdl:input message="tns:hentKontoinformasjonRequestMsg" name="hentKontoinformasjonRequest"/>
      <wsdl:output message="tns:hentKontoinformasjonResponseMsg" name="hentKontoinformasjonResponse"/>
      <wsdl:fault message="tns:hentKontoinformasjon_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="hentPersonUtland">
      <wsdl:input message="tns:hentPersonUtlandRequestMsg" name="hentPersonUtlandRequest"/>
      <wsdl:output message="tns:hentPersonUtlandResponseMsg" name="hentPersonUtlandResponse"/>
      <wsdl:fault message="tns:hentPersonUtland_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentRelasjonsListe">
      <wsdl:input message="tns:hentRelasjonsListeRequestMsg" name="hentRelasjonsListeRequest"/>
      <wsdl:output message="tns:hentRelasjonsListeResponseMsg" name="hentRelasjonsListeResponse"/>
      <wsdl:fault message="tns:hentRelasjonsListe_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentHistorikk">
      <wsdl:input message="tns:hentHistorikkRequestMsg" name="hentHistorikkRequest"/>
      <wsdl:output message="tns:hentHistorikkResponseMsg" name="hentHistorikkResponse"/>
      <wsdl:fault message="tns:hentHistorikk_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentBrukerprofil">
      <wsdl:input message="tns:hentBrukerprofilRequestMsg" name="hentBrukerprofilRequest"/>
      <wsdl:output message="tns:hentBrukerprofilResponseMsg" name="hentBrukerprofilResponse"/>
      <wsdl:fault message="tns:hentBrukerprofil_faultBrukerprofilIkkeFunnetMsg" name="faultBrukerprofilIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="lagreEpost">
      <wsdl:input message="tns:lagreEpostRequestMsg" name="lagreEpostRequest"/>
      <wsdl:output message="tns:lagreEpostResponseMsg" name="lagreEpostResponse"/>
      <wsdl:fault message="tns:lagreEpost_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="lagreTelefonnumre">
      <wsdl:input message="tns:lagreTelefonnumreRequestMsg" name="lagreTelefonnumreRequest"/>
      <wsdl:output message="tns:lagreTelefonnumreResponseMsg" name="lagreTelefonnumreResponse"/>
      <wsdl:fault message="tns:lagreTelefonnumre_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="lagreSprak">
      <wsdl:input message="tns:lagreSprakRequestMsg" name="lagreSprakRequest"/>
      <wsdl:output message="tns:lagreSprakResponseMsg" name="lagreSprakResponse"/>
      <wsdl:fault message="tns:lagreSprak_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="lagreAdresse">
      <wsdl:input message="tns:lagreAdresseRequestMsg" name="lagreAdresseRequest"/>
      <wsdl:output message="tns:lagreAdresseResponseMsg" name="lagreAdresseResponse"/>
      <wsdl:fault message="tns:lagreAdresse_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="lagreSamboerforhold">
      <wsdl:input message="tns:lagreSamboerforholdRequestMsg" name="lagreSamboerforholdRequest"/>
      <wsdl:output message="tns:lagreSamboerforholdResponseMsg" name="lagreSamboerforholdResponse"/>
      <wsdl:fault message="tns:lagreSamboerforhold_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
            <wsdl:fault message="tns:lagreSamboerforhold_faultSamboerIkkeFunnetMsg" name="faultSamboerIkkeFunnet"/>
            <wsdl:fault message="tns:lagreSamboerforhold_faultSamboerIFamilieMsg" name="faultSamboerIFamilie"/>
            <wsdl:fault message="tns:lagreSamboerforhold_faultSamboerDodMsg" name="faultSamboerDod"/>
            <wsdl:fault message="tns:lagreSamboerforhold_faultAlleredeRegistrertSamboerforholdMsg" name="faultAlleredeRegistrertSamboerforhold"/>
        </wsdl:operation>
    <wsdl:operation name="lagreKontoinformasjon">
      <wsdl:input message="tns:lagreKontoinformasjonRequestMsg" name="lagreKontoinformasjonRequest"/>
      <wsdl:output message="tns:lagreKontoinformasjonResponseMsg" name="lagreKontoinformasjonResponse"/>
      <wsdl:fault message="tns:lagreKontoinformasjon_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="lagreBrukerprofil">
      <wsdl:input message="tns:lagreBrukerprofilRequestMsg" name="lagreBrukerprofilRequest"/>
      <wsdl:output message="tns:lagreBrukerprofilResponseMsg" name="lagreBrukerprofilResponse"/>
      <wsdl:fault message="tns:lagreBrukerprofil_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="finnPerson">
      <wsdl:input message="tns:finnPersonRequestMsg" name="finnPersonRequest"/>
      <wsdl:output message="tns:finnPersonResponseMsg" name="finnPersonResponse"/>
            <wsdl:fault message="tns:finnPerson_faultFinnPersonMsg" name="faultFinnPerson"/>
        </wsdl:operation>
        <wsdl:operation name="erEgenansatt">
      <wsdl:input message="tns:erEgenansattRequestMsg" name="erEgenansattRequest"/>
      <wsdl:output message="tns:erEgenansattResponseMsg" name="erEgenansattResponse"/>
      <wsdl:fault message="tns:erEgenansatt_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentEnhetId">
      <wsdl:input message="tns:hentEnhetIdRequestMsg" name="hentEnhetIdRequest"/>
      <wsdl:output message="tns:hentEnhetIdResponseMsg" name="hentEnhetIdResponse"/>
      <wsdl:fault message="tns:hentEnhetId_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentFamilierelasjoner">
      <wsdl:input message="tns:hentFamilierelasjonerRequestMsg" name="hentFamilierelasjonerRequest"/>
      <wsdl:output message="tns:hentFamilierelasjonerResponseMsg" name="hentFamilierelasjonerResponse"/>
            <wsdl:fault message="tns:hentFamilierelasjoner_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="opprettSamboerforhold">
      <wsdl:input message="tns:opprettSamboerforholdRequestMsg" name="opprettSamboerforholdRequest"/>
      <wsdl:output message="tns:opprettSamboerforholdResponseMsg" name="opprettSamboerforholdResponse"/>
      <wsdl:fault message="tns:opprettSamboerforhold_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
      <wsdl:fault message="tns:opprettSamboerforhold_faultSamboerIkkeFunnetMsg" name="faultSamboerIkkeFunnet"/>
      <wsdl:fault message="tns:opprettSamboerforhold_faultSamboerIFamilieMsg" name="faultSamboerIFamilie"/>
      <wsdl:fault message="tns:opprettSamboerforhold_faultSamboerDodMsg" name="faultSamboerDod"/>
      <wsdl:fault message="tns:opprettSamboerforhold_faultAlleredeRegistrertSamboerforholdMsg" name="faultAlleredeRegistrertSamboerforhold"/>
            <wsdl:fault message="tns:opprettSamboerforhold_faultSamboerValideringFeiletlMsg" name="faultSamboerValideringFeilet"/>
        </wsdl:operation>
        <wsdl:operation name="slettSamboerforhold">
      <wsdl:input message="tns:slettSamboerforholdRequestMsg" name="slettSamboerforholdRequest"/>
      <wsdl:output message="tns:slettSamboerforholdResponseMsg" name="slettSamboerforholdResponse"/>
      <wsdl:fault message="tns:slettSamboerforhold_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
      <wsdl:fault message="tns:slettSamboerforhold_faultSamboerIkkeFunnetMsg" name="faultSamboerIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentSamboerforhold">
      <wsdl:input message="tns:hentSamboerforholdRequestMsg" name="hentSamboerforholdRequest"/>
      <wsdl:output message="tns:hentSamboerforholdResponseMsg" name="hentSamboerforholdResponse"/>
            <wsdl:fault message="tns:hentSamboerforhold_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="slettAdresse">
      <wsdl:input message="tns:slettAdresseRequestMsg" name="slettAdresseRequest"/>
      <wsdl:output message="tns:slettAdresseResponseMsg" name="slettAdresseResponse"/>
      <wsdl:fault message="tns:slettAdresse_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="opphorKontoinformasjon">
      <wsdl:input message="tns:opphorKontoinformasjonRequestMsg" name="opphorKontoinformasjonRequest"/>
      <wsdl:output message="tns:opphorKontoinformasjonResponseMsg" name="opphorKontoinformasjonResponse"/>
      <wsdl:fault message="tns:opphorKontoinformasjon_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
