incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/Samhandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons4="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons5="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons6="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Samhandler" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:bons4="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons5="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons6="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
        <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../../../xsd-includes/http.stelvio-commons-lib.no.nav.gbo.xsd"/>
        <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
        <xsd:element name="hentSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamhandlerRequest" nillable="true" type="bons4:GBOHentSamhandlerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamhandlerResponse" nillable="true" type="bons4:GBOSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSamhandler_faultSamhandlerIkkeFunnet" type="bons6:FaultSamhandlerIkkeFunnet"/>
      <xsd:element name="lagreSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamhandlerRequest" nillable="true" type="bons4:GBOSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamhandlerResponse" nillable="true" type="bons4:GBOSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSamhandler_faultSamhandlerIkkeLagret" type="bons6:FaultSamhandlerIkkeFunnet"/>
      <xsd:element name="opprettSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamhandlerRequest" nillable="true" type="bons4:GBOSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamhandlerResponse" nillable="true" type="bons4:GBOSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettSamhandler_faultSamhandlerIkkeOpprettet" type="bons6:FaultOffentligIdIkkeFunnet"/>
      <xsd:element name="finnSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnSamhandlerRequest" nillable="true" type="bons4:GBOFinnSamhandlerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnSamhandlerResponse" nillable="true" type="bons4:GBOSamhandlerListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentEksternTilkoblingListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentEksternTilkoblingListeRequest" nillable="true" type="bons4:GBOEksternTilkoblingListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentEksternTilkoblingListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentEksternTilkoblingListeResponse" nillable="true" type="bons4:GBOEksternTilkoblingListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentSamhandlerRequestMsg">
    <wsdl:part element="tns:hentSamhandler" name="hentSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandlerResponseMsg">
    <wsdl:part element="tns:hentSamhandlerResponse" name="hentSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandler_faultSamhandlerIkkeFunnetMsg">
    <wsdl:part element="tns:hentSamhandler_faultSamhandlerIkkeFunnet" name="faultSamhandlerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandlerRequestMsg">
    <wsdl:part element="tns:lagreSamhandler" name="lagreSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandlerResponseMsg">
    <wsdl:part element="tns:lagreSamhandlerResponse" name="lagreSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandler_faultSamhandlerIkkeLagretMsg">
    <wsdl:part element="tns:lagreSamhandler_faultSamhandlerIkkeLagret" name="faultSamhandlerIkkeLagret"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandlerRequestMsg">
    <wsdl:part element="tns:opprettSamhandler" name="opprettSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandlerResponseMsg">
    <wsdl:part element="tns:opprettSamhandlerResponse" name="opprettSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandler_faultSamhandlerIkkeOpprettetMsg">
    <wsdl:part element="tns:opprettSamhandler_faultSamhandlerIkkeOpprettet" name="faultSamhandlerIkkeOpprettet"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandlerRequestMsg">
    <wsdl:part element="tns:finnSamhandler" name="finnSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandlerResponseMsg">
    <wsdl:part element="tns:finnSamhandlerResponse" name="finnSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="hentEksternTilkoblingListeRequestMsg">
    <wsdl:part element="tns:hentEksternTilkoblingListe" name="hentEksternTilkoblingListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentEksternTilkoblingListeResponseMsg">
    <wsdl:part element="tns:hentEksternTilkoblingListeResponse" name="hentEksternTilkoblingListeResult"/>
  </wsdl:message>
    <wsdl:portType name="Samhandler">
    <wsdl:operation name="hentSamhandler">
      <wsdl:input message="tns:hentSamhandlerRequestMsg" name="hentSamhandlerRequest"/>
      <wsdl:output message="tns:hentSamhandlerResponseMsg" name="hentSamhandlerResponse"/>
      <wsdl:fault message="tns:hentSamhandler_faultSamhandlerIkkeFunnetMsg" name="faultSamhandlerIkkeFunnet"/>
        </wsdl:operation>
    <wsdl:operation name="lagreSamhandler">
      <wsdl:input message="tns:lagreSamhandlerRequestMsg" name="lagreSamhandlerRequest"/>
      <wsdl:output message="tns:lagreSamhandlerResponseMsg" name="lagreSamhandlerResponse"/>
      <wsdl:fault message="tns:lagreSamhandler_faultSamhandlerIkkeLagretMsg" name="faultSamhandlerIkkeLagret"/>
    </wsdl:operation>
    <wsdl:operation name="opprettSamhandler">
      <wsdl:input message="tns:opprettSamhandlerRequestMsg" name="opprettSamhandlerRequest"/>
      <wsdl:output message="tns:opprettSamhandlerResponseMsg" name="opprettSamhandlerResponse"/>
      <wsdl:fault message="tns:opprettSamhandler_faultSamhandlerIkkeOpprettetMsg" name="faultSamhandlerIkkeOpprettet"/>
    </wsdl:operation>
    <wsdl:operation name="finnSamhandler">
      <wsdl:input message="tns:finnSamhandlerRequestMsg" name="finnSamhandlerRequest"/>
      <wsdl:output message="tns:finnSamhandlerResponseMsg" name="finnSamhandlerResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentEksternTilkoblingListe">
      <wsdl:input message="tns:hentEksternTilkoblingListeRequestMsg" name="hentEksternTilkoblingListeRequest"/>
      <wsdl:output message="tns:hentEksternTilkoblingListeResponseMsg" name="hentEksternTilkoblingListeResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
