incubator/wid61-libs/nav-lib-frg/no/nav/lib/frg/inf/Tjenestepensjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/tjenestepensjon" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Tjenestepensjon" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/tjenestepensjon">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/inf/tjenestepensjon" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-frg/no/nav/lib/frg/inf/tjenestepensjon" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.gbo.xsd"/>
      <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../../../../xsd-includes/http.nav-lib-frg.no.nav.lib.frg.fault.xsd"/>
      <xsd:element name="hentTjenestepensjonForholdListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTjenestepensjonForholdListeRequest" nillable="true" type="bons1:GBOHentTjenestepensjonForholdListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTjenestepensjonForholdListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentTjenestepensjonForholdListeResponse" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettTjenestepensjonForhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettTjenestepensjonForholdRequest" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettTjenestepensjonForholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettTjenestepensjonForholdResponse" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTjenestepensjonForhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTjenestepensjonForholdRequest" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTjenestepensjonForholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTjenestepensjonForholdResponse" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentTjenestepensjonForholdListe_faultPersonIkkeFunnet" type="bons2:FaultPersonIkkeFunnet"/>
      <xsd:element name="hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnet" type="bons2:FaultTjenestepensjonForholdIkkeFunnet"/>
      <xsd:element name="lagreTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnet" type="bons2:FaultTjenestepensjonForholdIkkeFunnet"/>
      <xsd:element name="slettTjenestepensjonForhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettTjenestepensjonForholdRequest" nillable="true" type="bons1:GBOTjenestepensjon"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettTjenestepensjonForholdResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnet" type="bons2:FaultTjenestepensjonForholdIkkeFunnet"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentTjenestepensjonForholdListeRequestMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListe" name="hentTjenestepensjonForholdListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForholdListeResponseMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListeResponse" name="hentTjenestepensjonForholdListeResult"/>
  </wsdl:message>
    <wsdl:message name="opprettTjenestepensjonForholdRequestMsg">
    <wsdl:part element="tns:opprettTjenestepensjonForhold" name="opprettTjenestepensjonForholdParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettTjenestepensjonForholdResponseMsg">
    <wsdl:part element="tns:opprettTjenestepensjonForholdResponse" name="opprettTjenestepensjonForholdResult"/>
  </wsdl:message>
    <wsdl:message name="lagreTjenestepensjonForholdRequestMsg">
    <wsdl:part element="tns:lagreTjenestepensjonForhold" name="lagreTjenestepensjonForholdParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreTjenestepensjonForholdResponseMsg">
    <wsdl:part element="tns:lagreTjenestepensjonForholdResponse" name="lagreTjenestepensjonForholdResult"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForholdListe_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListe_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnetMsg">
    <wsdl:part element="tns:hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnet" name="faultTjenestepensjonForholdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnetMsg">
    <wsdl:part element="tns:lagreTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnet" name="faultTjenestepensjonForholdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="slettTjenestepensjonForholdRequestMsg">
    <wsdl:part element="tns:slettTjenestepensjonForhold" name="slettTjenestepensjonForholdParameters"/>
  </wsdl:message>
    <wsdl:message name="slettTjenestepensjonForholdResponseMsg">
    <wsdl:part element="tns:slettTjenestepensjonForholdResponse" name="slettTjenestepensjonForholdResult"/>
  </wsdl:message>
    <wsdl:message name="slettTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnetMsg">
    <wsdl:part element="tns:slettTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnet" name="faultTjenestepensjonForholdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="Tjenestepensjon">
    <wsdl:operation name="hentTjenestepensjonForholdListe">
      <wsdl:input message="tns:hentTjenestepensjonForholdListeRequestMsg" name="hentTjenestepensjonForholdListeRequest"/>
      <wsdl:output message="tns:hentTjenestepensjonForholdListeResponseMsg" name="hentTjenestepensjonForholdListeResponse"/>
      <wsdl:fault message="tns:hentTjenestepensjonForholdListe_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
      <wsdl:fault message="tns:hentTjenestepensjonForholdListe_faultTjenestepensjonForholdIkkeFunnetMsg" name="faultTjenestepensjonForholdIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="opprettTjenestepensjonForhold">
      <wsdl:input message="tns:opprettTjenestepensjonForholdRequestMsg" name="opprettTjenestepensjonForholdRequest"/>
      <wsdl:output message="tns:opprettTjenestepensjonForholdResponseMsg" name="opprettTjenestepensjonForholdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="lagreTjenestepensjonForhold">
      <wsdl:input message="tns:lagreTjenestepensjonForholdRequestMsg" name="lagreTjenestepensjonForholdRequest"/>
      <wsdl:output message="tns:lagreTjenestepensjonForholdResponseMsg" name="lagreTjenestepensjonForholdResponse"/>
      <wsdl:fault message="tns:lagreTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnetMsg" name="faultTjenestepensjonForholdIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="slettTjenestepensjonForhold">
      <wsdl:input message="tns:slettTjenestepensjonForholdRequestMsg" name="slettTjenestepensjonForholdRequest"/>
      <wsdl:output message="tns:slettTjenestepensjonForholdResponseMsg" name="slettTjenestepensjonForholdResponse"/>
      <wsdl:fault message="tns:slettTjenestepensjonForhold_faultTjenestepensjonForholdIkkeFunnetMsg" name="faultTjenestepensjonForholdIkkeFunnet"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
