incubator/nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person/meldinger/FinnPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person/meldinger"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://nav.no/virksomhet/part/person/v1">
	<xsd:import schemaLocation="../../../part/person/person.xsd"
		namespace="http://nav.no/virksomhet/part/person/v1">
	</xsd:import>
	<xsd:complexType name="FinnPersonResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="flereTreff"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="buffNr" type="xsd:string" />
			<xsd:element minOccurs="0" name="personListe"
				type="bons1:Person" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>