incubator/nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person/meldinger/FinnPersonRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person/meldinger"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/part/person"
	xmlns:bons2="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person">
	<xsd:import schemaLocation="../Kontonummersok.xsd"
		namespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person">
	</xsd:import>
	<xsd:import schemaLocation="../Fodselsdatosok.xsd"
		namespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person">
	</xsd:import>
	<xsd:import schemaLocation="../Adressesok.xsd"
		namespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person">
	</xsd:import>
	<xsd:import schemaLocation="../../../part/person/Navnesok.xsd"
		namespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/part/person">
	</xsd:import>



	<xsd:complexType name="FinnPersonRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fodselsnummer"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="navnesok"
				type="bons1:Navnesok" />
			<xsd:element minOccurs="0" name="adressesok"
				type="bons2:Adressesok" />
			<xsd:element minOccurs="0" name="fodselsdatosok"
				type="bons2:Fodselsdatosok" />
			<xsd:element minOccurs="0" name="kontonummersok"
				type="bons2:Kontonummersok" />
			<xsd:element minOccurs="0" name="buffNr" type="xsd:string" />
			<xsd:element minOccurs="0" name="kontekstdata"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>