int/stelvio-commons-lib/no/stelvio/common/context/StelvioContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.nav.no/StelvioContextPropagation"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="StelvioContext">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="applicationId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="correlationId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="languageId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="userId"
				type="xsd:string">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>