incubator/IverksettVedtak/nav-bproc-test-ppen015/no/nav/inf/KravAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:tns="http://nav-bproc-pen-ppen015-1.3.1/no/nav/inf/KravAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KravAsync" targetNamespace="http://nav-bproc-pen-ppen015-1.3.1/no/nav/inf/KravAsync">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-bproc-pen-ppen015-1.3.1/no/nav/inf/KravAsync" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:tns="http://nav-bproc-pen-ppen015-1.3.1/no/nav/inf/KravAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOKravhode.xsd"/>
      <xsd:element name="lagreKravhode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreKravhodeRequest" nillable="true" type="bons1:GBOKravhode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreKravhodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreKravhodeResponse" nillable="true" type="bons1:GBOKravhode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="lagreKravhodeRequestMsg">
    <wsdl:part element="tns:lagreKravhode" name="lagreKravhodeParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreKravhodeResponseMsg">
    <wsdl:part element="tns:lagreKravhodeResponse" name="lagreKravhodeResult"/>
  </wsdl:message>
    <wsdl:portType name="KravAsync">
    <wsdl:operation name="lagreKravhode">
      <wsdl:input message="tns:lagreKravhodeRequestMsg" name="lagreKravhodeRequest"/>
      <wsdl:output message="tns:lagreKravhodeResponseMsg" name="lagreKravhodeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
