dev/datapower/datapower-cfg-partnergw/src/main/resources/local/wsdl/carrot_sms_gateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.v4.sms.carrot.no" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.v4.sms.carrot.no" xmlns:intf="http://ws.v4.sms.carrot.no" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.v4.sms.carrot.no" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendMTMessage">
    <complexType>
     <sequence>
      <element name="mtreq" type="impl:SendSMSRequest"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Recipient">
    <sequence>
     <element name="recipient" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfRecipient">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Recipient"/>
    </sequence>
   </complexType>
   <complexType name="SendSMSRequest">
    <sequence>
     <element name="DCS" nillable="true" type="xsd:string"/>
     <element name="DSTPort" nillable="true" type="xsd:string"/>
     <element name="RSR" nillable="true" type="xsd:boolean"/>
     <element name="SRCport" nillable="true" type="xsd:string"/>
     <element name="TTL" nillable="true" type="xsd:int"/>
     <element name="UDH" nillable="true" type="xsd:string"/>
     <element name="URI" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="appid" nillable="true" type="xsd:int"/>
     <element name="content" nillable="true" type="xsd:string"/>
     <element name="differentiator" nillable="true" type="xsd:string"/>
     <element name="originator" nillable="true" type="xsd:string"/>
     <element name="originatorType" nillable="true" type="xsd:int"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="price" nillable="true" type="xsd:string"/>
     <element name="priority" nillable="true" type="xsd:int"/>
     <element name="recipients" nillable="true" type="impl:ArrayOfRecipient"/>
     <element name="serviceId" nillable="true" type="xsd:int"/>
     <element name="serviceName" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:int"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="sendMTMessageResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="sendMTMessageReturn" type="impl:SendSMSResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="SendSMSResponse">
    <sequence>
     <element name="messageid" nillable="true" type="xsd:string"/>
     <element name="recipient" nillable="true" type="xsd:string"/>
     <element name="statuscode" nillable="true" type="xsd:string"/>
     <element name="statusmessage" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>
 
   <wsdl:message name="sendMTMessageRequest">
 
      <wsdl:part element="impl:sendMTMessage" name="parameters"/>
 
   </wsdl:message>
 
   <wsdl:message name="sendMTMessageResponse">
 
      <wsdl:part element="impl:sendMTMessageResponse" name="parameters"/>
 
   </wsdl:message>
 
   <wsdl:portType name="SMSGateway">
 
      <wsdl:operation name="sendMTMessage">
 
         <wsdl:input message="impl:sendMTMessageRequest" name="sendMTMessageRequest"/>
 
         <wsdl:output message="impl:sendMTMessageResponse" name="sendMTMessageResponse"/>
 
      </wsdl:operation>
 
   </wsdl:portType>
 
   <wsdl:binding name="SMSGatewaySoapBinding" type="impl:SMSGateway">
 
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 
      <wsdl:operation name="sendMTMessage">
 
         <wsdlsoap:operation soapAction=""/>
 
         <wsdl:input name="sendMTMessageRequest">
 
            <wsdlsoap:body use="literal"/>
 
         </wsdl:input>
 
         <wsdl:output name="sendMTMessageResponse">
 
            <wsdlsoap:body use="literal"/>
 
         </wsdl:output>
 
      </wsdl:operation>
 
   </wsdl:binding>
 
   <wsdl:service name="SMSGatewayService">
 
      <wsdl:port binding="impl:SMSGatewaySoapBinding" name="SMSGateway">
 
         <wsdlsoap:address location="http://smsgw.carrot.no/smsgw/services/SMSGateway"/>
 
      </wsdl:port>
 
   </wsdl:service>
 
</wsdl:definitions>