incubator/stelvio-example/error-handling/runtime-exception-handling/RuntimeExceptionIF.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="RuntimeExceptionIF" targetNamespace="http://www./RuntimeExceptionIF" xmlns:tns="http://www./RuntimeExceptionIF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www./RuntimeExceptionIF">
      <xsd:element name="withoutFaultHandler">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withoutFaultHandlerResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withFaultHandler">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withFaultHandlerResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="withoutFaultHandlerRequestMsg">
    <wsdl:part element="tns:withoutFaultHandler" name="withoutFaultHandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="withoutFaultHandlerResponseMsg">
    <wsdl:part element="tns:withoutFaultHandlerResponse" name="withoutFaultHandlerResult"/>
  </wsdl:message>
    <wsdl:message name="withFaultHandlerRequestMsg">
    <wsdl:part element="tns:withFaultHandler" name="withFaultHandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="withFaultHandlerResponseMsg">
    <wsdl:part element="tns:withFaultHandlerResponse" name="withFaultHandlerResult"/>
  </wsdl:message>
    <wsdl:portType name="RuntimeExceptionIF">
    <wsdl:operation name="withoutFaultHandler">
      <wsdl:input message="tns:withoutFaultHandlerRequestMsg" name="withoutFaultHandlerRequest"/>
      <wsdl:output message="tns:withoutFaultHandlerResponseMsg" name="withoutFaultHandlerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="withFaultHandler">
      <wsdl:input message="tns:withFaultHandlerRequestMsg" name="withFaultHandlerRequest"/>
      <wsdl:output message="tns:withFaultHandlerResponseMsg" name="withFaultHandlerResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>