dev/datapower/datapower-utils/src/test/resources/files/wsdl/no/nav/tpsamordningregistrering/V0_2/inf/TPSamordningRegistrering.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://nav.no/elsam/tpsamordningregistrering/V0_2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TPSamordningRegistrering" targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_2">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_2" xmlns:tns="http://nav.no/elsam/tpsamordningregistrering/V0_2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="../fault/FaultRefusjonskravUtenforSamordningspliktigPeriode.xsd"/>
      <xsd:include schemaLocation="../fault/FaultRefusjonskravUtenforTidsfrist.xsd"/>
      <xsd:include schemaLocation="../fault/FaultAlleredeMottattRefusjonskrav.xsd"/>
      <xsd:include schemaLocation="../fault/FaultSamordningsIdIkkeFunnet.xsd"/>
      <xsd:include schemaLocation="../fault/FaultSamordningsIdOgPersonKorrelererIkke.xsd"/>
      <xsd:include schemaLocation="../asbo/OpprettRefusjonskravReq.xsd"/>
      <xsd:include schemaLocation="../fault/FaultTPForholdIkkeIverksatt.xsd"/>
      <xsd:include schemaLocation="../asbo/HentSamordningsdataResp.xsd"/>
      <xsd:include schemaLocation="../asbo/HentSamordningsdataReq.xsd"/>
      <xsd:include schemaLocation="../fault/FaultTPYtelseIkkeFunnet.xsd"/>
      <xsd:include schemaLocation="../asbo/SlettTPYtelseReq.xsd"/>
      <xsd:include schemaLocation="../fault/FaultTPYtelseAlleredeRegistrert.xsd"/>
      <xsd:include schemaLocation="../asbo/LagreTPYtelseResp.xsd"/>
      <xsd:include schemaLocation="../asbo/LagreTPYtelseReq.xsd"/>
      <xsd:include schemaLocation="../fault/FaultGenerisk.xsd"/>
      <xsd:element name="lagreTPYtelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTPYtelseReq" nillable="true" type="tns:LagreTPYtelseReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTPYtelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTPYtelseResp" nillable="true" type="tns:LagreTPYtelseResp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettTPYtelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettTPYtelseReq" nillable="true" type="tns:SlettTPYtelseReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="slettTPYtelseResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSamordningsdata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamordningsdataReq" nillable="true" type="tns:HentSamordningsdataReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSamordningsdataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamordningsdataResp" nillable="true" type="tns:HentSamordningsdataResp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettRefusjonskrav">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettRefusjonskravReq" nillable="true" type="tns:OpprettRefusjonskravReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettRefusjonskravResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreTPYtelse_faultGenerisk" type="tns:FaultGenerisk"/>
      <xsd:element name="lagreTPYtelse_faultTPYtelseAlleredeRegistrert" type="tns:FaultTPYtelseAlleredeRegistrert"/>
      <xsd:element name="slettTPYtelse_faultGenerisk" type="tns:FaultGenerisk"/>
      <xsd:element name="slettTPYtelse_faultTPYtelseIkkeFunnet" type="tns:FaultTPYtelseIkkeFunnet"/>
      <xsd:element name="hentSamordningsdata_faultGenerisk" type="tns:FaultGenerisk"/>
      <xsd:element name="hentSamordningsdata_faultTPForholdIkkeIverksatt" type="tns:FaultTPForholdIkkeIverksatt"/>
      <xsd:element name="opprettRefusjonskrav_faultGenerisk" type="tns:FaultGenerisk"/>
      <xsd:element name="opprettRefusjonskrav_faultSamordningsIdOgPersonKorrelererIkke" type="tns:FaultSamordningsIdOgPersonKorrelererIkke"/>
      <xsd:element name="opprettRefusjonskrav_faultSamordningsIdIkkeFunnet" type="tns:FaultSamordningsIdIkkeFunnet"/>
      <xsd:element name="opprettRefusjonskrav_faultAlleredeMottattRefusjonskrav" type="tns:FaultAlleredeMottattRefusjonskrav"/>
      <xsd:element name="opprettRefusjonskrav_faultRefusjonskravUtenforTidsfrist" type="tns:FaultRefusjonskravUtenforTidsfrist"/>
      <xsd:element name="opprettRefusjonskrav_faultRefusjonskravUtenforSamordningspliktigPeriode" type="tns:FaultRefusjonskravUtenforSamordningspliktigPeriode"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="lagreTPYtelseRequestMsg">
    <wsdl:part element="tns:lagreTPYtelse" name="lagreTPYtelseParameters"/>
  </wsdl:message>
  <wsdl:message name="lagreTPYtelseResponseMsg">
    <wsdl:part element="tns:lagreTPYtelseResponse" name="lagreTPYtelseResult"/>
  </wsdl:message>
  <wsdl:message name="slettTPYtelseRequestMsg">
    <wsdl:part element="tns:slettTPYtelse" name="slettTPYtelseParameters"/>
  </wsdl:message>
  <wsdl:message name="slettTPYtelseResponseMsg">
    <wsdl:part element="tns:slettTPYtelseResponse" name="slettTPYtelseResult"/>
  </wsdl:message>
  <wsdl:message name="hentSamordningsdataRequestMsg">
    <wsdl:part element="tns:hentSamordningsdata" name="hentSamordningsdataParameters"/>
  </wsdl:message>
  <wsdl:message name="hentSamordningsdataResponseMsg">
    <wsdl:part element="tns:hentSamordningsdataResponse" name="hentSamordningsdataResult"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskravRequestMsg">
    <wsdl:part element="tns:opprettRefusjonskrav" name="opprettRefusjonskravParameters"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskravResponseMsg">
    <wsdl:part element="tns:opprettRefusjonskravResponse" name="opprettRefusjonskravResult"/>
  </wsdl:message>
  <wsdl:message name="lagreTPYtelse_faultGeneriskMsg">
    <wsdl:part element="tns:lagreTPYtelse_faultGenerisk" name="faultGenerisk"/>
  </wsdl:message>
  <wsdl:message name="lagreTPYtelse_faultTPYtelseAlleredeRegistrertMsg">
    <wsdl:part element="tns:lagreTPYtelse_faultTPYtelseAlleredeRegistrert" name="faultTPYtelseAlleredeRegistrert"/>
  </wsdl:message>
  <wsdl:message name="slettTPYtelse_faultGeneriskMsg">
    <wsdl:part element="tns:slettTPYtelse_faultGenerisk" name="faultGenerisk"/>
  </wsdl:message>
  <wsdl:message name="slettTPYtelse_faultTPYtelseIkkeFunnetMsg">
    <wsdl:part element="tns:slettTPYtelse_faultTPYtelseIkkeFunnet" name="faultTPYtelseIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="hentSamordningsdata_faultGeneriskMsg">
    <wsdl:part element="tns:hentSamordningsdata_faultGenerisk" name="faultGenerisk"/>
  </wsdl:message>
  <wsdl:message name="hentSamordningsdata_faultTPForholdIkkeIverksattMsg">
    <wsdl:part element="tns:hentSamordningsdata_faultTPForholdIkkeIverksatt" name="faultTPForholdIkkeIverksatt"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskrav_faultGeneriskMsg">
    <wsdl:part element="tns:opprettRefusjonskrav_faultGenerisk" name="faultGenerisk"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskrav_faultSamordningsIdOgPersonKorrelererIkkeMsg">
    <wsdl:part element="tns:opprettRefusjonskrav_faultSamordningsIdOgPersonKorrelererIkke" name="faultSamordningsIdOgPersonKorrelererIkke"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskrav_faultSamordningsIdIkkeFunnetMsg">
    <wsdl:part element="tns:opprettRefusjonskrav_faultSamordningsIdIkkeFunnet" name="faultSamordningsIdIkkeFunnet"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskrav_faultAlleredeMottattRefusjonskravMsg">
    <wsdl:part element="tns:opprettRefusjonskrav_faultAlleredeMottattRefusjonskrav" name="faultAlleredeMottattRefusjonskrav"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskrav_faultRefusjonskravUtenforTidsfristMsg">
    <wsdl:part element="tns:opprettRefusjonskrav_faultRefusjonskravUtenforTidsfrist" name="faultRefusjonskravUtenforTidsfrist"/>
  </wsdl:message>
  <wsdl:message name="opprettRefusjonskrav_faultRefusjonskravUtenforSamordningspliktigPeriodeMsg">
    <wsdl:part element="tns:opprettRefusjonskrav_faultRefusjonskravUtenforSamordningspliktigPeriode" name="faultRefusjonskravUtenforSamordningspliktigPeriode"/>
  </wsdl:message>
  <wsdl:portType name="TPSamordningRegistrering">
    <wsdl:operation name="lagreTPYtelse">
      <wsdl:input message="tns:lagreTPYtelseRequestMsg" name="lagreTPYtelseRequest"/>
      <wsdl:output message="tns:lagreTPYtelseResponseMsg" name="lagreTPYtelseResponse"/>
      <wsdl:fault message="tns:lagreTPYtelse_faultGeneriskMsg" name="faultGenerisk"/>
      <wsdl:fault message="tns:lagreTPYtelse_faultTPYtelseAlleredeRegistrertMsg" name="faultTPYtelseAlleredeRegistrert"/>
    </wsdl:operation>
    <wsdl:operation name="slettTPYtelse">
      <wsdl:input message="tns:slettTPYtelseRequestMsg" name="slettTPYtelseRequest"/>
      <wsdl:output message="tns:slettTPYtelseResponseMsg" name="slettTPYtelseResponse"/>
      <wsdl:fault message="tns:slettTPYtelse_faultGeneriskMsg" name="faultGenerisk"/>
      <wsdl:fault message="tns:slettTPYtelse_faultTPYtelseIkkeFunnetMsg" name="faultTPYtelseIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="hentSamordningsdata">
      <wsdl:input message="tns:hentSamordningsdataRequestMsg" name="hentSamordningsdataRequest"/>
      <wsdl:output message="tns:hentSamordningsdataResponseMsg" name="hentSamordningsdataResponse"/>
      <wsdl:fault message="tns:hentSamordningsdata_faultGeneriskMsg" name="faultGenerisk"/>
      <wsdl:fault message="tns:hentSamordningsdata_faultTPForholdIkkeIverksattMsg" name="faultTPForholdIkkeIverksatt"/>
    </wsdl:operation>
    <wsdl:operation name="opprettRefusjonskrav">
      <wsdl:input message="tns:opprettRefusjonskravRequestMsg" name="opprettRefusjonskravRequest"/>
      <wsdl:output message="tns:opprettRefusjonskravResponseMsg" name="opprettRefusjonskravResponse"/>
      <wsdl:fault message="tns:opprettRefusjonskrav_faultGeneriskMsg" name="faultGenerisk"/>
      <wsdl:fault message="tns:opprettRefusjonskrav_faultSamordningsIdOgPersonKorrelererIkkeMsg" name="faultSamordningsIdOgPersonKorrelererIkke"/>
      <wsdl:fault message="tns:opprettRefusjonskrav_faultSamordningsIdIkkeFunnetMsg" name="faultSamordningsIdIkkeFunnet"/>
      <wsdl:fault message="tns:opprettRefusjonskrav_faultAlleredeMottattRefusjonskravMsg" name="faultAlleredeMottattRefusjonskrav"/>
      <wsdl:fault message="tns:opprettRefusjonskrav_faultRefusjonskravUtenforTidsfristMsg" name="faultRefusjonskravUtenforTidsfrist"/>
      <wsdl:fault message="tns:opprettRefusjonskrav_faultRefusjonskravUtenforSamordningspliktigPeriodeMsg" name="faultRefusjonskravUtenforSamordningspliktigPeriode"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
