incubator/wid61-libs/nav-lib-frg-aa/no/nav/lib/frg/aa/inf/K268SR03.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:K268SR03INPUT="http://nav-prod-frg-aa/no/nav/asbo" xmlns:bons1="http://nav-lib-frg-aa/no/nav/asbo" xmlns:bons2="http://nav-lib-frg-aa/no/nav/frg/aa/asbo" xmlns:bons3="http://nav-lib-frg-aa/no/nav/lib/frg/aa/fault" xmlns:bons4="http://nav-lib-frg-aa/no/nav/lib/frg/asbo" xmlns:intf="http://nav-lib-frg-aa/no/nav/lib/frg/aa/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="K268SR03.wsdl" targetNamespace="http://nav-lib-frg-aa/no/nav/lib/frg/aa/inf">
  <types>
    <xsd:schema xmlns:tns="http://nav-prod-frg-aa/no/nav/asbo" elementFormDefault="qualified" targetNamespace="http://nav-prod-frg-aa/no/nav/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    </xsd:schema>
    <xsd:schema xmlns:Q1="http://nav-lib-frg-aa/no/nav/lib/frg/asbo" xmlns:bons0="http://nav-lib-frg-aa/no/nav/frg/aa/asbo" xmlns:tns="http://nav-lib-frg-aa/no/nav/lib/frg/aa/inf" xmlns:xsd1="http://nav-prod-frg-aa/no/nav/asbo" elementFormDefault="qualified" targetNamespace="http://nav-lib-frg-aa/no/nav/lib/frg/aa/inf" xmlns:bons1="http://nav-lib-frg-aa/no/nav/asbo" xmlns:bons2="http://nav-lib-frg-aa/no/nav/frg/aa/asbo" xmlns:bons3="http://nav-lib-frg-aa/no/nav/lib/frg/aa/fault" xmlns:bons4="http://nav-lib-frg-aa/no/nav/lib/frg/asbo" xmlns:intf="http://nav-lib-frg-aa/no/nav/lib/frg/aa/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-frg-aa/no/nav/lib/frg/asbo" schemaLocation="../../../../../../xsd-includes/http.nav-lib-frg-aa.no.nav.lib.frg.asbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg-aa/no/nav/frg/aa/asbo" schemaLocation="xsd-includes/http.nav-lib-frg-aa.no.nav.frg.aa.asbo.xsd"/>
            <xsd:import namespace="http://nav-prod-frg-aa/no/nav/asbo"/>
            <xsd:import namespace="http://nav-lib-frg-aa/no/nav/asbo" schemaLocation="xsd-includes/http.nav-lib-frg-aa.no.nav.asbo.xsd"/>
            <xsd:import namespace="http://nav-lib-frg-aa/no/nav/lib/frg/aa/fault" schemaLocation="xsd-includes/http.nav-lib-frg-aa.no.nav.lib.frg.aa.fault.xsd"/>
            <xsd:element name="hentArbeidsforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsforholdInput" type="Q1:K268SR03INPUT"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentArbeidsforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentArbeidsforholdOutput" type="Q1:K268SR03OUTPUT"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </types>
  <message name="hentArbeidsforholdRequest">
    <part element="intf:hentArbeidsforhold" name="hentArbeidsforholdRequestPart"/>
  </message>
  <message name="hentArbeidsforholdResponse">
    <part element="intf:hentArbeidsforholdResponse" name="hentArbeidsforholdResponsePart"/>
  </message>
    <portType name="K268SR03">
    <operation name="hentArbeidsforhold">
      <input message="intf:hentArbeidsforholdRequest" name="hentArbeidsforholdRequest"/>
      <output message="intf:hentArbeidsforholdResponse" name="hentArbeidsforholdResponse"/>
        </operation>
  </portType>
</definitions>
