incubator/oppgave-poc/nav/virksomhet/tjenester/person/person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/person/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="person" targetNamespace="http://nav.no/virksomhet/tjenester/person/v1">
  <wsdl:types>
    <xsd:schema xmlns:feil="http://nav.no/virksomhet/tjenester/person/feil/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/person/meldinger/v1" targetNamespace="http://nav.no/virksomhet/tjenester/person/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/person/feil/v1" schemaLocation="feil/feil.xsd" />
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/person/meldinger/v1" schemaLocation="meldinger/meldinger.xsd" />
      <xsd:element name="hentPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentPersonRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentPersonResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonPersonIkkeFunnet" type="feil:PersonIkkeFunnet" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentPerson_PersonIkkeFunnet">
    <wsdl:part name="PersonIkkeFunnet" element="tns:hentPersonPersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonRequest">
    <wsdl:part name="parameters" element="tns:hentPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentPersonResponse">
    <wsdl:part name="parameters" element="tns:hentPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Person">
    <wsdl:operation name="hentPerson">
      <wsdl:input message="tns:hentPersonRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentPersonResponse">
    </wsdl:output>
      <wsdl:fault name="PersonIkkeFunnet" message="tns:hentPerson_PersonIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
