incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/inf/Pensjonssak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav-lib-pen/no/nav/lib/pen/inf/Pensjonssak" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pensjonssak" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/inf/Pensjonssak">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-lib-test/no/nav/lib/test/fault" xmlns:bons2="http://nav-lib-test/no/nav/lib/test/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/inf/Pensjonssak" xmlns:tns="http://nav-lib-pen/no/nav/lib/pen/inf/Pensjonssak" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../gbo/GBOPensjonssakListe.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../gbo/GBOPensjonssak.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../gbo/GBOKontrollpunktListe.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../gbo/GBOKontrollpunkt.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../gbo/GBOHentPensjonssakRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../gbo/GBOHentPensjonssakListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/fault" schemaLocation="../fault/FaultSakIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/fault" schemaLocation="../fault/FaultKravIkkeFunnet.xsd"/>
      <xsd:element name="opprettKontrollpunkt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettKontrollpunktRequest" nillable="true" type="bons2:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettKontrollpunktResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettKontrollpunktResponse" nillable="true" type="bons2:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettKontrollpunkt_faultSakIkkeFunnet" type="bons0:FaultSakIkkeFunnet"/>           
            <xsd:element name="hentKontrollpunktListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontrollpunktListeRequest" nillable="true" type="bons2:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentKontrollpunktListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontrollpunktListeResponse" nillable="true" type="bons2:GBOKontrollpunktListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentKontrollpunktListe_faultSakIkkeFunnet" type="bons0:FaultSakIkkeFunnet"/>
            <xsd:element name="hentPensjonssakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakListeRequest" nillable="true" type="bons2:GBOHentPensjonssakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakListeResponse" nillable="true" type="bons2:GBOPensjonssakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakRequest" nillable="true" type="bons2:GBOHentPensjonssakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakResponse" nillable="true" type="bons2:GBOPensjonssak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssak_faultSakIkkeFunnet" type="bons0:FaultSakIkkeFunnet"/>
            <xsd:element name="hentPensjonssak_faultKravIkkeFunnet" type="bons0:FaultKravIkkeFunnet"/>           
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="opprettKontrollpunktRequestMsg">
    <wsdl:part element="tns:opprettKontrollpunkt" name="opprettKontrollpunktParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettKontrollpunktResponseMsg">
    <wsdl:part element="tns:opprettKontrollpunktResponse" name="opprettKontrollpunktResult"/>
  </wsdl:message>
    <wsdl:message name="opprettKontrollpunkt_faultSakIkkeFunnetMsg">
    <wsdl:part element="tns:opprettKontrollpunkt_faultSakIkkeFunnet" name="faultSakIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentKontrollpunktListeRequestMsg">
    <wsdl:part element="tns:hentKontrollpunktListe" name="hentKontrollpunktListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentKontrollpunktListeResponseMsg">
    <wsdl:part element="tns:hentKontrollpunktListeResponse" name="hentKontrollpunktListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentKontrollpunktListe_faultSakIkkeFunnetMsg">
    <wsdl:part element="tns:opprettKontrollpunkt_faultSakIkkeFunnet" name="faultSakIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakListeRequestMsg">
    <wsdl:part element="tns:hentPensjonssakListe" name="hentPensjonssakListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakListeResponseMsg">
    <wsdl:part element="tns:hentPensjonssakListeResponse" name="hentPensjonssakListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakRequestMsg">
    <wsdl:part element="tns:hentPensjonssak" name="hentPensjonssakParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakResponseMsg">
    <wsdl:part element="tns:hentPensjonssakResponse" name="hentPensjonssakResult"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssak_faultSakIkkeFunnetMsg">
    <wsdl:part element="tns:opprettKontrollpunkt_faultSakIkkeFunnet" name="faultSakIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssak_faultKravIkkeFunnetMsg">
    <wsdl:part element="tns:hentPensjonssak_faultKravIkkeFunnet" name="faultKravIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="Pensjonssak">
    <wsdl:operation name="opprettKontrollpunkt">
      <wsdl:input message="tns:opprettKontrollpunktRequestMsg" name="opprettKontrollpunktRequest"/>
      <wsdl:output message="tns:opprettKontrollpunktResponseMsg" name="opprettKontrollpunktResponse"/>
      <wsdl:fault message="tns:opprettKontrollpunkt_faultSakIkkeFunnetMsg" name="faultSakIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentKontrollpunktListe">
      <wsdl:input message="tns:hentKontrollpunktListeRequestMsg" name="hentKontrollpunktListeRequest"/>
      <wsdl:output message="tns:hentKontrollpunktListeResponseMsg" name="hentKontrollpunktListeResponse"/>
            <wsdl:fault message="tns:hentKontrollpunktListe_faultSakIkkeFunnetMsg" name="faultSakIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentPensjonssakListe">
      <wsdl:input message="tns:hentPensjonssakListeRequestMsg" name="hentPensjonssakListeRequest"/>
      <wsdl:output message="tns:hentPensjonssakListeResponseMsg" name="hentPensjonssakListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentPensjonssak">
      <wsdl:input message="tns:hentPensjonssakRequestMsg" name="hentPensjonssakRequest"/>
      <wsdl:output message="tns:hentPensjonssakResponseMsg" name="hentPensjonssakResponse"/>
      <wsdl:fault message="tns:hentPensjonssak_faultSakIkkeFunnetMsg" name="faultSakIkkeFunnet"/>
      <wsdl:fault message="tns:hentPensjonssak_faultKravIkkeFunnetMsg" name="faultKravIkkeFunnet"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
