incubator/stelvio-example/stelvio-example-person/stelvio-example-person-provider-lib/no/stelvio/example/person/provider/V1/FindPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.stelvio.no/example/person/provider/V1"
	xmlns:bons0="http://www.stelvio.no/example/person/provider/V1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:include schemaLocation="Person.xsd" />
	<xsd:complexType name="FindPersonResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="person" type="bons0:Person"
				maxOccurs="unbounded">
			</xsd:element>

			<xsd:element minOccurs="1" name="totalHits"
				type="xsd:int">
			</xsd:element>
			<xsd:any namespace="##any" processContents="lax"
				minOccurs="0" maxOccurs="unbounded">
			</xsd:any>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>