incubator/stelvio-example/stelvio-example-person/stelvio-example-person-provider-lib/no/stelvio/example/person/provider/V1/Person.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/person/provider/V1" xmlns:bons1="http://www.stelvio.no/example/person/provider/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="Name.xsd"/>
    <xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="id" type="xsd:string"/>

			<xsd:element minOccurs="1" name="name" type="bons1:Name"/>
			<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax">
			</xsd:any>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>