int/stelvio-mapping-datatypes/stelvio-test-mappingdatatypes/no/nav/bo/TestMappingInternalBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://stelvio-test-mappingdatatypes/no/nav/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://stelvio-test-mappingdatatypes/no/nav/bo">
	<xsd:include schemaLocation="ComplexTypeInternalBO.xsd"></xsd:include>
	<xsd:complexType name="TestMappingInternalBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="string"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="boolean"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="date" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="int" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="double"
				type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="complex1"
				type="bons0:ComplexTypeInternalBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="complex2"
				type="bons0:ComplexTypeInternalBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="string2"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="byte" type="xsd:byte"></xsd:element>
			<xsd:element minOccurs="0" name="float" type="xsd:float"></xsd:element>
			<xsd:element minOccurs="0" name="long" type="xsd:long"></xsd:element>
			<xsd:element minOccurs="0" name="short" type="xsd:short"></xsd:element>
			<xsd:element minOccurs="0" name="booleanNillable" nillable="true"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>