int/DeploymentVerifier/nav-cons-deploy-verifikasjon/nav/no/deploy/inf/Verifikasjon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-cons-deploy-verifikasjon/nav/no/deploy/asbo" xmlns:bons2="http://nav-cons-deploy-verifikasjon/nav/no/deploy/fault" xmlns:tns="http://nav-cons-deploy-verifikasjon/nav/no/deploy/inf/Verifikasjon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Verifikasjon" targetNamespace="http://nav-cons-deploy-verifikasjon/nav/no/deploy/inf/Verifikasjon">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-deploy-verifikasjon/nav/no/deploy/inf/Verifikasjon" xmlns:bons1="http://nav-cons-deploy-verifikasjon/nav/no/deploy/asbo" xmlns:bons2="http://nav-cons-deploy-verifikasjon/nav/no/deploy/fault" xmlns:tns="http://nav-cons-deploy-verifikasjon/nav/no/deploy/inf/Verifikasjon" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-deploy-verifikasjon/nav/no/deploy/fault" schemaLocation="../fault/FaultVerifikasjonGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-deploy-verifikasjon/nav/no/deploy/asbo" schemaLocation="../asbo/ASBOVerifikasjonRes.xsd"/>
      <xsd:import namespace="http://nav-cons-deploy-verifikasjon/nav/no/deploy/asbo" schemaLocation="../asbo/ASBOVerifikasjonReq.xsd"/>
      <xsd:element name="opWS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonReqWS" nillable="true" type="bons1:ASBOVerifikasjonReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opWSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonResWS" nillable="true" type="bons1:ASBOVerifikasjonRes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opCEI">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonReqCEI" nillable="true" type="bons1:ASBOVerifikasjonReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opCEIResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonResCEI" nillable="true" type="bons1:ASBOVerifikasjonRes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opFEM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonReqFEM" nillable="true" type="bons1:ASBOVerifikasjonReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opFEMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonResFEM" nillable="true" type="bons1:ASBOVerifikasjonRes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opSCA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonReqSCA" nillable="true" type="bons1:ASBOVerifikasjonReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opSCAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ASBOVerifikasjonReqSCA" nillable="true" type="bons1:ASBOVerifikasjonRes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultVerifikasjonGenerisk_element" nillable="true" type="bons2:FaultVerifikasjonGenerisk"/>
            <xsd:element name="FaultVerifikasjonGenerisk_element2" nillable="true" type="bons2:FaultVerifikasjonGenerisk"/>
            <xsd:element name="FaultVerifikasjonGenerisk_element3" nillable="true" type="bons2:FaultVerifikasjonGenerisk"/>
            <xsd:element name="FaultVerifikasjonGenerisk_element4" nillable="true" type="bons2:FaultVerifikasjonGenerisk"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="opWSRequestMsg">
    <wsdl:part element="tns:opWS" name="opWSParameters"/>
  </wsdl:message>
    <wsdl:message name="opWSResponseMsg">
    <wsdl:part element="tns:opWSResponse" name="opWSResult"/>
  </wsdl:message>
    <wsdl:message name="opCEIRequestMsg">
    <wsdl:part element="tns:opCEI" name="opCEIParameters"/>
  </wsdl:message>
    <wsdl:message name="opCEIResponseMsg">
    <wsdl:part element="tns:opCEIResponse" name="opCEIResult"/>
  </wsdl:message>
    <wsdl:message name="opFEMRequestMsg">
    <wsdl:part element="tns:opFEM" name="opFEMParameters"/>
  </wsdl:message>
    <wsdl:message name="opFEMResponseMsg">
    <wsdl:part element="tns:opFEMResponse" name="opFEMResult"/>
  </wsdl:message>
    <wsdl:message name="opSCARequestMsg">
    <wsdl:part element="tns:opSCA" name="opSCAParameters"/>
  </wsdl:message>
    <wsdl:message name="opSCAResponseMsg">
    <wsdl:part element="tns:opSCAResponse" name="opSCAResult"/>
  </wsdl:message>
    <wsdl:message name="opWS_faultVerfikasjonGeneriskWSMsg">
    <wsdl:part element="tns:FaultVerifikasjonGenerisk_element" name="faultVerfikasjonGeneriskWS"/>
  </wsdl:message>
    <wsdl:message name="opCEI_faultVerfikasjonGeneriskCEIMsg">
    <wsdl:part element="tns:FaultVerifikasjonGenerisk_element2" name="faultVerfikasjonGeneriskCEI"/>
  </wsdl:message>
    <wsdl:message name="opFEM_faultVerfikasjonGeneriskFEMMsg">
    <wsdl:part element="tns:FaultVerifikasjonGenerisk_element4" name="faultVerfikasjonGeneriskFEM"/>
  </wsdl:message>
    <wsdl:message name="opSCA_faultVerfikasjonGeneriskSCAMsg">
    <wsdl:part element="tns:FaultVerifikasjonGenerisk_element3" name="faultVerfikasjonGeneriskSCA"/>
  </wsdl:message>
    <wsdl:portType name="Verifikasjon">
    <wsdl:operation name="opWS">
      <wsdl:input message="tns:opWSRequestMsg" name="opWSRequest"/>
      <wsdl:output message="tns:opWSResponseMsg" name="opWSResponse"/>
            <wsdl:fault message="tns:opWS_faultVerfikasjonGeneriskWSMsg" name="faultVerfikasjonGeneriskWS"/>
        </wsdl:operation>
    <wsdl:operation name="opCEI">
      <wsdl:input message="tns:opCEIRequestMsg" name="opCEIRequest"/>
      <wsdl:output message="tns:opCEIResponseMsg" name="opCEIResponse"/>
            <wsdl:fault message="tns:opCEI_faultVerfikasjonGeneriskCEIMsg" name="faultVerfikasjonGeneriskCEI"/>
        </wsdl:operation>
    <wsdl:operation name="opFEM">
      <wsdl:input message="tns:opFEMRequestMsg" name="opFEMRequest"/>
      <wsdl:output message="tns:opFEMResponseMsg" name="opFEMResponse"/>
            <wsdl:fault message="tns:opFEM_faultVerfikasjonGeneriskFEMMsg" name="faultVerfikasjonGeneriskFEM"/>
        </wsdl:operation>
    <wsdl:operation name="opSCA">
      <wsdl:input message="tns:opSCARequestMsg" name="opSCARequest"/>
      <wsdl:output message="tns:opSCAResponseMsg" name="opSCAResponse"/>
            <wsdl:fault message="tns:opSCA_faultVerfikasjonGeneriskSCAMsg" name="faultVerfikasjonGeneriskSCA"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
