dev/maven2/maven-datapower-plugin/datapower-utils/src/test/resources/files/wsdl/no/nav/tpsamordningregistrering/V0_2/asbo/KrigOgGammelYrkesskade.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_2">
  <xsd:complexType name="KrigOgGammelYrkesskade">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brutto" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="pensjonsgrad" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="grunnlag" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="forholdstallYG" nillable="true" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
