dev/maven2/maven-datapower-plugin/datapower-utils/src/test/resources/files/wsdl/no/nav/tpsamordningregistrering/V0_2/asbo/Poengrekke.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://nav.no/elsam/tpsamordningregistrering/V0_2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_2">
  <xsd:complexType name="Poengrekke">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="pa" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="pa_f92" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="pa_e91" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="tpi" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
