dev/maven2/maven-datapower-plugin/datapower-utils/src/test/resources/files/wsdl/no/nav/tpsamordningregistrering/V0_2/asbo/Sluttpoengtall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://nav.no/elsam/tpsamordningregistrering/V0_2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav.no/elsam/tpsamordningregistrering/V0_2">
  <xsd:include schemaLocation="Poengrekke.xsd"/>
  <xsd:complexType name="Sluttpoengtall">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="poengtall" nillable="true" type="xsd:double"/>
      <xsd:element minOccurs="0" name="poengrekke" type="tns:Poengrekke"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
