dev/datapower/datapower-cfg-secgw/src/main/resources/local/wsdl/workmate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.adbsys.com/WDA.HttpHandlers.WMBDRequest.WebService01.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.adbsys.com/WDA.HttpHandlers.WMBDRequest.WebService01.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.adbsys.com/WDA.HttpHandlers.WMBDRequest.WebService01.xsd">
      <s:element name="DelegateService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serializedEnvelope" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedTraceContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelegateServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelegateServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serializedEnvelope" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DelegateServiceSoapIn">
    <wsdl:part name="parameters" element="tns:DelegateService" />
  </wsdl:message>
  <wsdl:message name="DelegateServiceSoapOut">
    <wsdl:part name="parameters" element="tns:DelegateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteService" />
  </wsdl:message>
  <wsdl:message name="ExecuteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService01Soap">
    <wsdl:operation name="DelegateService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute the service specified in the supplied envelope. The return from this method is a new serialized envelope containing the result of the service request. The resulting envelope can either contain a modified copy of the dataset used in the request, potentially containing error messages for rows and columns, or it can be a dataset containing a single ErrorDocument table. If the return is a dataset with no errors, all changes from the orginial dataset will have been consolidated (i.e. there are no diffgram in the dataset).</wsdl:documentation>
      <wsdl:input message="tns:DelegateServiceSoapIn" />
      <wsdl:output message="tns:DelegateServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute the service specified in the supplied envelope. The return from this method is a new serialized envelope containing the result of the service request. The resulting envelope can either contain a modified copy of the dataset used in the request, potentially containing error messages for rows and columns, or it can be a dataset containing a single ErrorDocument table. If the return is a dataset with no errors, all changes from the orginial dataset will have been consolidated (i.e. there are no diffgram in the dataset).</wsdl:documentation>
      <wsdl:input message="tns:ExecuteServiceSoapIn" />
      <wsdl:output message="tns:ExecuteServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService01Soap" type="tns:WebService01Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DelegateService">
      <soap:operation soapAction="http://schemas.adbsys.com/WDA.HttpHandlers.WMBDRequest.WebService01.xsd/DelegateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteService">
      <soap:operation soapAction="http://schemas.adbsys.com/WDA.HttpHandlers.WMBDRequest.WebService01.xsd/ExecuteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService01Soap12" type="tns:WebService01Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DelegateService">
      <soap12:operation soapAction="http://schemas.adbsys.com/WDA.HttpHandlers.WMBDRequest.WebService01.xsd/DelegateService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteService">
      <soap12:operation soapAction="http://schemas.adbsys.com/WDA.HttpHandlers.WMBDRequest.WebService01.xsd/ExecuteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService01">
    <wsdl:port name="WebService01Soap" binding="tns:WebService01Soap">
      <soap:address location="http://wasapp-t.adeo.no/WorkMateOM/WebServices/WDA.HttpHandlers.WMBDRequest.WebService01.03.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService01Soap12" binding="tns:WebService01Soap12">
      <soap12:address location="http://wasapp-t.adeo.no/WorkMateOM/WebServices/WDA.HttpHandlers.WMBDRequest.WebService01.03.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>