incubator/stelvio-example/stelvio-example-order/stelvio-example-order-design/www/stelvio/no/example/order/V1/OrderCommand.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OrderCommand" targetNamespace="http://www.stelvio.no/example/order/V1/OrderCommand/" xmlns:tns="http://www.stelvio.no/example/order/V1/OrderCommand/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1/OrderCommand/" xmlns="http://www.stelvio.no/example/order/V1" xmlns:order="http://www.stelvio.no/example/order/V1">
      <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="../../../../../../order/V1/UpdateOrderRequest.xsd"/>
      <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="../../../../../../order/V1/Order.xsd"/>
      <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="../../../../../../order/V1/CreateOrderRequest.xsd"/>
      <xsd:element name="createOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createOrderRequest" type="CreateOrderRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" type="Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addItemsToOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateOrderRequest" type="UpdateOrderRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addItemsToOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" type="Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeItemsFromOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateOrderRequest" type="UpdateOrderRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeItemsFromOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" type="Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createOrderRequest">
    <wsdl:part element="tns:createOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createOrderResponse">
    <wsdl:part element="tns:createOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cancelOrderRequest">
    <wsdl:part element="tns:cancelOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addItemsToOrderRequest">
    <wsdl:part element="tns:addItemsToOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addItemsToOrderResponse">
    <wsdl:part element="tns:addItemsToOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="removeItemsFromOrderRequest">
    <wsdl:part element="tns:removeItemsFromOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="removeItemsFromOrderResponse">
    <wsdl:part element="tns:removeItemsFromOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="OrderCommand">
    <wsdl:operation name="createOrder">
      <wsdl:input message="tns:createOrderRequest"/>
      <wsdl:output message="tns:createOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <wsdl:input message="tns:cancelOrderRequest"/>
    </wsdl:operation>
    <wsdl:operation name="addItemsToOrder">
      <wsdl:input message="tns:addItemsToOrderRequest"/>
      <wsdl:output message="tns:addItemsToOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeItemsFromOrder">
      <wsdl:input message="tns:removeItemsFromOrderRequest"/>
      <wsdl:output message="tns:removeItemsFromOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>