incubator/stelvio-example/stelvio-example-person/stelvio-example-person-lib/no/stelvio/example/person/provider/Name.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/person/provider/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Name">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="firstName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="middleName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="lastName" type="xsd:string">
			</xsd:element>
			<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>