incubator/stelvio-example/stelvio-example-contexthandler/stelvio-example-contexthandler-mediationflow/StartExampleJava.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="StartExampleProcess" targetNamespace="http://stelvio-example-contexthandler-prosess/no/nav/inf/StartExampleProcess" xmlns:tns="http://stelvio-example-contexthandler-prosess/no/nav/inf/StartExampleProcess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://stelvio-example-contexthandler-prosess/no/nav/inf/StartExampleProcess">
            <xsd:element name="startExampleProcessWR">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inputString" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="startExampleProcessWRResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outputString" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="startExampleProcessWRRequestMsg">
    <wsdl:part element="tns:startExampleProcessWR" name="startExampleProcessWRParameters"/>
  </wsdl:message>
    <wsdl:message name="startExampleProcessWRResponseMsg">
    <wsdl:part element="tns:startExampleProcessWRResponse" name="startExampleProcessWRResult"/>
  </wsdl:message>
    <wsdl:portType name="StartExampleJava">
        <wsdl:operation name="startExampleProcessWR">
      <wsdl:input message="tns:startExampleProcessWRRequestMsg" name="startExampleProcessWRRequest"/>
      <wsdl:output message="tns:startExampleProcessWRResponseMsg" name="startExampleProcessWRResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>