incubator/ytelse-PPEN015/nav-bproc-test-ppen015-participate/no/nav/inf/IverksettVedtakTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/inf/IverksettVedtak" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:tns="http://nav-bproc-test-ppen015/no/nav/inf/IverksettVedtakTest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IverksettVedtak" targetNamespace="http://nav-bproc-test-ppen015/no/nav/inf/IverksettVedtakTest">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-bproc-test-ppen015/no/nav/inf/IverksettVedtakTest" xmlns:tns="http://nav-lib-pen/no/nav/lib/pen/inf/IverksettVedtak" targetNamespace="http://nav-bproc-test-ppen015/no/nav/inf/IverksettVedtakTest" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOMottaOSKvitteringRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOVedtaksId.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOIverksettVedtakRequest.xsd"/>
      <xsd:element name="invokeIverksettVedtak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="iverksettVedtakRequest" nillable="true" type="bons1:GBOIverksettVedtakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="mottaSamhandlerSvar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mottaSamhandler" nillable="true" type="bons1:GBOVedtaksId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="samordningFerdig">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="samordningFerdig" nillable="true" type="bons1:GBOVedtaksId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="mottaOSKvittering">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mottaOSKvitteringRequest" nillable="true" type="bons1:GBOMottaOSKvitteringRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="positivOSKvitteringMottatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="positivOSKvitteringMottattRequest" nillable="true" type="bons1:GBOVedtaksId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="invokeIverksettVedtakRequestMsg">
    <wsdl:part element="tns:invokeIverksettVedtak" name="invokeIverksettVedtakParameters"/>
  </wsdl:message>
    <wsdl:message name="mottaSamhandlerSvarRequestMsg">
    <wsdl:part element="tns:mottaSamhandlerSvar" name="mottaSamhandlerSvarParameters"/>
  </wsdl:message>
    <wsdl:message name="samordningFerdigRequestMsg">
    <wsdl:part element="tns:samordningFerdig" name="samordningFerdigParameters"/>
  </wsdl:message>
    <wsdl:message name="mottaOSKvitteringRequestMsg">
    <wsdl:part element="tns:mottaOSKvittering" name="mottaOSKvitteringParameters"/>
  </wsdl:message>
    <wsdl:message name="positivOSKvitteringMottattRequestMsg">
    <wsdl:part element="tns:positivOSKvitteringMottatt" name="positivOSKvitteringMottattParameters"/>
  </wsdl:message>
    <wsdl:portType name="IverksettVedtakTest">
    <wsdl:operation name="invokeIverksettVedtak">
      <wsdl:input message="tns:invokeIverksettVedtakRequestMsg" name="invokeIverksettVedtakRequest"/>
    </wsdl:operation>
        <wsdl:operation name="mottaSamhandlerSvar">
      <wsdl:input message="tns:mottaSamhandlerSvarRequestMsg" name="mottaSamhandlerSvarRequest"/>
    </wsdl:operation>
        <wsdl:operation name="samordningFerdig">
      <wsdl:input message="tns:samordningFerdigRequestMsg" name="samordningFerdigRequest"/>
    </wsdl:operation>
        <wsdl:operation name="mottaOSKvittering">
      <wsdl:input message="tns:mottaOSKvitteringRequestMsg" name="mottaOSKvitteringRequest"/>
    </wsdl:operation>
        <wsdl:operation name="positivOSKvitteringMottatt">
      <wsdl:input message="tns:positivOSKvitteringMottattRequestMsg" name="positivOSKvitteringMottattRequest"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
