incubator/ytelse-PPEN015/nav-bproc-test-ppen015-participate/no/nav/inf/PensjonssakAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:bons2="http://nav-lib-pen/no/nav/lib/pen/fault" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/PensjonssakAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PensjonssakAsync" targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/PensjonssakAsync">
    <wsdl:types>
    <xsd:schema xmlns:bons="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/fault" xmlns:bons12="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:bons123="http://nav-lib-pen/no/nav/lib/pen/fault" targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/PensjonssakAsync" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/PensjonssakAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOPensjonssakListe.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOHentPensjonssakListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOOpprettsakRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOKontrollpunkt.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOBatchBrevdata.xsd"/>
      <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOHentBatchBrevdata.xsd"/>
      <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/fault" schemaLocation="../lib/pen/fault/FaultSakIkkeFunnet.xsd"/>
      <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOHentPensjonssakRequest.xsd"/>
      <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOPensjonssak.xsd"/>
      <xsd:element name="hentPensjonssak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakRequest" nillable="true" type="bons:GBOHentPensjonssakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPensjonssakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakResponse" nillable="true" type="bons:GBOPensjonssak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPensjonssak_faultSakIkkeFunnet" type="bons1:FaultSakIkkeFunnet"/>
      <xsd:element name="hentBatchBrevdata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBatchBrevdataRequest" nillable="true" type="bons12:GBOHentBatchBrevdata"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentBatchBrevdataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBatchBrevdataResponse" nillable="true" type="bons12:GBOBatchBrevdata"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettKontrollpunkt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettKontrollpunktRequest" nillable="true" type="bons:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettKontrollpunktResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettKontrollpunktResponse" nillable="true" type="bons:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSakRequest" nillable="true" type="bons:GBOOpprettsakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSakResponse" nillable="true" type="bons:GBOPensjonssak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakListeRequest" nillable="true" type="bons:GBOHentPensjonssakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakListeResponse" nillable="true" type="bons:GBOPensjonssakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentPensjonssakRequestMsg">
    <wsdl:part element="tns:hentPensjonssak" name="hentPensjonssakParameters1"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakResponseMsg">
    <wsdl:part element="tns:hentPensjonssakResponse" name="hentPensjonssakResult1"/>
  </wsdl:message>
    <wsdl:message name="hentBatchBrevdataRequestMsg">
    <wsdl:part element="tns:hentBatchBrevdata" name="hentBatchBrevdataParameters1"/>
  </wsdl:message>
    <wsdl:message name="hentBatchBrevdataResponseMsg">
    <wsdl:part element="tns:hentBatchBrevdataResponse" name="hentBatchBrevdataResult1"/>
  </wsdl:message>
    <wsdl:message name="opprettKontrollpunktRequestMsg">
    <wsdl:part element="tns:opprettKontrollpunkt" name="opprettKontrollpunktParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettKontrollpunktResponseMsg">
    <wsdl:part element="tns:opprettKontrollpunktResponse" name="opprettKontrollpunktResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSakRequestMsg">
    <wsdl:part element="tns:opprettSak" name="opprettSakParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettSakResponseMsg">
    <wsdl:part element="tns:opprettSakResponse" name="opprettSakResult"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakListeRequestMsg">
    <wsdl:part element="tns:hentPensjonssakListe" name="hentPensjonssakListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakListeResponseMsg">
    <wsdl:part element="tns:hentPensjonssakListeResponse" name="hentPensjonssakListeResult"/>
  </wsdl:message>
    <wsdl:portType name="PensjonssakAsync">
    <wsdl:operation name="hentPensjonssak">
      <wsdl:input message="tns:hentPensjonssakRequestMsg" name="hentPensjonssakRequest"/>
      <wsdl:output message="tns:hentPensjonssakResponseMsg" name="hentPensjonssakResponse"/>
    </wsdl:operation>
    <wsdl:operation name="hentBatchBrevdata">
      <wsdl:input message="tns:hentBatchBrevdataRequestMsg" name="hentBatchBrevdataRequest"/>
      <wsdl:output message="tns:hentBatchBrevdataResponseMsg" name="hentBatchBrevdataResponse"/>
    </wsdl:operation>
        <wsdl:operation name="opprettKontrollpunkt">
      <wsdl:input message="tns:opprettKontrollpunktRequestMsg" name="opprettKontrollpunktRequest"/>
      <wsdl:output message="tns:opprettKontrollpunktResponseMsg" name="opprettKontrollpunktResponse"/>
    </wsdl:operation>
        <wsdl:operation name="opprettSak">
      <wsdl:input message="tns:opprettSakRequestMsg" name="opprettSakRequest"/>
      <wsdl:output message="tns:opprettSakResponseMsg" name="opprettSakResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentPensjonssakListe">
      <wsdl:input message="tns:hentPensjonssakListeRequestMsg" name="hentPensjonssakListeRequest"/>
      <wsdl:output message="tns:hentPensjonssakListeResponseMsg" name="hentPensjonssakListeResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
