int/DeploymentVerifier/nav-cons-deploy-verifikasjonWebClient/WebContent/WEB-INF/wsdl/asbo/ASBOVerifikasjonRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-deploy-verifikasjon/nav/no/deploy/asbo">
	<xsd:complexType name="ASBOVerifikasjonRes">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="typeVerifikasjon" type="xsd:string">

			</xsd:element>
			<xsd:element minOccurs="0" name="status" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="aksjon" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
