int/maven/plugins/maven-service-registry-updater-plugin/src/test/resources/ServiceRegistryTest/nav-fim-brukerprofil-tjenestespesifikasjon-0.0.1-alpha002/brukerprofil/generelleTyper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/informasjon/generelleTyper" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generelleTyper="http://nav.no/tjeneste/virksomhet/brukerprofil/v1/informasjon/generelleTyper">
	<xs:simpleType name="Foedselsnummer">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Identifikator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Navn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Personidentifikator">
		<xs:restriction base="generelleTyper:Identifikator"/>
	</xs:simpleType>
</xs:schema>
