int/stelvio-mapping-datatypes/stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypesInternal.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="TESTMappingDatatypesInternal" targetNamespace="http://stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypesInternal" xmlns:bons1="http://stelvio-test-mappingdatatypes/no/nav/bo" xmlns:tns="http://stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypesInternal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypesInternal">
      <xsd:import namespace="http://stelvio-test-mappingdatatypes/no/nav/bo" schemaLocation="../bo/TestMappingInternalBO.xsd"/>
      <xsd:element name="testMappingInternal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="testMappingInternalRequest" nillable="true" type="bons1:TestMappingInternalBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testMappingInternalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="testMappingInternalResponse" nillable="true" type="bons1:TestMappingInternalBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="testMappingInternalRequestMsg">
    <wsdl:part element="tns:testMappingInternal" name="testMappingInternalParameters"/>
  </wsdl:message>
    <wsdl:message name="testMappingInternalResponseMsg">
    <wsdl:part element="tns:testMappingInternalResponse" name="testMappingInternalResult"/>
  </wsdl:message>
    <wsdl:portType name="TESTMappingDatatypesInternal">
    <wsdl:operation name="testMappingInternal">
      <wsdl:input message="tns:testMappingInternalRequestMsg" name="testMappingInternalRequest"/>
      <wsdl:output message="tns:testMappingInternalResponseMsg" name="testMappingInternalResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>