int/stelvio-mapping-datatypes/stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypes.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="TESTMappingDatatypes" targetNamespace="http://stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypes" xmlns:bons1="http://stelvio-test-mappingdatatypes/no/nav/bo" xmlns:tns="http://stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://stelvio-test-mappingdatatypes/no/nav/inf/TESTMappingDatatypes">
      <xsd:import namespace="http://stelvio-test-mappingdatatypes/no/nav/bo" schemaLocation="../bo/TestMappingBO.xsd"/>
      <xsd:element name="testMapping">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="testMappingRequest" nillable="true" type="bons1:TestMappingBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testMappingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="testMappingResponse" nillable="true" type="bons1:TestMappingBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="testMappingRequestMsg">
    <wsdl:part element="tns:testMapping" name="testMappingParameters"/>
  </wsdl:message>
    <wsdl:message name="testMappingResponseMsg">
    <wsdl:part element="tns:testMappingResponse" name="testMappingResult"/>
  </wsdl:message>
    <wsdl:portType name="TESTMappingDatatypes">
    <wsdl:operation name="testMapping">
      <wsdl:input message="tns:testMappingRequestMsg" name="testMappingRequest"/>
      <wsdl:output message="tns:testMappingResponseMsg" name="testMappingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>