incubator/nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person/Fodselsdatosok.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Fodselsdatosok">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsdato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kjonn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="navEnhet" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>