incubator/nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person/Kontonummersok.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-person-tjenestespesifikasjon/no/nav/virksomhet/tjenester/person" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Kontonummersok">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontoType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontonummer" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>