incubator/nav-int-testproc/nav-bproc-pen-testProc/no/nav/inf/AsynkPensjonssak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/inf/Pensjonssak" xmlns:bons2="http://nav-lib-test/no/nav/lib/test/gbo" xmlns:bons3="http://nav-lib-test/no/nav/lib/test/fault" xmlns:tns="http://nav-bproc-pen-testproc/no/nav/inf/AsynkPensjonssak" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pensjonssak" targetNamespace="http://nav-bproc-pen-testproc/no/nav/inf/AsynkPensjonssak">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-lib-test/no/nav/lib/test/fault" xmlns:bons1="http://nav-bproc-pen-testproc/no/nav/inf/AsynkPensjonssak" xmlns:tns="http://nav-lib-pen/no/nav/lib/pen/inf/Pensjonssak" targetNamespace="http://nav-bproc-pen-testproc/no/nav/inf/AsynkPensjonssak" xmlns:bons2="http://nav-lib-test/no/nav/lib/test/gbo" xmlns:bons3="http://nav-lib-test/no/nav/lib/test/fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/fault" schemaLocation="../lib/test/fault/FaultKravIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOPensjonssak.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOHentPensjonssakRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOPensjonssakListe.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOHentPensjonssakListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOKontrollpunktListe.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/fault" schemaLocation="../lib/test/fault/FaultSakIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-test/no/nav/lib/test/gbo" schemaLocation="../lib/test/gbo/GBOKontrollpunkt.xsd"/>
      <xsd:element name="opprettKontrollpunkt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettKontrollpunktRequest" nillable="true" type="bons2:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettKontrollpunktResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettKontrollpunktResponse" nillable="true" type="bons2:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettKontrollpunkt_faultSakIkkeFunnet" type="bons0:FaultSakIkkeFunnet"/>           
            <xsd:element name="hentKontrollpunktListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontrollpunktListeRequest" nillable="true" type="bons2:GBOKontrollpunkt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentKontrollpunktListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontrollpunktListeResponse" nillable="true" type="bons2:GBOKontrollpunktListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentKontrollpunktListe_faultSakIkkeFunnet" type="bons0:FaultSakIkkeFunnet"/>
            <xsd:element name="hentPensjonssakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakListeRequest" nillable="true" type="bons2:GBOHentPensjonssakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakListeResponse" nillable="true" type="bons2:GBOPensjonssakListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakRequest" nillable="true" type="bons2:GBOHentPensjonssakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPensjonssakResponse" nillable="true" type="bons2:GBOPensjonssak"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPensjonssak_faultSakIkkeFunnet" type="bons0:FaultSakIkkeFunnet"/>
            <xsd:element name="hentPensjonssak_faultKravIkkeFunnet" type="bons0:FaultKravIkkeFunnet"/>           
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="opprettKontrollpunktRequestMsg">
    <wsdl:part element="tns:opprettKontrollpunkt" name="opprettKontrollpunktParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettKontrollpunktResponseMsg">
    <wsdl:part element="tns:opprettKontrollpunktResponse" name="opprettKontrollpunktResult"/>
  </wsdl:message>
    <wsdl:message name="hentKontrollpunktListeRequestMsg">
    <wsdl:part element="tns:hentKontrollpunktListe" name="hentKontrollpunktListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentKontrollpunktListeResponseMsg">
    <wsdl:part element="tns:hentKontrollpunktListeResponse" name="hentKontrollpunktListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakListeRequestMsg">
    <wsdl:part element="tns:hentPensjonssakListe" name="hentPensjonssakListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakListeResponseMsg">
    <wsdl:part element="tns:hentPensjonssakListeResponse" name="hentPensjonssakListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakRequestMsg">
    <wsdl:part element="tns:hentPensjonssak" name="hentPensjonssakParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssakResponseMsg">
    <wsdl:part element="tns:hentPensjonssakResponse" name="hentPensjonssakResult"/>
  </wsdl:message>
    <wsdl:message name="hentPensjonssak_faultSakIkkeFunnetMsg">
    <wsdl:part element="tns:opprettKontrollpunkt_faultSakIkkeFunnet" name="faultSakIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="AsynkPensjonssak">
    <wsdl:operation name="opprettKontrollpunkt">
      <wsdl:input message="tns:opprettKontrollpunktRequestMsg" name="opprettKontrollpunktRequest"/>
      <wsdl:output message="tns:opprettKontrollpunktResponseMsg" name="opprettKontrollpunktResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hentKontrollpunktListe">
      <wsdl:input message="tns:hentKontrollpunktListeRequestMsg" name="hentKontrollpunktListeRequest"/>
      <wsdl:output message="tns:hentKontrollpunktListeResponseMsg" name="hentKontrollpunktListeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hentPensjonssakListe">
      <wsdl:input message="tns:hentPensjonssakListeRequestMsg" name="hentPensjonssakListeRequest"/>
      <wsdl:output message="tns:hentPensjonssakListeResponseMsg" name="hentPensjonssakListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentPensjonssak">
      <wsdl:input message="tns:hentPensjonssakRequestMsg" name="hentPensjonssakRequest"/>
      <wsdl:output message="tns:hentPensjonssakResponseMsg" name="hentPensjonssakResponse"/>
            <wsdl:fault message="tns:hentPensjonssak_faultSakIkkeFunnetMsg" name="faultSakIkkeFunnet"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
