incubator/ytelse-PPEN015/pensjon-prosess-iverksettVedtakYtelsestest/nav-opptjening-tjeneste_OpptjeningWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OpptjeningWSEXP_OpptjeningHttp_Service" targetNamespace="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding" xmlns:Port_0="http://nav.no/virksomhet/tjenester/opptjening/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import location="virksomhet/tjenester/opptjening/opptjening.wsdl" namespace="http://nav.no/virksomhet/tjenester/opptjening/v1"/>
  <wsdl:binding name="OpptjeningWSEXP_OpptjeningHttpBinding"
  	type="Port_0:Opptjening">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="hentBeholdningListe">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentBeholdningListe" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="hentBeholdningListeFault">

  			<soap:fault use="literal" name="hentBeholdningListeFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="hentInntektListe">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentInntektListe" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="hentInntektListeFault">

  			<soap:fault use="literal" name="hentInntektListeFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="hentOpptjeningsgrunnlag">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentOpptjeningsgrunnlag" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="hentOpptjeningsgrunnlagFault">

  			<soap:fault use="literal"
  				name="hentOpptjeningsgrunnlagFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="hentPensjonspoengListe">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentPensjonspoengListe" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="hentPensjonspoengListeFault">

  			<soap:fault use="literal"
  				name="hentPensjonspoengListeFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="hentRestpensjonListe">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentRestpensjonListe" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="lagreDagpenger">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreDagpenger" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="lagreDagpengerFault">

  			<soap:fault use="literal" name="lagreDagpengerFault" />
  		</wsdl:fault>
  		<wsdl:fault name="lagreDagpengerFault1">

  			<soap:fault use="literal" name="lagreDagpengerFault1" />
  		</wsdl:fault>
  		<wsdl:fault name="lagreDagpengerFault2">

  			<soap:fault use="literal" name="lagreDagpengerFault2" />
  		</wsdl:fault>
  		<wsdl:fault name="lagreDagpengerFault3">

  			<soap:fault use="literal" name="lagreDagpengerFault3" />
  		</wsdl:fault>
  		<wsdl:fault name="lagreDagpengerFault4">

  			<soap:fault use="literal" name="lagreDagpengerFault4" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="lagreForstegangstjeneste">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreForstegangstjeneste" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="lagreForstegangstjenesteFault">

  			<soap:fault use="literal"
  				name="lagreForstegangstjenesteFault" />
  		</wsdl:fault>
  		<wsdl:fault name="lagreForstegangstjenesteFault1">

  			<soap:fault use="literal"
  				name="lagreForstegangstjenesteFault1" />
  		</wsdl:fault>
  		<wsdl:fault name="lagreForstegangstjenesteFault2">

  			<soap:fault use="literal"
  				name="lagreForstegangstjenesteFault2" />
  		</wsdl:fault>
  		<wsdl:fault name="lagreForstegangstjenesteFault3">

  			<soap:fault use="literal"
  				name="lagreForstegangstjenesteFault3" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="lagreInntekt">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreInntekt" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="lagreInntektFault">

  			<soap:fault use="literal" name="lagreInntektFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="lagreOmsorgBolk">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreOmsorgBolk" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="lagreOmsorgBolkFault">

  			<soap:fault use="literal" name="lagreOmsorgBolkFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="overforOmsorgBolk">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/overforOmsorgBolk" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="overforOmsorgBolkFault">

  			<soap:fault use="literal" name="overforOmsorgBolkFault" />
  		</wsdl:fault>
  		<wsdl:fault name="overforOmsorgBolkFault1">

  			<soap:fault use="literal" name="overforOmsorgBolkFault1" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="slettInntekt">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettInntekt" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="slettInntektFault">

  			<soap:fault use="literal" name="slettInntektFault" />
  		</wsdl:fault>
  		<wsdl:fault name="slettInntektFault1">

  			<soap:fault use="literal" name="slettInntektFault1" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="slettDagpenger">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettDagpenger" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="slettDagpengerFault">

  			<soap:fault use="literal" name="slettDagpengerFault" />
  		</wsdl:fault>
  		<wsdl:fault name="slettDagpengerFault1">

  			<soap:fault use="literal" name="slettDagpengerFault1" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="slettForstegangstjeneste">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettForstegangstjeneste" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="slettForstegangstjenesteFault">

  			<soap:fault use="literal"
  				name="slettForstegangstjenesteFault" />
  		</wsdl:fault>
  		<wsdl:fault name="slettForstegangstjenesteFault1">

  			<soap:fault use="literal"
  				name="slettForstegangstjenesteFault1" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="slettOmsorg">

  		<soap:operation
  			soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettOmsorg" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="slettOmsorgFault">

  			<soap:fault use="literal" name="slettOmsorgFault" />
  		</wsdl:fault>
  		<wsdl:fault name="slettOmsorgFault1">

  			<soap:fault use="literal" name="slettOmsorgFault1" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpptjeningWSEXP_OpptjeningHttpService">
    <wsdl:port binding="this:OpptjeningWSEXP_OpptjeningHttpBinding" name="OpptjeningWSEXP_OpptjeningHttpPort">
      <soap:address location="http://localhost:9080/nav-opptjening-tjenesteWeb/sca/OpptjeningWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>