incubator/ytelse-PPEN015/pensjon-prosess-iverksettVedtakYtelsestest/pensjon-tjeneste-beregning_BeregningWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="BeregningWSEXP_BeregningHttp_Service" targetNamespace="http://nav.no/domene/pensjon/tjenester/beregning/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav.no/domene/pensjon/tjenester/beregning/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import location="domene/pensjon/tjenester/beregning/beregning.wsdl" namespace="http://nav.no/domene/pensjon/tjenester/beregning/v1"/>
  <wsdl:binding name="BeregningWSEXP_BeregningHttpBinding" type="this:Beregning">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="beregnAFPPrivat">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="beregningsmotorKanIkkeValidereInput">
        <soap:fault name="beregningsmotorKanIkkeValidereInput" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="beregningsmotorKanIkkeBeregneInput">
        <soap:fault name="beregningsmotorKanIkkeBeregneInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="beregnAlderspensjon2016">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="beregningsmotorKanIkkeValidereInput">
        <soap:fault name="beregningsmotorKanIkkeValidereInput" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="beregningsmotorKanIkkeBeregneInput">
        <soap:fault name="beregningsmotorKanIkkeBeregneInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="beregnAlderspensjon2025">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="beregningsmotorKanIkkeBeregneInput">
        <soap:fault name="beregningsmotorKanIkkeBeregneInput" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="beregningsmotorKanIkkeValidereInput">
        <soap:fault name="beregningsmotorKanIkkeValidereInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="beregnAlderspensjonGammelOpptjening">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="beregningsmotorKanIkkeValidereInput">
        <soap:fault name="beregningsmotorKanIkkeValidereInput" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="beregningsmotorKanIkkeBeregneInput">
        <soap:fault name="beregningsmotorKanIkkeBeregneInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="beregnSammenstotstilfeller">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="beregningsmotorKanIkkeValidereInput">
        <soap:fault name="beregningsmotorKanIkkeValidereInput" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="beregningsmotorKanIkkeBeregneInput">
        <soap:fault name="beregningsmotorKanIkkeBeregneInput" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="forberedBeregning">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BeregningWSEXP_BeregningHttpService">
    <wsdl:port binding="this:BeregningWSEXP_BeregningHttpBinding" name="BeregningWSEXP_BeregningHttpPort">
      <soap:address location="http://localhost:9080/pensjon-tjeneste-beregningWeb/sca/BeregningWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>