incubator/ytelse-PPEN015/pensjon-prosess-iverksettVedtakYtelsestest/pensjon-tjeneste-sak_SakWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SakWSEXP_SakHttp_Service" targetNamespace="http://nav.no/domene/pensjon/tjenester/sak/v1/Binding" xmlns:Port_0="http://nav.no/domene/pensjon/tjenester/sak/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav.no/domene/pensjon/tjenester/sak/v1/Binding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import location="domene/pensjon/tjenester/sak/sak.wsdl" namespace="http://nav.no/domene/pensjon/tjenester/sak/v1"/>
  <wsdl:binding name="SakWSEXP_SakHttpBinding" type="Port_0:Sak">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="annulerDodsmelding">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentBatchBrevdata">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentSak">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="sakIkkeFunnet">
        <soap:fault name="sakIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentSakListe">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="oppdaterDodsdato">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opprettSak">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SakWSEXP_SakHttpService">
    <wsdl:port binding="this:SakWSEXP_SakHttpBinding" name="SakWSEXP_SakHttpPort">
      <soap:address location="http://localhost:9080/pensjon-tjeneste-sakWeb/sca/SakWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>