incubator/ytelse-PPEN015/pensjon-prosess-iverksettVedtakYtelsestest/pensjon-tjeneste-vedtak_VedtakWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="VedtakWSEXP_VedtakHttp_Service" targetNamespace="http://nav.no/domene/pensjon/tjenester/vedtak/v1/Binding" xmlns:Port_0="http://nav.no/domene/pensjon/tjenester/vedtak/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav.no/domene/pensjon/tjenester/vedtak/v1/Binding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import location="domene/pensjon/tjenester/vedtak/vedtak.wsdl" namespace="http://nav.no/domene/pensjon/tjenester/vedtak/v1"/>
  <wsdl:binding name="VedtakWSEXP_VedtakHttpBinding" type="Port_0:Vedtak">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentBrevKode">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ingeBrevFunnet">
        <soap:fault name="ingeBrevFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="flereBrevFunnet">
        <soap:fault name="flereBrevFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="behandleBerorteSaker">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnPengemottakerOgLagreAutoBrev">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="registrertMerEnnEnPengemottaker">
        <soap:fault name="registrertMerEnnEnPengemottaker" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVedtak">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentVedtakListe">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnet">
        <soap:fault name="personIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="klargjorForIverksetting">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="personIkkeFunnetIPopp">
        <soap:fault name="personIkkeFunnetIPopp" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="oppdragErUtilgjengelig">
        <soap:fault name="oppdragErUtilgjengelig" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="oppdragFeilet">
        <soap:fault name="oppdragFeilet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="settTilIverksettelsesdato">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreVedtakStatus">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="toFolketrygdPensjonerKanIkkeLopeSamtidig">
        <soap:fault name="toFolketrygdPensjonerKanIkkeLopeSamtidig" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="afpPrivatErIkkeInnvilget">
        <soap:fault name="afpPrivatErIkkeInnvilget" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="iverksattVedtakIKonflikt">
        <soap:fault name="iverksattVedtakIKonflikt" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="innvilgAlleVilkarsvedtakForVedtak">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opphorYtelse">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="kravIkkeTillattOpprett">
        <soap:fault name="kravIkkeTillattOpprett" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sjekkOmBrukerHarLopendeAfpVedtak">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validerVilkarsproving">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="vilkarsprovYtelse2011">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="vurderVilkar">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="vedtakMaskineltBehandlet">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VedtakWSEXP_VedtakHttpService">
    <wsdl:port binding="this:VedtakWSEXP_VedtakHttpBinding" name="VedtakWSEXP_VedtakHttpPort">
      <soap:address location="http://localhost:9080/pensjon-tjeneste-vedtakWeb/sca/VedtakWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>