incubator/ytelse-PPEN015/pensjon-prosess-iverksettVedtakYtelsestest/pensjon-tjeneste-krav_KravWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="KravWSEXP_KravHttp_Service" targetNamespace="http://nav.no/domene/pensjon/tjenester/krav/v1/Binding" xmlns:Port_0="http://nav.no/domene/pensjon/tjenester/krav/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav.no/domene/pensjon/tjenester/krav/v1/Binding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import location="domene/pensjon/tjenester/krav/krav.wsdl" namespace="http://nav.no/domene/pensjon/tjenester/krav/v1"/>
  <wsdl:binding name="KravWSEXP_KravHttpBinding" type="Port_0:Krav">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentKontrollpunktListe">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opprettKontrollpunkt">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="henleggKrav">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentKravForRelatertPerson">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="overforKravTilManuellBehandling">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentKrav">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentKravListe">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="kontrollerInstitusjonsopphold">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="kanIkkeKontrollereInstOpphold">
        <soap:fault name="kanIkkeKontrollereInstOpphold" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="kontrollerKravOgKompletterGrunnlag">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="kontrollerUtlandsopphold">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="kanIkkeKontrollereUtlandsopphold">
        <soap:fault name="kanIkkeKontrollereUtlandsopphold" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="settBehandlingstype">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KravWSEXP_KravHttpService">
    <wsdl:port binding="this:KravWSEXP_KravHttpBinding" name="KravWSEXP_KravHttpPort">
      <soap:address location="http://localhost:9080/pensjon-tjeneste-kravWeb/sca/KravWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>