incubator/ytelse-PPEN015/pensjon-prosess-iverksettVedtakYtelsestest/pensjon-tjeneste-grunnlag_GrunnlagWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="GrunnlagWSEXP_GrunnlagHttp_Service" targetNamespace="http://nav.no/domene/pensjon/tjenester/grunnlag/v1/Binding" xmlns:Port_0="http://nav.no/domene/pensjon/tjenester/grunnlag/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav.no/domene/pensjon/tjenester/grunnlag/v1/Binding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import location="domene/pensjon/tjenester/grunnlag/grunnlag.wsdl" namespace="http://nav.no/domene/pensjon/tjenester/grunnlag/v1"/>
  <wsdl:binding name="GrunnlagWSEXP_GrunnlagHttpBinding" type="Port_0:Grunnlag">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentOmsorgGodskrGrunnlag">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ikkeGodskrevetOmsorgsPoeng">
        <soap:fault name="ikkeGodskrevetOmsorgsPoeng" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentOmsorgOverfGrunnlag">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentPersongrunnlagListe">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="kopierBeholdningerMedGrunnlag">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="kopierFamilieforholdForBruker">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="kopierGrunnlagForKrav">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagrePersongrunnlagListe">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fodselsnummerIPersongrunnlagAlleredeBruktIAnnetPersongrunnlag">
        <soap:fault name="fodselsnummerIPersongrunnlagAlleredeBruktIAnnetPersongrunnlag" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreVurdertSivilstandListeOgVurderEndring">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="generiskFeil">
        <soap:fault name="generiskFeil" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GrunnlagWSEXP_GrunnlagHttpService">
    <wsdl:port binding="this:GrunnlagWSEXP_GrunnlagHttpBinding" name="GrunnlagWSEXP_GrunnlagHttpPort">
      <soap:address location="http://localhost:9080/pensjon-tjeneste-grunnlagWeb/sca/GrunnlagWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>