incubator/IverksettVedtak/nav-bproc-test-ppen015/no/nav/bpel/iverksettVedtakBPELArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/" xmlns:ns="http://nav-lib-sto/no/nav/lib/sto/inf/Samordning" xmlns:ns0="http://nav-bproc-test-ppen015/no/nav/inf/IverksettVedtakTest" xmlns:ns11="http://nav-bproc-pen-ppen015-1.3.1/no/nav/inf/KravAsync" xmlns:ns12="http://nav-bproc-pen-ppen015/no/nav/inf/BeregningAsync" xmlns:ns13="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppgaveAsync" xmlns:ns14="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppdragOnlineAsync" xmlns:ns15="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/FullmaktAsync" xmlns:ns7="http://nav-bproc-pen-ppen015/no/nav/inf/OpptjeningAsync" xmlns:ns8="http://nav-bproc-pen-ppen015/no/nav/inf/SamordningAsync" xmlns:ns9="http://nav-bproc-pen-ppen015/no/nav/inf/BrevbestillingAsync" xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" xmlns:tns="http://nav-bproc-pen-ppen015/nav-bproc-pen-ppen015/iverksettVedtakBPELArtifacts" xmlns:wsdl0="http://nav-lib-pen/no/nav/lib/pen/inf/IverksettVedtak" xmlns:wsdl4="http://nav-bproc-pen-ppen015/no/nav/inf/PensjonssakAsync" xmlns:wsdl5="http://nav-bproc-pen-ppen015/no/nav/inf/GrunnlagAsync" xmlns:wsdl6="http://nav-bproc-pen-ppen015/no/nav/inf/VedtakAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="iverksettVedtakBPEL" targetNamespace="http://nav-bproc-pen-ppen015/nav-bproc-pen-ppen015/iverksettVedtakBPELArtifacts">
  <plnk:partnerLinkType name="IverksettVedtakPLT">
    <plnk:role name="IverksettVedtakRole">
      <plnk:portType name="ns0:IverksettVedtakTest"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="PartnerPLT">
    <plnk:role name="partnerRole">
      <plnk:portType name="ns8:SamordningAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <bpws:property name="vedtaksId" type="xsd:string"/>
    <bpws:propertyAlias messageType="ns:opprettVedtakSamordningRequestMsg" part="opprettVedtakSamordningParameters" propertyName="tns:vedtaksId">
        <bpws:query><![CDATA[/opprettVedtakSamordningRequest/vedtakId]]></bpws:query>
    </bpws:propertyAlias>
    <plnk:partnerLinkType name="PartnerPLT1">
    <plnk:role name="partnerRole">
      <plnk:portType name="ns0:IverksettVedtakTest"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <bpws:propertyAlias messageType="mottaSamhandlerSvarRequestMsg" part="mottaSamhandlerSvarParameters" propertyName="tns:vedtaksId">
        <bpws:query><![CDATA[/mottaSamhandler/vedtaksId]]></bpws:query>
    </bpws:propertyAlias>
    <bpws:propertyAlias messageType="samordningFerdigRequestMsg" part="samordningFerdigParameters" propertyName="tns:vedtaksId">
        <bpws:query><![CDATA[/samordningFerdig/vedtaksId]]></bpws:query>
    </bpws:propertyAlias>
    <plnk:partnerLinkType name="PartnerPLT2">
    <plnk:role name="partnerRole">
      <plnk:portType name="ns14:OppdragOnlineAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <bpws:propertyAlias messageType="invokeIverksettVedtakRequestMsg" part="invokeIverksettVedtakParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/iverksettVedtakRequest/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <plnk:partnerLinkType name="PartnerPLT3">
    <plnk:role name="partnerRole">
      <plnk:portType name="ns13:OppgaveAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="PartnerPLT6">
    <plnk:role name="Reference">
      <plnk:portType name="ns12:BeregningAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="PartnerPLT7">
    <plnk:role name="Reference">
      <plnk:portType name="ns7:OpptjeningAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="BrevbestillingAsyncPartnerPLT">
    <plnk:role name="Reference">
      <plnk:portType name="ns9:BrevbestillingAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="FullmaktPartnerPLT">
    <plnk:role name="Reference">
      <plnk:portType name="ns15:FullmaktAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="PensjonssakAsyncPLT">
    <plnk:role name="Interface">
      <plnk:portType name="wsdl4:PensjonssakAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="GrunnlagAsyncPLT">
    <plnk:role name="Interface">
      <plnk:portType name="wsdl5:GrunnlagAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="VedtakAsyncPLT">
    <plnk:role name="Interface">
      <plnk:portType name="wsdl6:VedtakAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="KravAsyncPartnerPLT">
    <plnk:role name="Reference">
      <plnk:portType name="ns11:KravAsync"/>
    </plnk:role>
  </plnk:partnerLinkType>
    <bpws:propertyAlias messageType="mottaOSKvitteringRequestMsg" part="mottaOSKvitteringParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/mottaOSKvitteringRequest/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <bpws:propertyAlias messageType="positivOSKvitteringMottattRequestMsg" part="positivOSKvitteringMottattParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/positivOSKvitteringMottattRequest/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <bpws:propertyAlias messageType="ns0:invokeIverksettVedtakRequestMsg" part="invokeIverksettVedtakParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/iverksettVedtakRequest/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <bpws:propertyAlias messageType="ns0:mottaSamhandlerSvarRequestMsg" part="mottaSamhandlerSvarParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/mottaSamhandler/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <bpws:propertyAlias messageType="ns0:samordningFerdigRequestMsg" part="samordningFerdigParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/samordningFerdig/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <bpws:propertyAlias messageType="ns0:mottaOSKvitteringRequestMsg" part="mottaOSKvitteringParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/mottaOSKvitteringRequest/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <bpws:propertyAlias messageType="ns0:positivOSKvitteringMottattRequestMsg" part="positivOSKvitteringMottattParameters" propertyName="tns:vedtaksId">
    <bpws:query><![CDATA[/positivOSKvitteringMottattRequest/vedtaksId]]></bpws:query>
  </bpws:propertyAlias>
    <import location="../inf/IverksettVedtakTest.wsdl" namespace="http://nav-bproc-test-ppen015/no/nav/inf/IverksettVedtakTest"/>
    <import location="../inf/SamordningAsync.wsdl" namespace="http://nav-bproc-pen-ppen015/no/nav/inf/SamordningAsync"/>
    <import location="../lib/sto/inf/Samordning.wsdl" namespace="http://nav-lib-sto/no/nav/lib/sto/inf/Samordning"/>
    <import location="../inf/OppdragOnlineAsync.wsdl" namespace="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppdragOnlineAsync"/>
    <import location="../inf/OppgaveAsync.wsdl" namespace="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppgaveAsync"/>
    <import location="../inf/BeregningAsync.wsdl" namespace="http://nav-bproc-pen-ppen015/no/nav/inf/BeregningAsync"/>
    <import location="../inf/OpptjeningAsync.wsdl" namespace="http://nav-bproc-pen-ppen015/no/nav/inf/OpptjeningAsync"/>
    <import location="../inf/BrevbestillingAsync.wsdl" namespace="http://nav-bproc-pen-ppen015/no/nav/inf/BrevbestillingAsync"/>
    <import location="../inf/FullmaktAsync.wsdl" namespace="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/FullmaktAsync"/>
    <import location="../inf/PensjonssakAsync.wsdl" namespace="http://nav-bproc-pen-ppen015/no/nav/inf/PensjonssakAsync"/>
    <import location="../inf/GrunnlagAsync.wsdl" namespace="http://nav-bproc-pen-ppen015/no/nav/inf/GrunnlagAsync"/>
    <import location="../inf/VedtakAsync.wsdl" namespace="http://nav-bproc-pen-ppen015/no/nav/inf/VedtakAsync"/>
    <import location="../inf/KravAsync.wsdl" namespace="http://nav-bproc-pen-ppen015-1.3.1/no/nav/inf/KravAsync"/>
</definitions>
