int/stelvio-commons-lib/stelvio-commons-lib/no/stelvio/common/systemavailability/OperationAvailabilityRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://stelvio-commons-lib/no/stelvio/common/systemavailability">
  <xsd:complexType name="OperationAvailabilityRecord">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="OperationName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Unavailable" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Reason" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Stubbed" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="RecordStubData" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
