int/maven/plugins/maven-wsdl-plugin/src/test/resources/wsdl/no/nav/inf/EchoService-versionedNamespace.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons2="http://poc-lib1-versionedNamespace/no/nav/gbo/v1" xmlns:tns="http://poc-module/no/nav/inf/EchoService1/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EchoService1" targetNamespace="http://poc-module/no/nav/inf/EchoService1/v1">
    <wsdl:types>
    <xsd:schema targetNamespace="http://poc-module/no/nav/inf/EchoService1/v1" xmlns:bons2="http://poc-lib1-versionedNamespace/no/nav/gbo/v1" xmlns:tns="http://poc-module/no/nav/inf/EchoService1/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://poc-lib1-versionedNamespace/no/nav/gbo/v1" schemaLocation="../gbo/StringBO-versionedNamespace.xsd"/>
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input" nillable="true" type="bons2:StringBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" nillable="true" type="bons2:StringBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="echoRequestMsg">
    <wsdl:part element="tns:echo" name="echoParameters"/>
  </wsdl:message>
    <wsdl:message name="echoResponseMsg">
    <wsdl:part element="tns:echoResponse" name="echoResult"/>
  </wsdl:message>
    <wsdl:portType name="EchoService1">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequestMsg" name="echoRequest"/>
      <wsdl:output message="tns:echoResponseMsg" name="echoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
