int/stelvio-commons-lib/no/stelvio/common/systemavailability/SystemAvailabilityRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://stelvio-commons-lib/no/stelvio/common/systemavailability"
	targetNamespace="http://stelvio-commons-lib/no/stelvio/common/systemavailability">
	<xsd:include schemaLocation="OperationAvailabilityRecord.xsd" />
	<xsd:complexType name="SystemAvailabilityRecord">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SystemName"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="Operations"
				type="bons1:OperationAvailabilityRecord" maxOccurs="unbounded" />
			<xsd:element minOccurs="0" name="MaxSimultaneousInvocations"
				type="xsd:int">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
