incubator/service-gateway-poc/stelvio-inc-example-stub/no/stelvio/inf/ExamplePortType.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ExamplePortType" targetNamespace="http://www.stelvio.no/example/ExamplePortType" xmlns:tns="http://www.stelvio.no/example/ExamplePortType" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.stelvio.no/example/ExamplePortType">
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="echoRequestMsg">
    <wsdl:part element="tns:echo" name="echoParameters"/>
  </wsdl:message>
    <wsdl:message name="echoResponseMsg">
    <wsdl:part element="tns:echoResponse" name="echoResult"/>
  </wsdl:message>
    <wsdl:portType name="ExamplePortType">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequestMsg" name="echoRequest"/>
      <wsdl:output message="tns:echoResponseMsg" name="echoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>