incubator/stelvio-ejbprovider-systemavailability/ejb/penperson/pensjon/provider/nav/no/changeStampDto.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejb/penperson/pensjon/provider/nav/no" xmlns:tns="http://ejb/penperson/pensjon/provider/nav/no" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="changeStampDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="updatedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="updatedDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>