incubator/nav-int-fault-test/nav-lib-fault-test/GBOTwoWayRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://myLibrary">
	<xsd:complexType name="GBOTwoWayRequest">
		<xsd:sequence>			<xsd:element minOccurs="0" name="scaProducerInput"
				type="xsd:string">
			</xsd:element>			<xsd:element minOccurs="0" name="scaFaultHandlerInput"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
