incubator/nav-int-fault-test/nav-lib-fault-test/ProducerInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://myLibrary" xmlns:tns="http://myLibrary/ProducerInterface" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProducerInterface" targetNamespace="http://myLibrary/ProducerInterface">
    <wsdl:types>
    <xsd:schema targetNamespace="http://myLibrary/ProducerInterface" xmlns:bons1="http://myLibrary" xmlns:tns="http://myLibrary/ProducerInterface" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://myLibrary" schemaLocation="FaultTwoWayFault.xsd"/>
      <xsd:element name="twoWay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="twoWayRequest" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="twoWayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="twoWayResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaultTwoWayFault_element" nillable="true" type="bons1:FaultTwoWayFault"/>
      <xsd:element name="oneWay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="oneWayRequest" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="twoWayRequestMsg">
    <wsdl:part element="tns:twoWay" name="twoWayParameters"/>
  </wsdl:message>
    <wsdl:message name="twoWayResponseMsg">
    <wsdl:part element="tns:twoWayResponse" name="twoWayResult"/>
  </wsdl:message>
    <wsdl:message name="twoWay_twoWayFaultMsg">
    <wsdl:part element="tns:FaultTwoWayFault_element" name="twoWayFault"/>
  </wsdl:message>
    <wsdl:message name="oneWayRequestMsg">
    <wsdl:part element="tns:oneWay" name="oneWayParameters"/>
  </wsdl:message>
    <wsdl:portType name="ProducerInterface">
    <wsdl:operation name="twoWay">
      <wsdl:input message="tns:twoWayRequestMsg" name="twoWayRequest"/>
      <wsdl:output message="tns:twoWayResponseMsg" name="twoWayResponse"/>
      <wsdl:fault message="tns:twoWay_twoWayFaultMsg" name="twoWayFault"/>
    </wsdl:operation>
    <wsdl:operation name="oneWay">
      <wsdl:input message="tns:oneWayRequestMsg" name="oneWayRequest"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
