int/stelvio-jmsprovider-systemavailability/no/nav/inf/SFENoNS.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SFENoNS" targetNamespace="http://nav-lib-frg-sfe/no/nav/inf" xmlns:tns="http://nav-lib-frg-sfe/no/nav/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-frg-sfe/no/nav/inf">
            <xsd:import schemaLocation="../asbo/SFEdataNoNS.xsd"/>
      <xsd:element name="endreSFEData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sfeEndreDataReq" nillable="true" type="sfePersonDataType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="endreSFEDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sfeEndreDataRes" nillable="true" type="sfePersonDataType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="endreSFEDataRequestMsg">
    <wsdl:part element="tns:endreSFEData" name="endreSFEDataParameters"/>
  </wsdl:message>
    <wsdl:message name="endreSFEDataResponseMsg">
    <wsdl:part element="tns:endreSFEDataResponse" name="endreSFEDataResult"/>
  </wsdl:message>
    <wsdl:portType name="SFENoNS">
    <wsdl:operation name="endreSFEData">
      <wsdl:input message="tns:endreSFEDataRequestMsg" name="endreSFEDataRequest"/>
      <wsdl:output message="tns:endreSFEDataResponseMsg" name="endreSFEDataResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>