incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOHentVedtakListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">

	<xsd:complexType name="GBOHentVedtakListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="alleVedtak" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="saksId" type="xsd:string"/>






		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
