incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOHentPensjonssakRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">
	<xsd:complexType name="GBOHentPensjonssakRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="saksId" type="xsd:string" />
			<xsd:element minOccurs="0" name="kravId" type="xsd:string" />
			<xsd:element minOccurs="0" name="triggerSbe"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="triggerSre"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
