incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOHentPensjonssakListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">
  <xsd:complexType name="GBOHentPensjonssakListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enhetId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="saksTypeKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="saksStatusKode" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
