incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOKontrollpunkt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo"
	xmlns:bons2="http://nav-lib-test/no/nav/lib/test/gbo"
	targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">


	<xsd:include schemaLocation="GBOPensjonssak.xsd" />
	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo"
		schemaLocation="../../../gbo/GBOEndringsInfo.xsd">
	</xsd:import>
	<xsd:complexType name="GBOKontrollpunkt">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="kontrollpunktId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kontrollpunktTypeKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kontrollpunktStatusKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kritisk"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="pensjonssak"
				type="bons2:GBOPensjonssak" />

			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons1:GBOEndringsInfo" />
			<xsd:element minOccurs="0" name="triggerSbe"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
