incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOLagreVedtakStatusRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">
  <xsd:complexType name="GBOLagreVedtakStatusRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedtakStatusKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedtakId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="appBrukerId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
