incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOPensjonssak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">

	<xsd:complexType name="GBOPensjonssak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="saksId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="saksTypeKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="saksStatusKode" type="xsd:string"/>

			<xsd:element minOccurs="0" name="inhabil" type="xsd:boolean"/>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
