incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOTestProcRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">
	<xsd:complexType name="GBOTestProcRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="vedtakId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="setDatoBefore"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="triggerSbeHV"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="triggerSreHV"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
