incubator/nav-int-testproc/nav-lib-test/no/nav/lib/test/gbo/GBOVedtak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-test/no/nav/lib/test/gbo">




	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd">
	</xsd:import>
	<xsd:complexType name="GBOVedtak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="vedtakId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="gjelderFnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="virkningFom" type="xsd:string"/>
			<xsd:element minOccurs="0" name="lopendeFom" type="xsd:string"/>
			<xsd:element minOccurs="0" name="lopendeTom" type="xsd:string"/>
			<xsd:element minOccurs="0" name="virkningTom" type="xsd:string"/>
			<xsd:element minOccurs="0" name="vedtaksKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="vedtakstatusKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="saksId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="saksKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ansvarligSaksbehandler" type="xsd:string"/>















			<xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
