int/stelvio-jca-adapters/ADLDAPAdapter/connectorModule/nav/lib/sik/ad/asbo/adNAVAnsatt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sik-ad/no/nav/lib/sik/ad/asbo">
  <xsd:complexType name="adNAVAnsatt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sAMAccountName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="displayName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="givenName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mail" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
