int/stelvio-jca-adapters/ADLDAPAdapter/connectorModule/nav/lib/sik/ad/asbo/adNAVAnsattListe.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sik-ad/no/nav/lib/sik/ad/asbo" xmlns:bons0="http://nav-lib-sik-ad/no/nav/lib/sik/ad/asbo">
    <xsd:include schemaLocation="adNAVAnsatt.xsd"/>
    <xsd:complexType name="adNAVAnsattListe">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ansattListe" type="bons0:adNAVAnsatt">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ikkeFunnetListe" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>