incubator/stelvio-example/stelvio-example-person/stelvio-example-person-lib/no/stelvio/example/person/V1/Name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.stelvio.no/example/person/V1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Name">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="firstName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="middleName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="lastName"
				type="xsd:string">
			</xsd:element>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>