incubator/trace-poc/nav-tjeneste-person-trace/no/nav/asbo/TPSPersonSharedContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-tjeneste-person/no/nav/asbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav.no/virksomhet/tjenester/felles/v1">
	<xsd:import
		schemaLocation="../virksomhet/tjenester/felles/felles.xsd"
		namespace="http://nav.no/virksomhet/tjenester/felles/v1">
	</xsd:import>
	<xsd:import schemaLocation="../lib/frg/tps/asbo/TPSdataNoNS.xsd"></xsd:import>
	<xsd:complexType name="TPSPersonSharedContext">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="person"
				type="PersondataFraTpsS004">
			</xsd:element>
			<xsd:element minOccurs="0" name="personUtland"
				type="PersondataFraTpsS101">
			</xsd:element>
			<xsd:element minOccurs="0" name="fault"
				type="bons0:StelvioFault">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>