int/stelvio-operation-systemavailability/system-availability-config/no/stelvio/fault/FaultBase.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://system-availability-config/no/stelvio/fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="FaultBase">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorSource" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="rootCause" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dateTimeStamp" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>