incubator/stelvio-example/stelvio-example-echo/stelvio-example-echo-service-specification/src/main/wsdl/example/services/echo/echo.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="echo" targetNamespace="http://stelvio.no/example/services/echo/" xmlns:tns="http://stelvio.no/example/services/echo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://stelvio.no/example/services/echo/">
      <xsd:element name="EchoechoRequest1" type="xsd:string"/>
      <xsd:element name="EchoechoResponse1" type="xsd:string"/>
      <xsd:element name="EchoechoFault1" type="xsd:string"/>
      <xsd:element name="EchoechoFault11" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EchoechoRequest">
    <wsdl:part element="tns:EchoechoRequest1" name="input"/>
  </wsdl:message>
  <wsdl:message name="EchoechoResponse">
    <wsdl:part element="tns:EchoechoResponse1" name="output"/>
  </wsdl:message>
  <wsdl:message name="EchoechoFault">
    <wsdl:part element="tns:EchoechoFault1" name="QuackUnsupported"/>
  </wsdl:message>
  <wsdl:message name="EchoechoFault1">
    <wsdl:part element="tns:EchoechoFault11" name="ServiceUnavailable"/>
  </wsdl:message>
  <wsdl:portType name="Echo">
    <wsdl:documentation>&lt;p&gt;Throws back echoes like a wall.&lt;/p&gt;&lt;p&gt;Does not provide any guarantee for echoing "Quack".&lt;/p&gt; </wsdl:documentation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns:EchoechoRequest"/>
      <wsdl:output message="tns:EchoechoResponse"/>
      <wsdl:fault message="tns:EchoechoFault" name="echoFault"/>
      <wsdl:fault message="tns:EchoechoFault1" name="echoFault1"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>