incubator/stelvio-example/stelvio-example-order/stelvio-example-order-soapui/OrderCommandV1/no/stelvio/example/order/V1/OrderLineItemSpecification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="OrderLineItemSpecification">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="productId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="quantity" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>