incubator/stelvio-example/stelvio-example-order/stelvio-example-order-soapui/OrderCommandV1/no/stelvio/example/order/V1/UpdateOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1"
	xmlns:bons0="http://www.stelvio.no/example/order/V1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="OrderLineItemSpecification.xsd" />
	<xsd:complexType name="UpdateOrderRequest">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="orderId"
				type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="1"
				name="orderItem" type="bons0:OrderLineItemSpecification">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>