incubator/trace-poc/nav-tjeneste-person-trace/no/nav/bo/localVariables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-tjeneste-person/no/nav/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-tjeneste-person/no/nav/bo">
	<xsd:include schemaLocation="fnrListe.xsd"></xsd:include>
	<xsd:include schemaLocation="adresse.xsd"></xsd:include>
	<xsd:complexType name="localVariables">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="brukerAdresse"
				type="bons0:adresse">
			</xsd:element>
			<xsd:element minOccurs="0" name="epsAdresse"
				type="bons0:adresse">
			</xsd:element>
			<xsd:element minOccurs="0" name="epsFnrListe"
				type="bons0:fnrListe" maxOccurs="unbounded">
			</xsd:element>


			<xsd:element minOccurs="0" name="brukerFnr"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>