incubator/stelvio-example/stelvio-example-echo/stelvio-example-echo-service-specification/example/services/V1/EchoService/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="EchoService" targetNamespace="http://www.stelvio.no/example/services/V1/EchoService/" xmlns:tns="http://www.stelvio.no/example/services/V1/EchoService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.stelvio.no/example/services/V1/EchoService/">
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoechoFault1" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoFault">
    <wsdl:part element="tns:echoechoFault1" name="echoFault1"/>
  </wsdl:message>
  <wsdl:portType name="EchoService">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest"/>
      <wsdl:output message="tns:echoResponse"/>
      <wsdl:fault message="tns:echoFault" name="echoFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>