incubator/ytelse-PPEN015/nav-bproc-test-ppen015/no/nav/inf/BeregningAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/BeregningAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BeregningAsync" targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/BeregningAsync">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/BeregningAsync" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/BeregningAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../lib/pen/gbo/GBOPersonOpptjeningsgrunnlagListe.xsd"/>
      <xsd:element name="beregnPensjonspoeng">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="beregnPensjonspoengRequest" nillable="true" type="bons1:GBOPersonOpptjeningsgrunnlagListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="beregnPensjonspoengResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="beregnPensjonspoengResponse" nillable="true" type="bons1:GBOPersonOpptjeningsgrunnlagListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="beregnPensjonspoengRequestMsg">
    <wsdl:part element="tns:beregnPensjonspoeng" name="beregnPensjonspoengParameters"/>
  </wsdl:message>
    <wsdl:message name="beregnPensjonspoengResponseMsg">
    <wsdl:part element="tns:beregnPensjonspoengResponse" name="beregnPensjonspoengResult"/>
  </wsdl:message>
    <wsdl:portType name="BeregningAsync">
    <wsdl:operation name="beregnPensjonspoeng">
      <wsdl:input message="tns:beregnPensjonspoengRequestMsg" name="beregnPensjonspoengRequest"/>
      <wsdl:output message="tns:beregnPensjonspoengResponseMsg" name="beregnPensjonspoengResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
