incubator/ytelse-PPEN015/nav-bproc-test-ppen015/no/nav/inf/BrevbestillingAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/BrevbestillingAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrevbestillingAsync" targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/BrevbestillingAsync">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-bproc-pen-ppen015/no/nav/inf/BrevbestillingAsync" xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:tns="http://nav-bproc-pen-ppen015/no/nav/inf/BrevbestillingAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../lib/sah/fault/FaultAdresseIkkeRegistrert.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../lib/sah/gbo/GBOBrevbestillingRequest.xsd"/>
      <xsd:element name="bestillBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillBrevRequest" nillable="true" type="bons2:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillBrevResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultAdresseIkkeRegistrert_element" nillable="true" type="bons1:FaultAdresseIkkeRegistrert"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="bestillBrevRequestMsg">
    <wsdl:part element="tns:bestillBrev" name="bestillBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="bestillBrevResponseMsg">
    <wsdl:part element="tns:bestillBrevResponse" name="bestillBrevResult"/>
  </wsdl:message>
    <wsdl:message name="bestillBrev_faultAdresseIkkeRegistrertMsg">
    <wsdl:part element="tns:FaultAdresseIkkeRegistrert_element" name="faultAdresseIkkeRegistrert"/>
  </wsdl:message>
    <wsdl:portType name="BrevbestillingAsync">
    <wsdl:operation name="bestillBrev">
      <wsdl:input message="tns:bestillBrevRequestMsg" name="bestillBrevRequest"/>
      <wsdl:output message="tns:bestillBrevResponseMsg" name="bestillBrevResponse"/>
            <wsdl:fault message="tns:bestillBrev_faultAdresseIkkeRegistrertMsg" name="faultAdresseIkkeRegistrert"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
