incubator/ytelse-PPEN015/nav-bproc-test-ppen015/no/nav/inf/FullmaktAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-peh/no/nav/lib/peh/gbo" xmlns:tns="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/FullmaktAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FullmaktAsync" targetNamespace="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/FullmaktAsync">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/FullmaktAsync" xmlns:bons1="http://nav-lib-peh/no/nav/lib/peh/gbo" xmlns:tns="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/FullmaktAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://nav-lib-peh/no/nav/lib/peh/gbo" schemaLocation="../lib/peh/gbo/GBOFullmaktListe.xsd"/>
      <xsd:import namespace="http://nav-lib-peh/no/nav/lib/peh/gbo" schemaLocation="../lib/peh/gbo/GBOHentFullmaktListeRequest.xsd"/>
      <xsd:element name="hentFullmaktListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFullmaktListeRequest" nillable="true" type="bons1:GBOHentFullmaktListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentFullmaktListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFullmaktListeResponse" nillable="true" type="bons1:GBOFullmaktListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentFullmaktListeRequestMsg">
    <wsdl:part element="tns:hentFullmaktListe" name="hentFullmaktListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFullmaktListeResponseMsg">
    <wsdl:part element="tns:hentFullmaktListeResponse" name="hentFullmaktListeResult"/>
  </wsdl:message>
    <wsdl:portType name="FullmaktAsync">
    <wsdl:operation name="hentFullmaktListe">
      <wsdl:input message="tns:hentFullmaktListeRequestMsg" name="hentFullmaktListeRequest"/>
      <wsdl:output message="tns:hentFullmaktListeResponseMsg" name="hentFullmaktListeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
