incubator/ytelse-PPEN015/nav-bproc-test-ppen015/no/nav/inf/OppgaveAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo" xmlns:tns="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppgaveAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OppgaveAsync" targetNamespace="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppgaveAsync">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppgaveAsync" xmlns:bons1="http://nav-lib-sak/no/nav/lib/sak/gbo" xmlns:tns="http://nav-bproc-pen-ppen015-1.2.2/no/nav/inf/OppgaveAsync" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../lib/sak/gbo/GBOOppgaveListe.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../lib/sak/gbo/GBOHentOppgaveListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sak/no/nav/lib/sak/gbo" schemaLocation="../lib/sak/gbo/GBOOppgave.xsd"/>
      <xsd:element name="opprettOppgave">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveRequest" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettOppgaveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettOppgaveResponse" nillable="true" type="bons1:GBOOppgave"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveListeRequest" nillable="true" type="bons1:GBOHentOppgaveListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentOppgaveListeResponse" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettOppgaveListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettOppgaveListeRequest" nillable="true" type="bons1:GBOOppgaveListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettOppgaveListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettOppgaveListeResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="opprettOppgaveRequestMsg">
    <wsdl:part element="tns:opprettOppgave" name="opprettOppgaveParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettOppgaveResponseMsg">
    <wsdl:part element="tns:opprettOppgaveResponse" name="opprettOppgaveResult"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveListeRequestMsg">
    <wsdl:part element="tns:hentOppgaveListe" name="hentOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentOppgaveListeResponseMsg">
    <wsdl:part element="tns:hentOppgaveListeResponse" name="hentOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:message name="slettOppgaveListeRequestMsg">
    <wsdl:part element="tns:slettOppgaveListe" name="slettOppgaveListeParameters"/>
  </wsdl:message>
    <wsdl:message name="slettOppgaveListeResponseMsg">
    <wsdl:part element="tns:slettOppgaveListeResponse" name="slettOppgaveListeResult"/>
  </wsdl:message>
    <wsdl:portType name="OppgaveAsync">
    <wsdl:operation name="opprettOppgave">
      <wsdl:input message="tns:opprettOppgaveRequestMsg" name="opprettOppgaveRequest"/>
      <wsdl:output message="tns:opprettOppgaveResponseMsg" name="opprettOppgaveResponse"/>
    </wsdl:operation>
        <wsdl:operation name="hentOppgaveListe">
      <wsdl:input message="tns:hentOppgaveListeRequestMsg" name="hentOppgaveListeRequest"/>
      <wsdl:output message="tns:hentOppgaveListeResponseMsg" name="hentOppgaveListeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="slettOppgaveListe">
      <wsdl:input message="tns:slettOppgaveListeRequestMsg" name="slettOppgaveListeRequest"/>
      <wsdl:output message="tns:slettOppgaveListeResponseMsg" name="slettOppgaveListeResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
