incubator/wid61-libs/nav-lib-frg-medl/no/nav/lib/frg/medl/asbo/medlMedlemskapsunntak.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo" targetNamespace="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo">
    <xsd:include schemaLocation="medlContext.xsd"/>
    <xsd:include schemaLocation="medlGrunnlagListe.xsd"/>
    <xsd:include schemaLocation="medlPeriodeListe.xsd"/>
    <xsd:include schemaLocation="medlUtenlandskIdListe.xsd"/>
    <xsd:complexType name="medlMedlemskapsunntak">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="medlemskapsunntakId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="opprettetAv" type="xsd:string"/>
            <xsd:element minOccurs="0" name="datoOpprettet" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="endretAv" type="xsd:string"/>
            <xsd:element minOccurs="0" name="datoEndret" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="utenlandskeIder" type="bons0:medlUtenlandskIdListe"/>
            <xsd:element minOccurs="0" name="perioder" type="bons0:medlPeriodeListe"/>
            <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
            <xsd:element minOccurs="0" name="medlContext" type="bons0:medlContext"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
