incubator/wid61-libs/nav-lib-frg-medl/no/nav/lib/frg/medl/asbo/medlPeriode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo" targetNamespace="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo">
    <xsd:include schemaLocation="medlGrunnlagListe.xsd"/>
    <xsd:complexType name="medlPeriode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="medlemPeriodeId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="identifiseringsDato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="dekning" type="xsd:string"/>
      <xsd:element minOccurs="0" name="medlemPeriodeType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="land" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kilde" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="soknad" type="xsd:string"/>
      <xsd:element minOccurs="0" name="erGyldig" type="xsd:string"/>
      <xsd:element minOccurs="0" name="opprettetAv" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoOpprettet" type="xsd:date"/>
      <xsd:element minOccurs="0" name="endretAv" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoEndret" type="xsd:date"/>
            <xsd:element minOccurs="0" name="grunnlagene" type="bons0:medlGrunnlagListe"/>
            <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
