incubator/wid61-libs/nav-lib-frg-medl/no/nav/lib/frg/medl/asbo/medlPersonIdentifikator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg-medl/no/nav/lib/frg/medl/asbo">
  <xsd:complexType name="medlPersonIdentifikator">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utenlandskId" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
