int/stelvio-operation-systemavailability/system-availability-config/EnableStubsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://system-availability-config">
	<xsd:complexType name="EnableStubsRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="stubs" type="xsd:string"
				maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="enabled"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
