int/stelvio-operation-systemavailability/system-availability-config/Stubbing.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="Stubbing" targetNamespace="http://system-availability-config/Stubbing" xmlns:bons1="http://system-availability-config" xmlns:tns="http://system-availability-config/Stubbing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://system-availability-config/Stubbing">
            <xsd:import namespace="http://system-availability-config" schemaLocation="EnableStubsResponse.xsd"/>
      <xsd:import namespace="http://system-availability-config" schemaLocation="EnableStubsRequest.xsd"/>
      <xsd:element name="enableStubs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enableStubsRequest" nillable="true" type="bons1:EnableStubsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enableStubsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enableStubsResponse" nillable="true" type="bons1:EnableStubsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="enableStubsAllOperations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enableStubsAllOperations" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="enableStubsAllOperationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="suksess" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="enableRecordingAllOperations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enableRecordingAllOperations" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="enableRecordingAllOperationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="suksess" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="enableStubsRequestMsg">
    <wsdl:part element="tns:enableStubs" name="enableStubsParameters"/>
  </wsdl:message>
    <wsdl:message name="enableStubsResponseMsg">
    <wsdl:part element="tns:enableStubsResponse" name="enableStubsResult"/>
  </wsdl:message>
    <wsdl:message name="enableStubsAllOperationsRequestMsg">
    <wsdl:part element="tns:enableStubsAllOperations" name="enableStubsAllOperationsParameters"/>
  </wsdl:message>
    <wsdl:message name="enableStubsAllOperationsResponseMsg">
    <wsdl:part element="tns:enableStubsAllOperationsResponse" name="enableStubsAllOperationsResult"/>
  </wsdl:message>
    <wsdl:message name="enableRecordingAllOperationsRequestMsg">
    <wsdl:part element="tns:enableRecordingAllOperations" name="enableRecordingAllOperationsParameters"/>
  </wsdl:message>
    <wsdl:message name="enableRecordingAllOperationsResponseMsg">
    <wsdl:part element="tns:enableRecordingAllOperationsResponse" name="enableRecordingAllOperationsResult"/>
  </wsdl:message>
    <wsdl:portType name="Stubbing">
    <wsdl:operation name="enableStubs">
      <wsdl:input message="tns:enableStubsRequestMsg" name="enableStubsRequest"/>
      <wsdl:output message="tns:enableStubsResponseMsg" name="enableStubsResponse"/>
    </wsdl:operation>
        <wsdl:operation name="enableStubsAllOperations">
      <wsdl:input message="tns:enableStubsAllOperationsRequestMsg" name="enableStubsAllOperationsRequest"/>
      <wsdl:output message="tns:enableStubsAllOperationsResponseMsg" name="enableStubsAllOperationsResponse"/>
    </wsdl:operation>
        <wsdl:operation name="enableRecordingAllOperations">
      <wsdl:input message="tns:enableRecordingAllOperationsRequestMsg" name="enableRecordingAllOperationsRequest"/>
      <wsdl:output message="tns:enableRecordingAllOperationsResponseMsg" name="enableRecordingAllOperationsResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>