int/stelvio-operation-systemavailability/system-availability-config/Stubbing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://system-availability-config" xmlns:tns="http://system-availability-config/Stubbing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Stubbing" targetNamespace="http://system-availability-config/Stubbing">
    <wsdl:types>
    <xsd:schema targetNamespace="http://system-availability-config/Stubbing" xmlns:bons1="http://system-availability-config" xmlns:tns="http://system-availability-config/Stubbing" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://system-availability-config" schemaLocation="EnableStubsResponse.xsd"/>
      <xsd:import namespace="http://system-availability-config" schemaLocation="EnableStubsRequest.xsd"/>
      <xsd:element name="enableStubs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enableStubsRequest" nillable="true" type="bons1:EnableStubsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enableStubsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enableStubsResponse" nillable="true" type="bons1:EnableStubsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="enableStubsRequestMsg">
    <wsdl:part element="tns:enableStubs" name="enableStubsParameters"/>
  </wsdl:message>
    <wsdl:message name="enableStubsResponseMsg">
    <wsdl:part element="tns:enableStubsResponse" name="enableStubsResult"/>
  </wsdl:message>
    <wsdl:portType name="Stubbing">
    <wsdl:operation name="enableStubs">
      <wsdl:input message="tns:enableStubsRequestMsg" name="enableStubsRequest"/>
      <wsdl:output message="tns:enableStubsResponseMsg" name="enableStubsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
