int/stelvio-test-responsetime/stelvio-module-responsetime/no/nav/inf/ResponseTimeTest.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ResponseTimeTest" targetNamespace="http://nav-module-responsetime/no/nav/inf/ResponseTimeTest" xmlns:tns="http://nav-module-responsetime/no/nav/inf/ResponseTimeTest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-module-responsetime/no/nav/inf/ResponseTimeTest" xmlns:bons2="http://nav-module-responsetime/no/nav/inf/ResponseTimeTest" xmlns:bons3="http://nav-module-responsetime/no/nav/data">
            <xsd:import namespace="http://nav-module-responsetime/no/nav/data" schemaLocation="../data/measureResponseTimesInput.xsd"/>
      <xsd:element name="measureResponseTimes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="measureResponseTimesInput" nillable="true" type="bons3:measureResponseTimesInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="measureResponseTimesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="measureResponseTimesOutput" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="measureResponseTimesRequestMsg">
    <wsdl:part element="tns:measureResponseTimes" name="measureResponseTimesParameters"/>
  </wsdl:message>
    <wsdl:message name="measureResponseTimesResponseMsg">
    <wsdl:part element="tns:measureResponseTimesResponse" name="measureResponseTimesResult"/>
  </wsdl:message>
    <wsdl:portType name="ResponseTimeTest">
    <wsdl:operation name="measureResponseTimes">
      <wsdl:input message="tns:measureResponseTimesRequestMsg" name="measureResponseTimesRequest"/>
      <wsdl:output message="tns:measureResponseTimesResponseMsg" name="measureResponseTimesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>