incubator/stelvio-example/stelvio-example-order/stelvio-example-order-lib/no/stelvio/example/order/V1/AdditionalOrderLineItemInfo1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1"	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	xmlns:bons0="http://www.stelvio.no/example/order/V1">	<xsd:include schemaLocation="DiscountType.xsd"></xsd:include><xsd:include schemaLocation="AdditionalOrderLineItemInfo2.xsd"></xsd:include>	<xsd:complexType name="AdditionalOrderLineItemInfo1">		<xsd:sequence>			<xsd:element minOccurs="0" name="discount">							<xsd:complexType>				<xsd:simpleContent>					<xsd:extension base="bons0:DiscountType">						<xsd:attribute name="sinceVersion"							type="xsd:string" fixed="1.1" use="required">						</xsd:attribute>					</xsd:extension>				</xsd:simpleContent>			</xsd:complexType></xsd:element>			<xsd:element minOccurs="0" name="additionalInfo"				type="bons0:AdditionalOrderLineItemInfo2">			</xsd:element>		</xsd:sequence>	</xsd:complexType></xsd:schema>