incubator/stelvio-example/stelvio-example-order/stelvio-example-order-lib/no/stelvio/example/order/V1/CreateOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://www.stelvio.no/example/order/V1">
	<xsd:include schemaLocation="OrderLineItemSpecification.xsd"></xsd:include>
	<xsd:complexType name="CreateOrderRequest">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="customerId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="orderLineItem"
				type="bons0:OrderLineItemSpecification" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>