incubator/stelvio-example/stelvio-example-order/stelvio-example-order-lib/no/stelvio/example/order/V1/OrderLineItemSpecification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://www.stelvio.no/example/order/V1">
	<xsd:include schemaLocation="DiscountType.xsd"></xsd:include>
	<xsd:complexType name="OrderLineItemSpecification">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="productId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="quantity" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="discount"
				type="bons0:DiscountType">

			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>