incubator/stelvio-example/stelvio-example-order/stelvio-example-order-lib/no/stelvio/example/order/V1/OrderCommand.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OrderCommand" targetNamespace="http://www.stelvio.no/example/order/V1/OrderCommand" xmlns:bons1="http://www.stelvio.no/example/order/V1" xmlns:tns="http://www.stelvio.no/example/order/V1/OrderCommand" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1/OrderCommand">
            <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="Order.xsd"/>
            <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="UpdateOrderRequest.xsd"/>
            <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="CreateOrderRequest.xsd"/>
            <xsd:element name="createOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createOrderRequest" nillable="true" type="bons1:CreateOrderRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" nillable="true" type="bons1:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelOrderResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="addItemsToOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addItemsToOrderRequest" nillable="true" type="bons1:UpdateOrderRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="addItemsToOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" nillable="true" type="bons1:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="removeItemsFromOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="removeItemsFromOrderRequest" nillable="true" type="bons1:UpdateOrderRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="removeItemsFromOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" nillable="true" type="bons1:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="createOrderRequestMsg">
    <wsdl:part element="tns:createOrder" name="createOrderParameters"/>
  </wsdl:message>
    <wsdl:message name="createOrderResponseMsg">
    <wsdl:part element="tns:createOrderResponse" name="createOrderResult"/>
  </wsdl:message>
    <wsdl:message name="cancelOrderRequestMsg">
    <wsdl:part element="tns:cancelOrder" name="cancelOrderParameters"/>
  </wsdl:message>
    <wsdl:message name="cancelOrderResponseMsg">
    <wsdl:part element="tns:cancelOrderResponse" name="cancelOrderResult"/>
  </wsdl:message>
    <wsdl:message name="addItemsToOrderRequestMsg">
    <wsdl:part element="tns:addItemsToOrder" name="addItemsToOrderParameters"/>
  </wsdl:message>
    <wsdl:message name="addItemsToOrderResponseMsg">
    <wsdl:part element="tns:addItemsToOrderResponse" name="addItemsToOrderResult"/>
  </wsdl:message>
    <wsdl:message name="removeItemsFromOrderRequestMsg">
    <wsdl:part element="tns:removeItemsFromOrder" name="removeItemsFromOrderParameters"/>
  </wsdl:message>
    <wsdl:message name="removeItemsFromOrderResponseMsg">
    <wsdl:part element="tns:removeItemsFromOrderResponse" name="removeItemsFromOrderResult"/>
  </wsdl:message>
    <wsdl:portType name="OrderCommand">
    <wsdl:operation name="createOrder">
      <wsdl:input message="tns:createOrderRequestMsg" name="createOrderRequest"/>
      <wsdl:output message="tns:createOrderResponseMsg" name="createOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <wsdl:input message="tns:cancelOrderRequestMsg" name="cancelOrderRequest"/>
      <wsdl:output message="tns:cancelOrderResponseMsg" name="cancelOrderResponse"/>
    </wsdl:operation>
        <wsdl:operation name="addItemsToOrder">
      <wsdl:input message="tns:addItemsToOrderRequestMsg" name="addItemsToOrderRequest"/>
            <wsdl:output message="tns:addItemsToOrderResponseMsg" name="addItemsToOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeItemsFromOrder">
      <wsdl:input message="tns:removeItemsFromOrderRequestMsg" name="removeItemsFromOrderRequest"/>
      <wsdl:output message="tns:removeItemsFromOrderResponseMsg" name="removeItemsFromOrderResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>