incubator/stelvio-example/stelvio-example-order/stelvio-example-order-lib/no/stelvio/example/order/V1/OrderQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OrderQuery" targetNamespace="http://www.stelvio.no/example/order/V1/OrderQuery" xmlns:bons1="http://www.stelvio.no/example/order/V1" xmlns:tns="http://www.stelvio.no/example/order/V1/OrderQuery" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1/OrderQuery">
      <xsd:import namespace="http://www.stelvio.no/example/order/V1" schemaLocation="Order.xsd"/>
      <xsd:element name="getOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" nillable="true" type="bons1:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="getOrderRequestMsg">
    <wsdl:part element="tns:getOrder" name="getOrderParameters"/>
  </wsdl:message>
    <wsdl:message name="getOrderResponseMsg">
    <wsdl:part element="tns:getOrderResponse" name="getOrderResult"/>
  </wsdl:message>
    <wsdl:portType name="OrderQuery">
    <wsdl:operation name="getOrder">
      <wsdl:input message="tns:getOrderRequestMsg" name="getOrderRequest"/>
      <wsdl:output message="tns:getOrderResponseMsg" name="getOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>