int/maven/plugins/maven-service-registry-updater-plugin/src/test/resources/nav-opptjening-tjeneste-1.1.2-alpha003-wsdlif/nav-opptjening-tjeneste_OpptjeningWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OpptjeningWSEXP_OpptjeningHttp_Service" targetNamespace="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding" xmlns:Port_0="http://nav.no/virksomhet/tjenester/opptjening/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding">
  <wsdl:import namespace="http://nav.no/virksomhet/tjenester/opptjening/v1" location="no/nav/virksomhet/tjenester/opptjening/opptjening.wsdl">
    </wsdl:import>
  <wsdl:binding name="OpptjeningWSEXP_OpptjeningHttpBinding" type="Port_0:Opptjening">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentBeholdningListe">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentBeholdningListe"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentInntektListe">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentInntektListe"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hentOpptjeningsgrunnlag">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentOpptjeningsgrunnlag"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentPensjonspoengListe">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentPensjonspoengListe"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentRestpensjonListe">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentRestpensjonListe"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lagreDagpenger">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreDagpenger"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UgyldigOpptjeningsgrunnlag">
        <soap:fault name="UgyldigOpptjeningsgrunnlag" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke">
        <soap:fault name="OpptjeningEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererAllerede">
        <soap:fault name="OpptjeningEksistererAllerede" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UgyldigDagpenger">
        <soap:fault name="UgyldigDagpenger" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreForstegangstjeneste">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreForstegangstjeneste"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UgyldigOpptjeningsgrunnlag">
        <soap:fault name="UgyldigOpptjeningsgrunnlag" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke">
        <soap:fault name="OpptjeningEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UgyldigForstegangstjeneste">
        <soap:fault name="UgyldigForstegangstjeneste" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreInntekt">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreInntekt"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreOmsorgBolk">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/lagreOmsorgBolk"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="overforOmsorgBolk">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/overforOmsorgBolk"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke">
        <soap:fault name="OpptjeningEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettInntekt">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettInntekt"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke">
        <soap:fault name="OpptjeningEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettDagpenger">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettDagpenger"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke">
        <soap:fault name="OpptjeningEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettForstegangstjeneste">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettForstegangstjeneste"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke">
        <soap:fault name="OpptjeningEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="slettOmsorg">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/slettOmsorg"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OpptjeningEksistererIkke">
        <soap:fault name="OpptjeningEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentOpptjeningsgrunnlagHistorikk">
      <soap:operation soapAction="http://nav.no/virksomhet/tjenester/opptjening/v1/Binding/hentOpptjeningsgrunnlagHistorikk"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PersonEksistererIkke">
        <soap:fault name="PersonEksistererIkke" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpptjeningWSEXP_OpptjeningHttpService">
    <wsdl:port name="OpptjeningWSEXP_OpptjeningHttpPort" binding="this:OpptjeningWSEXP_OpptjeningHttpBinding">
      <soap:address location="http://localhost:9080/nav-opptjening-tjenesteWeb/sca/OpptjeningWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
