int/stelvio-test-responsetime/stelvio-lib-responsetime/ResponseTime.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ResponseTime" targetNamespace="http://nav-lib-responsetime/no/nav/inf/ResponseTime" xmlns:bons0="http://nav-test-reponsetime-provider/no/nav/inf/ResponseTime" xmlns:tns="http://nav-lib-responsetime/no/nav/inf/ResponseTime" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-responsetime/no/nav/inf/ResponseTime" xmlns:bons0="http://nav-lib-responsetime/no/nav/data" xmlns:bons1="http://nav-lib-responsetime/no/nav/inf/ResponseTime">
            <xsd:import namespace="http://nav-lib-responsetime/no/nav/data" schemaLocation="no/nav/data/Listewrapper.xsd"/>
            <xsd:import namespace="http://nav-lib-responsetime/no/nav/data" schemaLocation="no/nav/data/Input.xsd"/>
            <xsd:element name="measureResponsetime">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="measureResponsetimeInput" nillable="true" type="bons0:Input"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="measureResponsetimeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="measureResponsetimeResponse" nillable="true" type="bons0:Input"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="measureResponsetimeList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="measureResponsetimeListRequest" nillable="true" type="bons0:Listewrapper"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="measureResponsetimeListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="measureResponsetimeListResponse" nillable="true" type="bons0:Listewrapper"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="measureResponsetimeRequestMsg">
    <wsdl:part element="tns:measureResponsetime" name="measureResponsetimeParameters"/>
  </wsdl:message>
    <wsdl:message name="measureResponsetimeResponseMsg">
    <wsdl:part element="tns:measureResponsetimeResponse" name="measureResponsetimeResult"/>
  </wsdl:message>
    <wsdl:message name="measureResponsetimeListRequestMsg">
    <wsdl:part element="tns:measureResponsetimeList" name="measureResponsetimeListParameters"/>
  </wsdl:message>
    <wsdl:message name="measureResponsetimeListResponseMsg">
    <wsdl:part element="tns:measureResponsetimeListResponse" name="measureResponsetimeListResult"/>
  </wsdl:message>
    <wsdl:portType name="ResponseTime">
    <wsdl:operation name="measureResponsetime">
      <wsdl:input message="tns:measureResponsetimeRequestMsg" name="measureResponsetimeRequest"/>
      <wsdl:output message="tns:measureResponsetimeResponseMsg" name="measureResponsetimeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="measureResponsetimeList">
      <wsdl:input message="tns:measureResponsetimeListRequestMsg" name="measureResponsetimeListRequest"/>
      <wsdl:output message="tns:measureResponsetimeListResponseMsg" name="measureResponsetimeListResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>