incubator/maven/maven-core-artifacts/xmlbeans/moduleconfig-xmlbeans/src/main/xsd/moduleconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.nav.no/pensjonsprogrammet/wpsconfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" type="wps:configurationType" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
  <xs:complexType name="rolesType">
    <xs:sequence>
      <xs:element type="wps:roleType" name="role" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inboundType">
    <xs:sequence>
      <xs:element type="wps:tokensType" name="tokens" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outboundType">
    <xs:sequence>
      <xs:element type="wps:tokensType" name="tokens" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="wps:securityType" name="security" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:webservicesType" name="webservices" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:runtimeType" name="runtime" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="runasType">
    <xs:sequence>
      <xs:element type="xs:string" name="username"/>
      <xs:element type="xs:string" name="password"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endpointsType">
    <xs:sequence>
      <xs:element type="wps:endpointType" name="endpoint" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element type="wps:userType" name="user" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="runtimeType">
    <xs:sequence>
      <xs:element type="xs:string" name="autostart"/>
      <xs:element type="wps:activationspecificationsType" name="activationspecifications" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authenticationType">
    <xs:sequence>
      <xs:element type="wps:inboundType" name="inbound" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:outboundType" name="outbound" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="activationspecificationsType">
    <xs:sequence>
      <xs:element type="wps:activationspecificationType" name="activationspecification" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="activationspecificationType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:byte" name="maxconcurrency"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tokenType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="username" minOccurs="0"/>
      <xs:element type="xs:string" name="password" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tokensType">
    <xs:sequence>
      <xs:element type="wps:tokenType" name="token" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endpointType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:anyURI" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupsType">
    <xs:sequence>
      <xs:element type="wps:groupType" name="group" maxOccurs="unbounded" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="securityType">
    <xs:sequence>
      <xs:element type="wps:authenticationType" name="authentication" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:authorizationType" name="authorization" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="roleType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="everyone" minOccurs="0"/>
      <xs:element type="xs:string" name="allauthenticated" minOccurs="0"/>
      <xs:element type="wps:usersType" name="users" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:groupsType" name="groups" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
      <xs:element type="wps:runasType" name="runas" minOccurs="0" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorizationType">
    <xs:sequence>
      <xs:element type="wps:rolesType" name="roles" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webservicesType">
    <xs:sequence>
      <xs:element type="wps:endpointsType" name="endpoints" xmlns:wps="http://www.nav.no/pensjonsprogrammet/wpsconfiguration"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>