incubator/stelvio-example/stelvio-example-order/stelvio-example-order-soapui/OrderQueryV1/no/stelvio/example/order/V1/OrderLineItem.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1" xmlns:bons0="http://www.stelvio.no/example/common/V1" xmlns:bons1="http://www.stelvio.no/example/order/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="AdditionalOrderLineItemInfo1.xsd"/>
	<xsd:import namespace="http://www.stelvio.no/example/common/V1" schemaLocation="../../common/V1/Entity.xsd">
	</xsd:import>
	<xsd:complexType name="OrderLineItem">
		<xsd:complexContent>
			<xsd:extension base="bons0:Entity">
				<xsd:sequence>

					<xsd:element minOccurs="0" name="productId" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="quantity" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="additionalInfo" type="bons1:AdditionalOrderLineItemInfo1">
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>