incubator/stelvio-example/stelvio-example-order/stelvio-example-order-soapui/OrderQueryV1/no/stelvio/example/order/V1/Order.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.stelvio.no/example/order/V1" xmlns:bons0="http://www.stelvio.no/example/order/V1" xmlns:bons1="http://www.stelvio.no/example/common/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.stelvio.no/example/common/V1" schemaLocation="../../common/V1/Entity.xsd">
	</xsd:import>
	<xsd:include schemaLocation="AdditionalOrderInfo1.xsd"/>
	<xsd:include schemaLocation="OrderLineItem.xsd"/>
	<xsd:complexType name="Order">
		<xsd:complexContent>
			<xsd:extension base="bons1:Entity">
				<xsd:sequence>

					<xsd:element minOccurs="0" name="customerId" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="orderLineItem" type="bons0:OrderLineItem">
					</xsd:element>
					<xsd:element minOccurs="0" name="additionalInfo" type="bons0:AdditionalOrderInfo1">
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>