int/maven/plugins/maven-service-registry-updater-plugin/src/test/resources/nav-opptjening-tjeneste-1.1.2-alpha003-wsdlif/no/nav/virksomhet/tjenester/opptjening/Meldinger/Meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/opptjening/meldinger/v1" version="1.0" xmlns:felles="http://nav.no/virksomhet/grunnlag/opptjening/felles/v1" xmlns:grunnlag="http://nav.no/virksomhet/grunnlag/opptjening/grunnlag/v1" xmlns:kap19="http://nav.no/virksomhet/grunnlag/opptjening/beregnedeVerdierKap19/v1" xmlns:kap20="http://nav.no/virksomhet/grunnlag/opptjening/beregnedeVerdierKap20/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/opptjening/meldinger/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/virksomhet/grunnlag/opptjening/beregnedeVerdierKap19/v1" schemaLocation="../../../grunnlag/opptjening/BeregnedeVerdierKap19/BeregnedeVerdierKap19.xsd"/>
  <xsd:import namespace="http://nav.no/virksomhet/grunnlag/opptjening/grunnlag/v1" schemaLocation="../../../grunnlag/opptjening/Grunnlag/Grunnlag.xsd"/>
  <xsd:import namespace="http://nav.no/virksomhet/grunnlag/opptjening/felles/v1" schemaLocation="../../../grunnlag/opptjening/Felles/Felles.xsd"/>
  <xsd:import namespace="http://nav.no/virksomhet/grunnlag/opptjening/beregnedeVerdierKap20/v1" schemaLocation="../../../grunnlag/opptjening/BeregnedeVerdierKap20/BeregnedeVerdierKap20.xsd"/>
  <xsd:simpleType name="HentBeholdningListeReturmengde">
    <xsd:annotation>
      <xsd:documentation>Lovlige returmengder for tjenesten HentBeholdningListe</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ENTITY_ONLY">
        <xsd:annotation>
          <xsd:documentation>Returnerer kun Beholdningsobjektet</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="INKL_GRUNNLAG">
        <xsd:annotation>
          <xsd:documentation>Returnerer Beholdning, Opptjeningsbeløp og det spesifikke grunnlaget</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="INKL_OPPTJENINGBELOP">
        <xsd:annotation>
          <xsd:documentation>Returnerer Beholdning og Opptjeningsbeløp</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HentBeholdninglisteTjenestedirektiv">
    <xsd:sequence>
      <xsd:element name="returmengde" type="meldinger:HentBeholdningListeReturmengde"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hentBeholdningListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beholdningType" type="kap20:BeholdningType">
        <xsd:annotation>
          <xsd:documentation>Angir hvilken type beholdning som skal returneres. Dersom parameteren ikke er utfylt ønskes alle beholdningstyper returnert i samme søk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer til brukeren. For fnr som ikke er kjent for registeret vil det returneres en feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fomDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Parameteren brukes til å filtrere på Beholdning.fomDato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tjenestedirektiv" type="meldinger:HentBeholdninglisteTjenestedirektiv">
        <xsd:annotation>
          <xsd:documentation>Parameteren er bare relevant dersom søket innebærer at pensjonsbeholdninger kan være en del av output. Dvs når beholdningsType er satt til enten er tom eller PEN_B (Pensjonsbeholdning).
For lovlige returmengder se HentBeholdningTjenestedirektiv </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tomDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Parameteren brukes til å filtrere på Beholdning.tomDato</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentBeholdningListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hentBeholdningsListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="beholdningListe" type="kap20:Beholdning">
        <xsd:annotation>
          <xsd:documentation>Liste av beholdninger som samsvarer med input-kriteriene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentBeholdningListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hentInntektListeRequest">
    <xsd:sequence>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer til bruker det skal hentes inntekt for. For fnr som ikke er kjent for registeret vil det returneres en feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Fra og med år for inntekt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inntektType" type="grunnlag:InntektType">
        <xsd:annotation>
          <xsd:documentation>Angir hvilken inntektstype som skal returneres. Dersom parameteren ikke er satt, vil inntekt for alle gyldige inntektstyper returneres som er registrert på brukeren.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Til og med år for inntekt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentInntektListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hentInntektListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntektListe" type="grunnlag:Inntekt">
        <xsd:annotation>
          <xsd:documentation>Opptjeningsgrunnlag som inneholder liste over de forskjellige grunnlagstypene avhengig av inputkriterier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentInntektListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hentOpptjeningsgrunnlagRequest">
    <xsd:sequence>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukeren det skal returneres opptjeningsgrunnlag for. For fnr som ikke er kjent for registeret vil det returneres en feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Parameteren brukes til å filtrere på feltet "ar" og ("inntektAr" for Inntekt) på grunnlagene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="grunnlagTypeListe" type="grunnlag:GrunnlagType">
        <xsd:annotation>
          <xsd:documentation>Angir hvilken type grunnlag som skal returneres. Dersom parameteren ikke er utfylt returneres alle grunnlagene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Parameteren brukes til å filtrere på feltet ar og inntektAr på grunnlagene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentOpptjeningsgrunnlagUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hentOpptjeningsgrunnlagResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opptjeningsgrunnlag" type="grunnlag:Opptjeningsgrunnlag">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder liste av grunnlagene for brukeren.

Følgende returneres:
-Opptjeningsgrunnlag
	- Inntekt
	- Omsorg
	- Dagpenger
	- Forstegangstjeneste
		- ForstegangstjenestePeriode </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentOpptjeningsgrunnlagUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hentPensjonspoengListeRequest">
    <xsd:sequence>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukeren (e) det innhentes pensjonspoeng for. For fnr som ikke er kjent for registeret vil det returneres en feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Fra og med år for pensjonspoeng. Filtrerer uttrekket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="poengType" type="kap19:PoengType">
        <xsd:annotation>
          <xsd:documentation>Filtrering på type pensjonspoeng. For lovlige verdier se PoengType i Domenemodellen til Opptjening på ESB</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Til og med år for pensjonspoeng. Filtrerer uttrekket.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentPensjonspoengListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hentPensjonspoengListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="pensjonspoengListe" type="kap19:Pensjonspoeng">
        <xsd:annotation>
          <xsd:documentation>Liste av pensjonspoeng som samsvarer med inputkriteriene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentPensjonspoengListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hentRestpensjonListeRequest">
    <xsd:sequence>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer til brukeren det skal hentes restpensjoner for. For fnr som ikke er kjent for registeret vil det returneres en feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fomDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Parameter for filtrering av fra og med dato for restpensjoner</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hentSiste" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>- Hvis TRUE returneres siste restpensjon
NB! Det tas da ikke hensyn til eventuelle datoer i fomDato og tomDato parametere.

- Hvis FALSE returneres liste av alle restpensjoner der også tomDato og fomDato vil bli tatt hensyn til, hvis satt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tomDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Parameter for filtrering av til og med dato for restpensjoner</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentRestpensjonListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hentRestpensjonListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="restpensjonListe" type="kap19:Restpensjon">
        <xsd:annotation>
          <xsd:documentation>Liste av restpensjoner, med tilhørende Pensjonspoeng og dets Omsorgs- og Inntektsgrunnlag.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentRestpensjonListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lagreDagpengerRequest">
    <xsd:sequence>
      <xsd:element name="dagpenger" type="grunnlag:Dagpenger">
        <xsd:annotation>
          <xsd:documentation>Dagpengerobjekt som inneholder opplysninger om dagpengeperiode for bruker</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lagreForstegangstjenesteRequest">
    <xsd:sequence>
      <xsd:element name="forstegangstjeneste" type="grunnlag:Forstegangstjeneste">
        <xsd:annotation>
          <xsd:documentation>Forstegangstjenesteobjekt som inneholder opptjeningsinformasjon for ett kalenderår inkludert alle avtjeningsperioder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lagreInntektRequest">
    <xsd:sequence>
      <xsd:element name="inntekt" type="grunnlag:Inntekt">
        <xsd:annotation>
          <xsd:documentation>Inntekt som skal opprettes/lagres</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lagreOmsorgBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="omsorgListe" type="grunnlag:Omsorg">
        <xsd:annotation>
          <xsd:documentation>Omsorgsobjekt som skal godskrives eller endres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OverforOmsorg">
    <xsd:annotation>
      <xsd:documentation>Informasjon for å overføre omsorgspoeng
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fnrFra" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer til personen som har utført omsorgsarbeidet.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fnrTil" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer til personen som poeng skal overføres til</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fnrOmsorg" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Fødselsnummer til personen som har blitt forsørget.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ar" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Året omsorgsarbeidet ble utført.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="omsorgType" type="grunnlag:OmsorgType">
        <xsd:annotation>
          <xsd:documentation>Typen til omsorgsgrunnlaget.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="overforOmsorgBolkRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="overforOmsorgListe" type="meldinger:OverforOmsorg"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="slettInntektRequest">
    <xsd:sequence>
      <xsd:element name="inntekt" type="grunnlag:Inntekt">
        <xsd:annotation>
          <xsd:documentation>Id i opptjeningsregisteret på inntekten som skal slettes</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="slettDagpengerRequest">
    <xsd:sequence>
      <xsd:element name="dagpenger" type="grunnlag:Dagpenger">
        <xsd:annotation>
          <xsd:documentation>Dagpengerobjekt som inneholder opplysninger om dagpengeperiode for bruker og som skal slettes i POPP.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="slettForstegangstjenesteRequest">
    <xsd:sequence>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Forstegangstjenesteobjekt som inneholder opptjeningsinformasjon for ett kalenderår inkludert alle avtjeningsperioder.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="slettOmsorgRequest">
    <xsd:sequence>
      <xsd:element name="omsorg" type="grunnlag:Omsorg">
        <xsd:annotation>
          <xsd:documentation>Omsorgsobjektet som skal slettes. Se domenemodell for Opptjening på ESB for hvilke felt som er påkrevd.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hentOpptjeningsgrunnlagHistorikkRequest">
    <xsd:sequence>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Brukeren det skal returneres opptjeningsgrunnlag for. For fnr som ikke er kjent for registeret vil det returneres en feil.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Parameteren brukes til å filtrere på feltet "ar" og ("inntektAr" for Inntekt) på grunnlagene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="grunnlagTypeListe" type="grunnlag:GrunnlagType">
        <xsd:annotation>
          <xsd:documentation>Angir hvilken type grunnlag som skal returneres. Dersom parameteren ikke er utfylt returneres alle grunnlagene.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tomAr" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Parameteren brukes til å filtrere på feltet ar og inntektAr på grunnlagene</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentOpptjeningsgrunnlagHistorikkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hentOpptjeningsgrunnlagHistorikkResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opptjeningsgrunnlagHistorikk" type="grunnlag:OpptjeningsgrunnlagHistorikk">
        <xsd:annotation>
          <xsd:documentation>Objekt som inneholder liste av grunnlagene for brukeren.

Følgende returneres:
-Opptjeningsgrunnlag
	- Inntekt
	- Omsorg
	- Dagpenger
	- Forstegangstjeneste
		- ForstegangstjenestePeriode </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentOpptjeningsgrunnlagHistorikkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>