incubator/maven/maven-core-artifacts/xmlbeans/ibm-xmlbeans/src/main/xsd/ComponentScopedRefs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="componentScopedRefs" type="componentScopedRefsType"/>
  <xs:complexType name="portQnameBindingsType" mixed="true">
    <xs:sequence>
      <xs:element type="securityRequestGeneratorBindingConfigType" name="securityRequestGeneratorBindingConfig" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
    <xs:attribute type="xs:string" name="portQnameLocalNameLink" use="optional"/>
    <xs:attribute type="xs:anyURI" name="overriddenEndpointURI" use="optional"/>
  </xs:complexType>
  <xs:complexType name="securityRequestGeneratorBindingConfigType">
    <xs:sequence>
      <xs:element type="tokenGeneratorType" name="tokenGenerator"/>
    </xs:sequence>
    <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
  </xs:complexType>
  <xs:complexType name="basicAuthType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
        <xs:attribute type="xs:string" name="userid" use="optional"/>
        <xs:attribute type="xs:string" name="password" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tokenGeneratorType">
    <xs:sequence>
      <xs:element type="valueTypeType" name="valueType"/>
      <xs:element type="callbackHandlerType" name="callbackHandler"/>
      <xs:element type="partReferenceType" name="partReference"/>
    </xs:sequence>
    <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="classname" use="optional"/>
  </xs:complexType>
  <xs:complexType name="partReferenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
        <xs:attribute type="xs:string" name="part" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="componentScopedRefsType">
    <xs:sequence>
      <xs:element type="serviceRefsType" name="serviceRefs" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
    <xs:attribute type="xs:string" name="componentNameLink"/>
  </xs:complexType>
  <xs:complexType name="serviceRefsType">
    <xs:sequence>
      <xs:element type="portQnameBindingsType" name="portQnameBindings"/>
    </xs:sequence>
    <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
    <xs:attribute type="xs:string" name="serviceRefLink" use="optional"/>
  </xs:complexType>
  <xs:complexType name="callbackHandlerType">
    <xs:sequence>
      <xs:element type="basicAuthType" name="basicAuth"/>
    </xs:sequence>
    <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
    <xs:attribute type="xs:string" name="classname" use="optional"/>
  </xs:complexType>
  <xs:complexType name="valueTypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xmi:id" xmlns:xmi="http://www.omg.org/XMI"/>
        <xs:attribute type="xs:anyURI" name="localName" use="optional"/>
        <xs:attribute type="xs:string" name="uri" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>