incubator/stelvio-example/stelvio-example-contexthandler/stelvio-example-contexthandler-provider-lib/no/nav/inf/ContextHandlerVerifierProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ContextHandlerVerifier" targetNamespace="http://stelvio-example-contexthandler-provider-lib/no/nav/inf/ContextHandlerVerifier" xmlns:bons1="http://stelvio-example-contexthandler-provider-lib/no/nav/dataobject" xmlns:tns="http://stelvio-example-contexthandler-provider-lib/no/nav/inf/ContextHandlerVerifier" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://stelvio-example-contexthandler-provider-lib/no/nav/inf/ContextHandlerVerifier">
            <xsd:import namespace="http://stelvio-example-contexthandler-provider-lib/no/nav/dataobject" schemaLocation="../dataobject/responseObject.xsd"/>
            <xsd:import namespace="http://stelvio-example-contexthandler-provider-lib/no/nav/dataobject" schemaLocation="../dataobject/requestObject.xsd"/>
            <xsd:element name="callNoWSChain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:requestObject"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="callNoWSChainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" nillable="true" type="bons1:responseObject"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="callWSChain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:requestObject"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="callWSChainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" nillable="true" type="bons1:responseObject"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="callNoWSChainRequestMsg">
    <wsdl:part element="tns:callNoWSChain" name="callNoWSChainParameters"/>
  </wsdl:message>
    <wsdl:message name="callNoWSChainResponseMsg">
    <wsdl:part element="tns:callNoWSChainResponse" name="callNoWSChainResult"/>
  </wsdl:message>
    <wsdl:message name="callWSChainRequestMsg">
    <wsdl:part element="tns:callWSChain" name="callWSChainParameters"/>
  </wsdl:message>
    <wsdl:message name="callWSChainResponseMsg">
    <wsdl:part element="tns:callWSChainResponse" name="callWSChainResult"/>
  </wsdl:message>
    <wsdl:portType name="ContextHandlerVerifierProvider">
    <wsdl:operation name="callNoWSChain">
      <wsdl:input message="tns:callNoWSChainRequestMsg" name="callNoWSChainRequest"/>
      <wsdl:output message="tns:callNoWSChainResponseMsg" name="callNoWSChainResponse"/>
    </wsdl:operation>
    <wsdl:operation name="callWSChain">
      <wsdl:input message="tns:callWSChainRequestMsg" name="callWSChainRequest"/>
      <wsdl:output message="tns:callWSChainResponseMsg" name="callWSChainResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>